<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="UTF-8">
<title>iTalkBB蜻蜓移動-產品計劃</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="copyright" content="iTalkBB">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../shared/images/header/logo_bookmark.jpg"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="apple-itunes-app" content="app-id=514896649">
<link rel="stylesheet" type="text/css"  href="../shared/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"  href="../shared/css/zh_common.css">
<link rel="stylesheet" type="text/css"  href="../shared/css/zh_home-phone-plans.css">
<link rel="stylesheet" type="text/css"  href="../shared/css/swiper.min.css">
<link rel="stylesheet" type="text/css"  href="../shared/css/reveal.css">
<link rel="stylesheet" type="text/css"  href="../shared/css/zh_mobile-plans.css">
<script src="../shared/js/jquery-1.12.4.min.js"></script>
<script src="../shared/js/jquery-1.7.2.min.js"></script>
<script src="../shared/js/jquery.reveal.js"></script>
<script src="../shared/js/angular-1.6.4.min.js"></script>
<script src="../shared/js/bootstrap.min.js"></script>
<script src="../shared/js/imageMapResizer.js"></script>
<script src="../shared/js/common.js"></script>
<script src="../shared/js/mobilePlanPriceDisplay.js"></script>
<style>
  .content_search_box_tel_none{display: none}
  .orange a{color: #ff7f00}
  .input_small{text-align: center;}
  
  .titleBox{padding: 0 27%;}
  .titleBox p{padding:8% 0% 2% 26%; margin-bottom:-23%;background-size: 22%; background-position-x: 13.5%;background-position-y: 5%;}
  .titleBox2 p{background: #fcfcfc;padding-left: 0;}
  .titleBox3 {padding: 0 36%;}
  .titleBox3 p{background: #f8f8f8; padding-left: 0; padding-top: 6%; margin-bottom:-8%;}
  .planText{margin-top: 15%;}
@media (min-width:768px) and (max-width:1000px){
  .titleBox{padding: 0 21%;}
  .titleBox p{padding:8% 0% 2% 26%; margin-bottom:-24%;background-size: 22%; background-position-x: 14%;background-position-y: 10%;}
  .titleBox2 p{background: #fcfcfc;padding-left: 0;}
  .titleBox3{padding: 0 35%;}
  .titleBox3 p{padding-left: 0;}
  .planText{margin-top: 18%;}
	}
@media (max-width:767px){
  .titleBox p{padding:8% 0% 2% 24%; margin-bottom:-20%;background-size: 18%; background-position-x: 15%;background-position-y: 10%;}
  .titleBox2 p{background: #fcfcfc;padding-left: 0;}
  .planText{margin-top: 19%;}
	}
    </style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42957008-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-42957008-1');
</script>

</head>

<body  ng-app="mobilePlanApp" ng-controller="mobilePlanController" >
   <!-- Author: Carson, Partially copied from Amy -->
   <div id="header"></div>
   <!--main content begin-->  
   <div class="mainLayout">      
       <section class="bannerAll">
     	    <div class="bannerText">
     	    	<p class="title60 mTitle60 bannerTitle pin fwb">蜻蜓移動</p>
     	    	<p class="title30 mTitle30 bannerSubTitle">
     	    	   <span>屬於海外華人的手機計劃</span>
     	    	   <span>為您打造無限 • 精彩 • 雙國生活</span>
     	    	</p>
     	    </div>      	    	   
       </section>
       
       <section class="mainMgnTop">
           <div class="mainMgn100">
               <div class="lineOrange"></div>
           </div>
      	  <div class="mainMgn100"> 
      	    <!-- mobile plan PC begin-->       	         	      	        	 
        	<div class="bbPlan hideM" id="planPoint">
       	      <p class="planTitleBig title42 mTitle50 pin fwb" id="tit">蜻蜓移動產品計劃</p>
                <div class="linex">
                <div class="ifCustomerLeft title24 mTitle32 pin fwb">
                    <p class="ifCustomerLeftText ifCustomerSelected" ng-click="isNotUser();">非用戶</p>
                </div>
                <div class="ifCustomerRight title24 mTitle32 pin fwb">
                    <p class="ifCustomerRightText" ng-click="isUser();">用戶</p>
                </div>
                <div class="clear clearfix"></div>
                <p class="lineSelectTitle title24 mTitle32">選擇手機線數</p>
                <div id="choseline" style="position:relative;">
                    <div class="lineSelect title18 mTitle26">
                        <p class="lineSelectText line1 lineSelectSelected" ng-click="line1()"><span class="sans">1</span>條線</p>
                        <p class="lineSelectText line2" ng-click="line2()"><span class="sans">2</span>條線</p>
                        <p class="lineSelectText line3" ng-click="line3()"><span class="sans">3</span>條線</p>
                        <p class="lineSelectText line4" ng-click="line4()"><span class="sans">4</span>條線</p>
                        <p class="lineSelectText line5" ng-click="line5()"><span class="sans">5</span>條線</p>
                        <p class="lineSelectText line6" ng-click="line6()"><span class="sans">6</span>條線</p>
                        <div class="clear clearfix"></div>
                    </div>
                </div>
                </div>
       	      
        	  <div class="planBox clearfix">
        	  	<div class="planCon">
                   <div class="planUpper" id="up1">
        	  		  <div class="titleBox clearfix">
        	  		     <p class="title36 mTitle44 mTitle">超值計劃<span class="title24 mTitle32 org" style="display: block">1G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  		    <div class="priceBox priceBox2 avenir clearfix">
                          <p class="dollar title60 mTitle68">$</p>
                          <p class="priceBig title140 mTitle162">{{plan1_int}}</p>
                          <p class="priceSmall title70 mTitle78">
                            <span class="smallNom"><span class="trans">.00</span>{{plan1_dec}}</span>
                            <span class="smallSub title36 mTitle44">/月<sup><sup class="sans">1</sup></sup></span>
                          </p>                                	  			 	
        	  			</div>
        	  			<!--<div class="priceBox priceBox1 avenir clearfix">
        	  			   <p class="dollar title60 mTitle68">$</p>
        	  			   <p class="priceBig title140 mTitle162">{{plan1_int}}</p>
        	  			   <p class="priceSmall title70 mTitle78">
        	  			     <span class="smallNom">{{plan1_dec}}</span>
        	  			     <span class="smallSub title36 mTitle44">/月<sup><sup class="sans">1</sup></sup></span>
        	  			   </p>       	  			 	
        	  			</div>-->
        	  			<div class="textBox">
       	  			       <p class="title18 mTitle26">
       	  			        <span><img src="../shared/images/phone/chs_bbPlanIconSale.png" alt="iTalkBB蜻蜓移動-當月優惠" ></span>
        	  			    <span class="textHot">首月免費，返月費</span>
        	  			   </p>
        	  			</div>
        	  		  </div>
                   </div>
        	  	   <div class="planList" id="down1">
        	  		    <div class="planBtn">
						   <a class="down1x" href="https://webaccount.italkbb.com/MvnoSignup/index_USCN_MVNO_CHS.html?act=USCN_USSIM_Online"><p class="button title30 mTitle38">立即訂購</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
       	  			    <div class="list1 chinaSimCard">
                            <p class="titleMgnbtm title20 mTitle28 fwb">蜻蜓移動中國卡<sup class="sans">2</sup>
                                <input type="checkbox" id="chinaSimCardCheckbox" ng-click="checkChinaSimEx()">
                                <label for="chinaSimCardCheckbox" class="org title16 mTitle24 chinaSimCardCheckboxLabel" ng-click="checkChinaSimEx()">$1.00/線/月</label>
                            </p>
                            <p class="title16 mTitle24">落地中國可直接使用、無需註冊。讓您在中國享受一樣的無限通話和流量。</p>

        	  			</div>
                       <p class="chinaSimLastFeatures title16 mTitle24">
                           <span class="countryCheck3">無限流量<sup class="sans">3</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <span class="countryCheck3">無限通話<sup>&nbsp;</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <span class="countryCheck3">無限短信<sup>&nbsp;</sup></span>
                       </p>
        	  	   </div>
        	  	</div>
        	  	<div class="planSpace hideM"></div>
        	  	<div class="planCon plan2">
                   <div class="planUpper" id="up2">
					  <div class="titleBox titleBox2 clearfix">
        	  			<p class="title36 mTitle44">暢享計劃<span class="title24 org" style="display: block">5G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			 <div class="priceBox priceBox2 avenir clearfix">
        	  			   <p class="dollar title60 mTitle68">$</p>
        	  			   <p class="priceBig title140 mTitle162">{{plan2_int}}</p>
        	  			   <p class="priceSmall title70 mTitle78">
        	  			     <span class="smallNom"><span class="trans">.00</span>{{plan2_dec}}</span>
                             <span class="smallSub title36 mTitle44">/月<sup><sup class="sans">1</sup></sup></span>
        	  			   </p>       	  			 	
        	  			 </div>
        	  			 <div class="textBox">
       	  			       <p class="title18 mTitle26">
       	  			        <span><img src="../shared/images/phone/chs_bbPlanIconSale.png" alt="iTalkBB蜻蜓移動-當月優惠" ></span>
        	  			    <span class="textHot">首月免費，返月費</span>
        	  			   </p>
        	  			 </div>
        	  		  </div>
                   </div>
        	  	   <div class="planList planList2" id="down2">
        	  		    <div class="planBtn">
						   <a class="down2x" href="https://webaccount.italkbb.com/MvnoSignup/index_USCN_MVNO_CHS.html?act=USCN_USSIM_Online"><p class="button title30 mTitle38">立即訂購</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
       	  			    <div class="list2 chinaSimCard">
                                <p class="title20 mTitle28 fwb pin">蜻蜓移動中國卡<sup class="sans">2</sup>
                                    <input type="checkbox" id="chinaSimCardCheckbox2" ng-click="checkChinaSimEx()">
                                    <label for="chinaSimCardCheckbox2" class="org title16 mTitle24 chinaSimCardCheckboxLabel2" ng-click="checkChinaSimEx()">$1.00/線/月</label>
                                </p>
                                <p class="title16 mTitle24">落地中國可直接使用、無需註冊。讓您在中國享受一樣的無限通話和流量。</p>

                            </div>
                            <p class="chinaSimLastFeatures title16 mTitle24">
                                <span class="countryCheck3">無限流量<sup class="sans">3</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="countryCheck3">無限通話<sup>&nbsp;</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="countryCheck3">無限短信<sup>&nbsp;</sup></span>
                            </p>
        	  	   </div>
        	  	</div>
        	  </div>
             
        	</div>
        	<!-- mobile plan PC End-->  
        	 
        	<!-- mobile plan Phone begin-->   
        <div class="bbPlan showM" id="planPointphone">
       	      <p class="planTitleBig title42 mTitle50 pin fwb" id="titphone">蜻蜓移動產品計劃</p>
              <div class="linexphone">
				<div class="ifCustomerLeft title24 mTitle32 pin fwb">
					<p class="ifCustomerLeftText ifCustomerSelected" ng-click="isNotUser();">非用戶</p>
				</div>
				<div class="ifCustomerRight title24 mTitle32 pin fwb">
					<p class="ifCustomerRightText" ng-click="isUser();">用戶</p>
				</div>
				<div class="clear clearfix"></div>

				<p class="lineSelectTitle title24 mTitle32">選擇手機線數</p>

				<div  id="choselinephone" style="position:relative;">
					<div class="lineSelect title18 mTitle26">
						<p class="lineSelectText line1 lineSelectSelected" ng-click="line1()"><span class="sans">1</span>條線</p>
						<p class="lineSelectText line2" ng-click="line2()"><span class="sans">2</span>條線</p>
						<p class="lineSelectText line3" ng-click="line3()"><span class="sans">3</span>條線</p>
						<p class="lineSelectText line4" ng-click="line4()"><span class="sans">4</span>條線</p>
						<p class="lineSelectText line5" ng-click="line5()"><span class="sans">5</span>條線</p>
						<p class="lineSelectText line6" ng-click="line6()"><span class="sans">6</span>條線</p>
						<div class="clear clearfix"></div>
					</div>
				</div>
        </div>


       	      <div class="mSwiperBox mNewswiper2">
        	  <div class="planBox mSwiper-wrapper clearfix">
        	  	<div class="planCon plan1 mSwiper-slide" >
                   <div class="planUpper" id="up1phone">
        	  		  <div class="titleBox clearfix">
        	  			 <p class="title36 mTitle44">超值計劃<span class="title24 mTitle32 org" style="display: block">1G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			<div class="priceBox priceBox2 avenir clearfix">
        	  			   <p class="dollar title60 mTitle68">$</p>
        	  			   <p class="priceBig title140 mTitle162">{{plan1_int}}</p>
        	  			   <p class="priceSmall title70 mTitle78">
        	  			     <span class="smallNom"><span class="trans">.00</span>{{plan1_dec}}</span>
        	  			     <span class="smallSub title36 mTitle44">/月<sup><sup class="sans">1</sup></sup></span>
        	  			   </p>       	  			 	
        	  			</div>
        	  			<div class="textBox">
       	  			       <p class="title18 mTitle26">
       	  			        <span><img src="../shared/images/phone/chs_bbPlanIconSale.png" alt="iTalkBB蜻蜓移動-當月優惠" ></span>
        	  			    <span class="textHot">首月免費，返月費</span>
        	  			   </p>
        	  			</div>
        	  		  </div>
                   </div>
        	  	   <div class="planList">
        	  		    <div class="planBtn">
						   <a class="down1x" href="https://webaccount.italkbb.com/MvnoSignup/index_USCN_MVNO_CHS.html?act=USCN_USSIM_Online"><p class="button title30 mTitle38">立即訂購</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
					   <div class="list1 chinaSimCard">
						   <p class="title20 mTitle28 fwb">蜻蜓移動中國卡<sup class="sans">2</sup>
							   <input type="checkbox" id="chinaSimCardCheckbox3" ng-click="checkChinaSimEx()">
							   <label for="chinaSimCardCheckbox3" class="org title16 mTitle24 chinaSimCardCheckboxLabel3" ng-click="checkChinaSimEx()">$1.00/線/月</label>
						   </p>
						   <p class="title16 mTitle24">落地中國可直接使用、無需註冊。讓您在中國享受一樣的無限通話和流量。</p>

					   </div>
					   <p class="chinaSimLastFeatures title16 mTitle24">
						   <span class="countryCheck3">無限流量<sup class="sans">3</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						   <span class="countryCheck3">無限通話<sup>&nbsp;</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						   <span class="countryCheck3">無限短信<sup>&nbsp;</sup></span>
					   </p>
        	  	   </div>
        	  	</div>
        	  	<div class="planCon plan2 mSwiper-slide">
                   <div class="planUpper">
        	  		  <div class="titleBox titleBox2 clearfix">
        	  			 <p class="title36 mTitle44">暢享計劃<span class="title24 mTitle32 org" style="display: block">5G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			<div class="priceBox priceBox2 avenir clearfix">
        	  			   <p class="dollar title60 mTitle68">$</p>
        	  			   <p class="priceBig title140 mTitle162">{{plan2_int}}</p>
        	  			   <p class="priceSmall title70 mTitle78">
        	  			     <span class="smallNom"><span class="trans">.00</span>{{plan2_dec}}</span>
        	  			     <span class="smallSub title36 mTitle44">/月<sup><sup class="sans">1</sup></sup></span>
        	  			   </p>       	  			 	
        	  			</div>
        	  			<div class="textBox">
       	  			       <p class="title18 mTitle26">
       	  			        <span><img src="../shared/images/phone/chs_bbPlanIconSale.png" alt="iTalkBB蜻蜓移動-當月優惠" ></span>
        	  			    <span class="textHot">前三個月免費，免開通費</span>
        	  			   </p>
        	  			</div>
        	  		  </div>
                   </div>
        	  	   <div class="planList planList2">
        	  		    <div class="planBtn">
						   <a class="down2x" href="https://webaccount.italkbb.com/MvnoSignup/index_USCN_MVNO_CHS.html?act=USCN_USSIM_Online"><p class="button title30 mTitle38">立即訂購</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
					   <div class="list2 chinaSimCard">
						   <p class="title20 mTitle28 fwb">蜻蜓移動中國卡<sup class="sans">2</sup>
							   <input type="checkbox" id="chinaSimCardCheckbox4" ng-click="checkChinaSimEx()">
							   <label for="chinaSimCardCheckbox4" class="org title16 mTitle24 chinaSimCardCheckboxLabel4" ng-click="checkChinaSimEx()">$1.00/線/月</label>
						   </p>
						   <p class="title16 mTitle24">落地中國可直接使用、無需註冊。讓您在中國享受一樣的無限通話和流量。</p>

					   </div>
					   <p class="chinaSimLastFeatures title16 mTitle24">
						   <span class="countryCheck3">無限流量<sup class="sans">3</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						   <span class="countryCheck3">無限通話<sup>&nbsp;</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						   <span class="countryCheck3">無限短信<sup>&nbsp;</sup></span>
					   </p>
        	  	   </div>
        	  	</div>
        	  </div>
              <!-- Add Arrows -->
              <div class="mSwiper-button-next mSwiper-button-next2"></div>
              <div class="mSwiper-button-prev mSwiper-button-prev2"></div>
             </div>
        	</div>
        	<!-- mobile plan Phone End-->  
        	 
        	<!-- mobile plan Others Begin-->  
        	<div class="bbPlanOther" style="">
       	      <div class="planOtherBox">
        	     <div class="planRefund">
                     <p class="title36 mTitle44 pin fwb">北美最大最可靠的<br class="showM"><span class="sans">4G LTE</span>網絡</p>
			     </div>
       	      </div>
       	      <div class="planIcons">
       	       	   <div class="iconsBox clearfix">
             	      <div class="iconCon iconCon1">
             		     <p class="titleMgnBtm text16 mText22"></p>
             	      </div>
             	      <div class="iconCon iconCon2">
             		     <p class="titleMgnBtm text16 mText22"></p>
             	      </div>
             	      <div class="iconCon iconCon3">
             		     <p class="titleMgnBtm text16 mText22">無限流量<sup class="sans">3</sup></p>
             	      </div>
             	      <div class="iconCon iconCon4">
             		     <p class="titleMgnBtm text16 mText22">無限通話/短信</p>
             	      </div>
             	      <div class="iconCon iconCon5">
             		     <p class="titleMgnBtm text16 mText22">美國卡/中國卡</p>
             	      </div>
             	      <div class="iconCon iconCon6">
             		     <p class="titleMgnBtm text16 mText22">國際通話</p>
             	      </div>
             	      <div class="iconCon iconCon7">
             		     <p class="titleMgnBtm text16 mText22"></p>
             	      </div>
             	      <div class="iconCon iconCon8">
             		     <p class="titleMgnBtm text16 mText22"></p>
             	      </div>
				   </div>
      	        </div>
        	</div> 
        	<!-- mobile plan Others End-->    	
		  </div>           	      	
       </section>
       
    <section class="dataComparison">
        <p class="titleMgnBtm title36 mTitle44 pin fwb">移動生活，處處精彩</p>
        <p class="title18 mTitle26">蜻蜓移動為您提供高速流量，最多高達<span class="sans">5G</span>高速流量！</p>
        <div class="dataComparisonLeft">
            <img src="../shared/images/mobile/cht_what_to_do_1G_data.png" class="img" alt="iTalkBB蜻蜓移動">
        </div>
        <div class="dataComparisonRight">
            <img src="../shared/images/mobile/cht_what_to_do_5G_data.png" class="img" alt="iTalkBB蜻蜓移動">
        </div>
        <div class="clear clearfix"></div>
        <p class="title16 mTitle24 dataComparisonComments">數據來源：新華社</p>
    </section>
       
      <div class="twoCountriesPlan clearfix">
	   	     <div class="twoCardText">
	   	     	<p class="titleMgnBtm title36 mTitle44 pin fwb">美國卡&中國卡<sup><sup class="sans">4</sup></sup>：<br class="showM">一個手機計劃 美國中國都能用</p>
	   	     	<p class="title18 mTitle26 mCardText">蜻蜓移動為您提供美國卡和中國卡。美國卡供您在美國境內使用，中國卡供您在中國大陸使用，兩張<span class="sans">SIM</span>卡共用一個手機計劃。不論您在美國還是中國，都能享受無線通話、無限短信、高速流量。</p>
	   	     </div>	
	   	     <div class="cardCon mainMgn200 clearfix">
	   	        <div class="cardBox text18 mText26">
	   	        	<p class="titleMgnBtm cardTitle cardTitle1 title30 mTitle38 pin fwb">在美國</p>
	   	        	<div class="cardList">
	   	        		<p>享受美國本地無限通話、無限短信、無限流量。</p>
	   	        		<p>接收來自中國卡的電話-中國親友撥打您的中國手機號，將自動轉接到您美國的手機上，而您中國的親友只需支付中國本地話費。</p>
	   	        		<p><span class="fwb bl">獨家功能：</span>接收來自中國的短信和驗證碼！ 註冊銀行賬號、網上賬戶，淘寶購物輕鬆搞定！</p>
	   	        	</div>
	   	        </div>
	   	        <div class="cardBox cardSpace">&nbsp;</div>
	   	        <div class="cardBox text18 mText26">
	   	        	<p class="titleMgnBtm cardTitle cardTitle2 title30 mTitle38 pin fwb">在中國</p>
	   	        	<div class="cardList">
	   	        		<p>享受中國本地無限通話、無限短信、高速流量。</p>
	   	        		<p>接收來自美國卡的電話-美國親友撥打您的美國手機號，將自動轉接到您中國的手機上，而您美國的親友只需支付美國本地話費。</p>
	   	        	</div>
	   	        </div>
	   	     </div>
	   	  </div> 
	   	  
	   	  <div class="internationalCall clearfix">
	   	     <div class="callText">
	   	     	<p class="titleMgnBtm title36 mTitle44 pin fwb">國際通話，免費暢打<br class="showM">全球29個國家和地區</p>
	   	     	<p class="title18 mTitle26">想要暢打<a href="home-phone-rates.html#countries" target="_blank" class="linkOrange">全球<span class="sans">29</span>個國家和地區</a>？</p>
	   	     </div>	
	   	     <div class="callCon cardCon mainMgn200 clearfix">
	   	        <div class="cardBox text18 mText26">
	   	        	<div class="cardList">
	   	        		<p>新用戶只需購買或升級到帶有國際通話功能的套餐，也可以輕鬆暢打全球。</p>
	   	        	</div>
	   	        </div>
	   	        <div class="cardBox cardSpace">&nbsp;</div>
	   	        <div class="cardBox text18 mText26">
	   	        	<div class="cardList">
	   	        		<p>iTalkBB蜻蜓電話用戶將享受免費的國際通話功能<sup class="sans">5</sup>。</p>
	   	        	</div>
	   	        </div>
	   	     </div>
	   	     <p class="title30 mTitle38 pin multipleCountriesPhone">撥打<span class="sans">1-855-482-5566</span>，<br class="showM">立刻升級</p>
	   	     <div class="countriesMap">
	   	        <img src="../shared/images/mobile/countries_available_map.jpg" alt="iTalkBB蜻蜓移動">
	   	     </div>
	   	  </div>

        <section class="unlimitedTextTalkBanner">
            <p class="title36 mTitle44 unlimitedTextTalkTitle pin fwb">無限短信、通話</p>
            <p class="title18 mTitle26 unlimitedTextTalkSubTitle">免費無限撥打美國國內電話，免費無限收發<br class="showM">美國國內短信。</p>
        </section>

       <section class="mobileDisclaimer mainMgn100 gray">
          <ul class="listNom text14 mText18">
		   	<li>
		   		<p>價格不包括開通費、卡費、稅費和運費。</p>
		   	</li>
		   	<li>
		   		<p>中國卡由iTalk Global Communications, Inc.出售，您可在之後的註冊過程中額外購買。在中國：享受美國卡上的套餐計劃而無需支付任何額外費用；在美國：免費接收來自中國的電話/短信/驗證碼。中國卡服務費$1.00/線/月，一次性卡費$10/卡。</p>
		   	</li>
		   	<li>
		   		<p>本月高速流量用完後用戶將被降速至月賬單結束，僅限美國市場。</p>
		   	</li>
		   	<li>
		   		<p>美國卡服務由iTalk Mobile Corporations提供；中國卡服務由iTalk Global Communications, Inc.提供。</p>
		   	</li>
		   	<li>
		   		<p>根據您現有iTalkBB蜻蜓電話服務的不同，我們會贈送您不同的國際通話分鐘數：現$4.99套餐用戶獲得100分鐘/線/月國際通話分鐘數，現$24.99套餐用戶獲得無限國際通話分鐘數/線/月。</p>
		   	</li>
		  </ul>
       </section>
  </div>
  <!--main content end-->  
    

  <div class="lineBlue mt0"></div>
  <div id="footer"></div>
    <script>
	   $('#header').load('header.html');
       $('#footer').load('footer.html');
    </script>

   <!-- Swiper JS begin-->
  <script src="../shared/js/swiper.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
        var swiper = new Swiper('.mNewswiper2', {
            pagination: '.mSwiper-pagination2',
            paginationClickable: '.mSwiper-pagination2',
            nextButton: '.mSwiper-button-next2',
            prevButton: '.mSwiper-button-prev2',
            spaceBetween: 0
        });
  </script>
<!-- Swiper JS end-->
  



</body>
<script> 
$(window).resize(function(){
var screenWidth = window.innerWidth;
console.log(screenWidth);
    if(screenWidth<767){
              
                  var a = $("#up1phone").height();
                  var c = $("#planPointphone").width();
                  var d = $("#titphone").height();
                  var u = $(".linexphone").height();                    
                  var b = c*0.035;
                  // 標題高
                  var p = d+b;
                  var f =$('#choselinephone').width()*0.03;
                  var k = p+a+u+f;
            $(".bbPlan").css({"background-size":"100% "+k+'px'}); 

        }
    if(screenWidth>=767){
          var a = $("#up1").height();
                  var c = $("#planPoint").width();
                  var d = $("#tit").height();
                  var u = $(".linex").height();                    
                  var b = c*0.035;
                  // 標題高
                  var p = d+b;
                  var f =$('#choseline').width()*0.03;
                  var k = p+a+u+f;
            $(".bbPlan").css({"background-size":"100% "+k+'px'});

      $(".planSpace").css({"height":k});
      
    var i = $("#up1").height();
    $("#up2").css({"height":i});
    var o = $("#down1").height();
    $("#down2").css({"height":o});    
    
        }
});

$(function(){
var screenWidth = window.innerWidth;



    if(screenWidth<767){
          
                  var a = $("#up1phone").height();
                  var c = $("#planPointphone").width();
                  var d = $("#titphone").height();
                  var u = $(".linexphone").height();                    
                  var b = c*0.035;
                  // 標題高
                  var p = d+b;
                  var f =$('#choselinephone').width()*0.03;
                  var k = p+a+u+f;
            $(".bbPlan").css({"background-size":"100% "+k+'px'}); 


        }
    if(screenWidth>=767){
          var a = $("#up1").height();
                  var c = $("#planPoint").width();
                  var d = $("#tit").height();
                  var u = $(".linex").height();                    
                  var b = c*0.035;
                  // 標題高
                  var p = d+b;
                  var f =$('#choseline').width()*0.03;
                  var k = p+a+u+f;
            $(".bbPlan").css({"background-size":"100% "+k+'px'});


			$(".planSpace").css({"height":a});
			
		var i = $("#up1").height();
		$("#up2").css({"height":i});
    var o = $("#down1").height();
    $("#down2").css({"height":o});  	
		
        }
});



</script>
</html>