.pin{
    font-family: "open sans", arial, sans-serif;
}
.header1Icon:nth-child(1){
    width:4.2%;
}
.menuText {
    color: #333333;
    font-size: 18px;
}
.teleText {
    color: #333333;
    font-size:18px;
}
.footerText {
    color: #d4d4d4;
    font-size: 14px;
}
.bgTitle {
    font-size: 18px;
}













