.right2{
    padding-top:3%;
}
.right3{
    padding-top:2%;
}

@media (max-width:1600px) {
    .right3{
        padding-top:3%;
    }
}

@media (max-width:1500px) {

}

@media (max-width:1300px) {

}

@media (max-width: 1000px) and (min-width: 768px){
    .aboutBanner {
        background: url(../../shared/images/about/companyBannerBg.jpg) top center no-repeat;
        background-size: 200%;
        background-position-x: 18%;
    }
}

@media (max-width:767px) {
    .aboutTitle{
        font-size:7.5vw;
    }
}















