/* Version:1.0  
  Author: Amy
  Create Date:2017-10-31 
  Update Date:2017-11-11 Amy
  Desc : Bundles Common CSS EN*/ 
  
  .listCon .hook{padding-left: 6%; background-size: 3.6%; background-position-y: .2vw;}
  .iconsList p{padding-left: 5.7%; background-size: 3.4%; background-position-y: .12vw;}
  .iconsCon2 .iconsList p{padding-left: 4.2%; background-size: 2.5%;}
  
  .textBox{margin-top: 1%;}
  .textSpecialBox{line-height: 1.6; text-align: left; padding-top: 3.5%; padding-bottom: 13%; padding-left: 24.5%; padding-right: 0%; background: url(../images/phone/en_bbPlanIconSale.png) no-repeat; background-size: 12%;background-position-x: 13%; background-position-y: .2vw;}
  .titleBox{border-bottom:1px solid #222; padding: 0 14%;}
  .titleBox p{padding:8% 0% 2% 14%; margin-bottom:-13%; background-size: 13%; background-position-x: 5.5%;background-position-y: 10%;}
  .titleBox2 p{background: #fcfcfc;padding-left: 0;}
  .titleBox3{padding: 0 36%;}
  .titleBox3 p{background: #f8f8f8; padding-left: 0; padding-top: 6%; margin-bottom:-8%;}
  .titleBox4 p{background: #fcfcfc;padding-left: 0;}
  .titleBox5{padding: 0 18%;}
  .titleBox5 p{padding:8% 0% 2% 16%; margin-bottom:-14.5%; background-size: 14%; background-position-x: 7%;background-position-y: 5%;}

@media (max-width:1800px){
  .titleBox p{font-size: 22px; margin-bottom:-14%;}
  .titleBox5 p{font-size: 22px; margin-bottom:-16%;}
}

@media (max-width:1600px){
  .titleBox p{font-size: 20px; margin-bottom:-13%;}
  .titleBox5 p{font-size: 20px; margin-bottom:-15%;}
}

@media (max-width:1500px){
  .titleBox p{padding:8% 0% 2% 14%; background-size: 12%; background-position-x: 4%; background-position-y: 20%; font-size: 19px;}
  .titleBox2 p{background: #fcfcfc;padding-left: 0;}
  .titleBox3{padding: 0 36%;}
  .titleBox3 p{background: #f8f8f8; padding-left: 0; padding-top: 6%; margin-bottom:-8%;}
  .titleBox4 p{background: #fcfcfc;padding-left: 0;}
  .titleBox5 p{font-size: 20px; margin-bottom:-15%;}
}

@media (max-width:1400px){
  .titleBox p{font-size: 18px; margin-bottom:-13.5%;}
  .titleBox5 p{font-size: 19px; margin-bottom:-15.5%;}
}

@media (max-width:1300px){
  .titleBox p{font-size: 16px; margin-bottom:-13.5%;}
  .titleBox5 p{font-size: 17px; margin-bottom:-15%;}
}

@media(max-width:1200px){
  .titleBox p{font-size: 14px; margin-bottom:-13.5%;}
  .titleBox5 p{font-size: 15px; margin-bottom:-15%;}
}

@media  (min-width:768px) and (max-width:1000px){
    /* bundles banner begin*/
	.listCon .hook{padding-left: 7%; background-position-y: .35vw;background-size: 4.2%;}
    .iconsList p{padding-left: 9%; background-size: 5.5%; background-position-y: .32vw;}
    .iconsCon2 .iconsList p{padding-left: 6%; background-size: 3.6%; background-position-y: .26vw;}
	
	.planText{margin-top: 17%;}	
	.titleBox{padding: 0 12%;}
	.titleBox p{font-size: 1.8vw; margin-bottom:-15%; background-position-x: 5.5%;}
	.titleBox2 p{background: #fcfcfc;padding-left: 0;}
    .titleBox3{padding: 0 36%;}
    .titleBox3 p{background: #f8f8f8; padding-left: 0; padding-top: 6%; margin-bottom:-8%;}
    .titleBox4 p{background: #fcfcfc;padding-left: 0;}
	.titleBox5 p{font-size: 1.8vw; margin-bottom:-16.5%;}
	.textBox{padding-top: 0%;}
	.textSpecialBox{line-height: 1.5; padding-left: 27.5%; padding-top: 4%; padding-bottom: 15%; background-size: 15%;background-position-x: 13%; background-position-y: 1vw;}
	.textSpecialBox p{font-size: 1.3vw; padding-right: 10%;}
}
@media (max-width:767px){
    /* bundles banner */
    .listCon .hook{background-position-y: .8vw;background-size: 4.5%;padding-left: 0;}
    .iconsList p,.iconsCon2 .iconsList p{padding-left: 6.5%;background-size: 3.8%;background-position-y: .7vw;} 
	
	.planText{margin-top: 17%;}
	.textBox{padding-top: 0%;}
	.textSpecialBox{line-height: 1.5; padding-left: 23%; padding-top: 4%; padding-bottom: 14%; background-size: 14%;background-position-x: 9%; background-position-y: .6vw;}
	.planCon .titleBox{padding: 0 12%;}
	.titleBox p{padding:8% 0% 2% 14%; background-size: 13%; font-size: 3.3vw; background-position-x: 6%; margin-bottom:-13.5%;}
	.titleBox2 p{background: #fcfcfc;padding-left: 0;}
    .titleBox3{padding: 0 36%;}
    .titleBox3 p{background: #f8f8f8; padding-left: 0; padding-top: 6%; margin-bottom:-8%;}
    .titleBox4 p{background: #fcfcfc;padding-left: 0;}
}

@media (max-width:511px){	
	
}