/* Version:1.0  Author: Amy
  Create Date:2017-10-30
  Update Date:2017-11-09
  Desc : All Common CSS EN */  
body {font-family: "open sans", arial, sans-serif!important; background-color: #fff; color: #222; height:100%; margin: 0; padding:0; overflow: hidden; transition: margin-left .5s, margin-right .5s;}
.pin,.mic{font-family: "open sans", arial, sans-serif!important;}
.linkWhite{font-family: Microsoft Yahei, sans-serif!important;}

.bgTitle{width: 70%;}
.menuRight {width: 32%;}
.telephone{width:18%; margin-left: -5%;}

.menu1Block, .menu2Block, .menu3Block, .menu4Block, .menu5Block {width: 16%;}
.menu1Block img, .menu2Block img, .menu3Block img, .menu4Block img, .menu5Block img{width: 22%; margin-left: 39%; padding-bottom: 4%;}

@media (max-width:1600px){
   .menu1Block, .menu2Block, .menu3Block, .menu4Block, .menu5Block {width: 17%;}
}

@media (max-width:1400px){
   .menu1Block, .menu2Block, .menu3Block, .menu4Block, .menu5Block {width: 18%;}
}

@media (max-width:1300px){
   .menu1Block, .menu2Block, .menu3Block, .menu4Block, .menu5Block {width: 19%;}
   .menu1Block img, .menu2Block img, .menu3Block img, .menu4Block img, .menu5Block img{width: 26%; margin-left: 37%;}
}

@media (min-width:768px) and (max-width:1000px) {
    .footerColumn{width:18.8%;}
	.telephone{width:26%; margin-left: -13%; padding-top: 5%;}   
}

@media (max-width:767px) {
    

}











