.carousel-caption .bandRight {
    margin-left: 3%;
}
.bannerTitle2 {
    padding-left: 4%;
}
.sectionTitle {
    padding-top: 10%;
    color: #222222;
    line-height: 1.5;
}
.informationBar {
    margin-left: 4%;
}
.bannerButton{
    margin-left:4%;
}
.bannerBgSection {
    background: url(../images/index/chs_bannerPriceImg.png) no-repeat top left;
    background-size: 11%;
    background-position-x: 45%;
}
.textLeftBottonEnglish{
    color:white;
    position: absolute;
    left: -10%;
}
.sectionText {
    line-height: 1.3;
    color: #333333;
    border-bottom:1px solid #d2d2d2;
}
.s2iconText1, .s2iconText2, .s2iconText3, .s2iconText4,
.s3iconText1, .s3iconText2, .s3iconText3, .s3iconText4,
.s4iconText1, .s4iconText2, .s4iconText3, .s4iconText4,
.s5iconText1, .s5iconText2, .s5iconText3{
    color: #333333;
    padding-left: 8%;
    margin-bottom: 0;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.s2iconText1{
    background: url(../images/index/s2icon1.png) no-repeat top left;
    background-position-y: 53%;
}
.s2iconText2{
    background: url(../images/index/s2icon3.png) no-repeat top left;
    background-position-y: 53%;
}
.s2iconText3{
    background: url(../images/index/s2icon2.png) no-repeat top left;
    background-position-y: 53%;
}
.s2iconText4{
    background: url(../images/index/s2icon4.png) no-repeat top left;
    background-position-y: 53%;
}
.s3iconText1{
    background: url(../images/index/s3icon1.png) no-repeat top left;
    background-position-y: 53%;
}
.s3iconText2{
    background: url(../images/index/s3icon3.png) no-repeat top left;
    background-position-y: 53%;
}
.s3iconText3{
    background: url(../images/index/s3icon2.png) no-repeat top left;
    background-position-y: 53%;
}
.s3iconText4{
    background: url(../images/index/s3icon4.png) no-repeat top left;
    background-position-y: 53%;
}
.s4iconText1{
    background: url(../images/index/chs_s4icon1.png) no-repeat top left;
    background-position-y: 53%;
}
.s4iconText2{
    background: url(../images/index/s4icon2.png) no-repeat top left;
    background-position-y: 53%;
}
.s4iconText3{
    background: url(../images/index/chs_s4icon3.png) no-repeat top left;
    background-position-y: 53%;
}
.s4iconText4{
    background: url(../images/index/s4icon4.png) no-repeat top left;
    background-position-y: 53%;
}
.knowMoreText p {
    margin-bottom: 13%;
}
.bandButton {
    margin-top:28%;
}
.knowMoreText5 p{
    margin-bottom: 24%;
}
.contactTitle {
    color: #222222;
}
.contactSubTitle {
    text-align: center;
    color: #333333;
}
.s6IconText {
    color: #333333;
    padding-left: 37%;
    background-position-x: 32%;
}
.subscribeTitle {
    color: #222222;
}
.bannerButton{
    margin-left:4%;
}
.bannerTitle1 {
    padding-left: 4%;
    margin-top: 5%;
    line-height: 1.1;
    background: none;
}
.bannerTitleCombine{
    background: url("../images/index/en_bannerPriceImg.png") no-repeat bottom left;
    background-size: 9.5%;
    background-position-x: 40%;
}
.mtSpecialEN{
    margin-top:25%;
}



@media (max-width:1700px) {
    .bannerTitleCombine {
        background-size: 8%;
        background-position-x: 42%;
    }
}

@media (max-width:1600px) {
    .bannerTitleCombine {
        background-size: 9%;
        background-position-x: 40%;
    }
}

@media (max-width:1500px) {

}

@media (max-width:1400px) {

}

@media (max-width:1300px){

}

@media (min-width:768px) and (max-width:992px) {
    .bannerTitle1 {
        margin-top: 4%;
        line-height: 1.3;
    }
    .bannerTitleCombine {
        background-size: 10%;
    }
    .bannerButton {
        padding: 0.5% 1%;
    }
    .sectionTitle {
        margin-bottom: 0;
        padding-top: 7%;
    }
    .sectionText {
        width:95%;
    }
    .bandButton {
        width: 100%;
        margin-top: 27%;
    }
    .contactTitle, .subscribeTitle {
        padding-top: 4%;
    }
    .s6IconText {
        padding-left: 35%;
        background-position-x: 28%;
    }
}

@media (max-width:767px) {
    .bannerTitle1 {
        line-height: 1.2;
        margin-top: 1%;
    }
    .bannerTitle2 {
        line-height: 1;
    }
    .bannerButton {
        margin-left: 25%;
    }
    .sectionTitle {
        padding-top: 7%;
    }
    .s2iconText1, .s2iconText3, .s2iconText2, .s2iconText4,
    .s3iconText1, .s3iconText3, .s3iconText2, .s3iconText4,
    .s4iconText1, .s4iconText3, .s4iconText2, .s4iconText4,
    .s5iconText1, .s5iconText3, .s5iconText2 {
        float: left;
        width: 50%;
    }
    .s2iconText1, .s2iconText2, .s2iconText3, .s2iconText4,
    .s3iconText1, .s3iconText2, .s3iconText3, .s3iconText4,
    .s4iconText1, .s4iconText2, .s4iconText3, .s4iconText4,
    .s5iconText1, .s5iconText2, .s5iconText3{
        padding-left: 0;
        margin-bottom: 0;
        padding-top: 17%;
        margin-top: 3%;
        padding-bottom: 3%;
        text-align: center;
    }
    .s2iconText1 {
        background: url(../images/index/s2icon1.png) no-repeat top center;
        background-size: 30%;
    }
    .s2iconText2 {
        background: url(../images/index/s2icon2.png) no-repeat top center;
        background-size: 30%;
    }
    .s2iconText3 {
        background: url(../images/index/s2icon3.png) no-repeat top center;
        background-size: 30%;
    }
    .s2iconText4 {
        background: url(../images/index/s2icon4.png) no-repeat top center;
        background-size: 30%;
    }
    .s3iconText1 {
        background: url(../images/index/s3icon1.png) no-repeat top center;
        background-size: 30%;
    }
    .s3iconText2 {
        background: url(../images/index/s3icon2.png) no-repeat top center;
        background-size: 30%;
    }
    .s3iconText3 {
        background: url(../images/index/s3icon3.png) no-repeat top center;
        background-size: 30%;
    }
    .s3iconText4 {
        background: url(../images/index/s3icon4.png) no-repeat top center;
        background-size: 30%;
    }
    .s4iconText1 {
        background: url(../images/index/chs_s4icon1.png) no-repeat top center;
        background-size: 30%;
    }
    .s4iconText2 {
        background: url(../images/index/s4icon2.png) no-repeat top center;
        background-size: 30%;
    }
    .s4iconText3 {
        background: url(../images/index/chs_s4icon3.png) no-repeat top center;
        background-size: 30%;
    }
    .s4iconText4 {
        background: url(../images/index/s4icon4.png) no-repeat top center;
        background-size: 30%;
    }
    .s5iconText3 {
        background: url(../images/index/s5icon3.jpg) no-repeat top center;
        background-size: 30%;
    }
    .s5iconText1 {
        background: url(../images/index/s5icon1.png) no-repeat top center;
        background-size: 30%;
    }
    .s5iconText2 {
        background: url(../images/index/s5icon2.png) no-repeat top center;
        background-size: 30%;
    }
    .knowMore {
        background: url(../images/index/s2button.png) top left no-repeat;
        background-position: 39% 60%;
    }
    .knowMoreText p {
        padding-left: 7%;
        margin-bottom:5%;
    }
    .bandButton {
        width: 70%;
        color: #ff7f00;
        background: white;
        padding: 2% 4%;
        border-radius: 10px;
        text-align: center;
        margin-left: 5%;
        margin-top: 15%;
        cursor: pointer;
        box-shadow: none;
        text-shadow: none;
    }
    .bandLeftS3 {
        width: 68%;
    }
    .bandRightS3MobileEn{
        width:32%;
    }







}





