.countryCheck3 {
    background-size: 12%;
    padding-left: 4%;
}
.twoCountriesPlanSubTitle{
    padding-left:10%;
    padding-right:10%;
}


@media (max-width:767px) {
    .countryCheck3 {
        background-size: 12%;
        padding-left: 6%;
        line-height: 2;
    }
    #chinaSimCardCheckbox3, #chinaSimCardCheckbox4{
        margin-left:0;
    }
    .twoCountriesPlanSubTitle{
        padding-left:5%;
        padding-right:5%;
    }
}