




@media  (min-width:1501px) and (max-width:1920px){
.opt{height: 50%}	
.opt2{height: 50%}	
}





@media  (min-width:1201px) and (max-width:1500px){
.opt{height: 50%}	
.opt2{height: 50%}	
}

@media (min-width:1000px) and (max-width:1200px) {
		.opt {height: 40%;}

	
}


@media (max-width: 767px){
	.opt {height: 58%;}
	.opt2 {height: 55%;}
}
