/* support All css */
/* Amy制作 */
body{margin: 0;padding:0;overflow: hidden;font-family:'open sans', Arial, sans-serif;}
    .foldText{padding: 1.8% 2.4% 1.4% 2.4%;}
	.foldBoxSpc1 .bubbleAngle{margin-left: 51%;}
	.foldBoxSpc2 .bubbleAngle{margin-left: 83.5%;}
	ul{margin-left: 1.75%; padding: 0;}
	ul.listDot{width: 120%}
	ul.listDot li{float: left;width: 32%; line-height: 1.5;}
	.btnTxt18 img{margin-left: 1.5%; width: 2.6%; margin-bottom: 1.0%;}

@media  (min-width:1651px) and (max-width:1800px){ul{margin-left: 1.85%;}}
@media  (min-width:1501px) and (max-width:1650px){ul{margin-left: 1.86%;}}
@media  (min-width:1351px) and (max-width:1500px){ul{margin-left: 1.88%;}}
@media  (min-width:1201px) and (max-width:1350px){ul{margin-left: 1.86%;}}
@media  (min-width:1001px) and (max-width:1200px){ul{margin-left: 1.88%;}}

@media  (min-width:1500px) and (max-width:1700px){.Sharp{width: 1.9%;}}	
@media  (min-width:1300px) and (max-width:1500px){.Sharp{width: 1.8%;}}	
@media  (min-width:1000px) and (max-width:1300px){
	.Sharp{width: 1.6%;}
	.textNote{padding-left: 1.5%; background-size: 1%;background-position-y: 3.5%;}
	.btnTxt18 img{margin-left: 1.5%; margin-bottom: 1.2%;}
}

@media  (min-width:768px) and (max-width:1000px){
    .foldText{padding: 1.8% 2.4% 1.4% 2.4%;}
	.foldBoxSpc1 .bubbleAngle{margin-left: 55%;}
	.foldBoxSpc2 .bubbleAngle{margin-left: 88%;}
	ul{margin-left: 2.1%;}
	ul.listDot{width: 126%; margin-left: 2%;}
	.btnTxt18 img{margin-left: 2.5%; width: 3.2%; margin-bottom: 1%;}
}

@media (max-width:767px){
    .foldText{padding:3.5% 3% 2.3% 4.6%;}
    .foldBoxSpc1 .bubbleAngle{margin-left: 17%;}
	.foldBoxSpc2 .bubbleAngle{margin-left: 16%;}
	ul{margin-left: 5%;}
	ul.listNom li{line-height: 1.61}
	ul.listDot{margin-left: 6%;}
	ul.listDot li{width: 48%; padding-right: 8%;}
	.btnTxt18 img{margin-left: 2.8%; width: 4%; margin-bottom: 1%;}	
}	
	
	