/*幻灯*/
.index_banner{ margin:0 auto; width:1000px; height:262px; margin-top:-5px; position:relative; z-index:2}
.index_banner, .index_banner a {
	color:#FFF;	
}
.index_banner a.readmore{
	color:#58B1EA;
	font-size:95%;	
}
.index_banner{
	position:relative;
	overflow:hidden;
	border:#F4F4F4 solid 1px;
	z-index:1px
}
.index_banner .preload{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	text-align:center;
	background:#FFF
}
.index_banner .preload div{
	height:100%;
	width:100%;
	background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
}
.lof-main-outer{
	position:relative;
	height:100%;
	width:1000px;
	margin: 0 auto;
	/*z-index:3px;*/
	overflow:hidden;
}

/*******************************************************/
.lof-main-item-desc{
	z-index:100px;
	position:absolute;
	bottom:50px;
	left:0px;
	width:350px;
	background:url(../images/bg_trans.png);
	height:100px;
	/* filter:0.7(opacity:60) */
	padding:10px;
}
.lof-main-item-desc p{
	margin:0 8px;
	padding:8px 0
}
.lof-main-item-desc h3{
	padding:0;
	margin:0
}
.lof-main-item-desc h2{
	padding:0;
	margin:15px 0 0 0px;
}
.lof-main-item-desc h3 a{	
	margin:0;
	background:#C01F25;
	font-size:75%;
	padding:2px 3px;
	font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
	text-transform:uppercase;
	text-decoration:none
}
.lof-main-item-desc h3 a:hover{

	text-decoration:underline;
}
.lof-main-item-desc h3 i {
	font-size:70%;
}

/* main flash */
ul.lof-main-wapper{
	/* margin-right:auto; */
	overflow:hidden;
	background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
	padding:0px;
	margin:0;
	position:absolute;
	overflow:hidden;
}

ul.lof-main-wapper li{
	overflow:hidden;
	padding:0px;
	margin:0px;
	float:left;
	position:relative;
	width:1000px;
	height:262px
}
.lof-opacity {
	overflow:visible  !important;;
	position:absolute !important;
}
.lof-opacity  li{
	position:absolute  !important;;
	top:0;
	left:0;
	float:inherit  !important;
}
ul.lof-main-wapper li img{
	padding:0px;
	width:1000px
}

/* item navigator */
.lof-navigator-wapper {
	position:absolute;
	bottom:15px;
	left:10px;
	padding:5px 15px;
	-moz-border-radius:5px 5px 5px 5px;

}
.lof-navigator-outer{
	position:relative;
	z-index:100;
	height:20px;
	width:75px;
	overflow:hidden;
	float:left;
}
ul.lof-navigator{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;
}
ul.lof-navigator li{
	cursor:pointer;
	list-style:none;
	padding:0;
	margin-left:0px;
	overflow:hidden;
	float:left;
	display:block;
	background:url(../images/index_nanner_over.png) no-repeat; 
	width:15px; 
	height:15px;
}
ul.lof-navigator li.active , ul.lof-navigator li:hover  {
	background:url(../images/index_nanner_on.png) no-repeat; 
	display:block; 
}
.banner_box{ position:relative}
.banner_box_bg{
	background:url(../images/index_bannner_line.png) repeat-x;
	position:absolute;
	height:45px;
	width:1000px;
	left: 0px;
	top: -46px;
}
.banner_box_organization{ width:140px; float:left; border-right:1px dotted #FFFFFF; height:45px;font-size:14px; color:#FFFFFF; line-height:43px; text-indent:45px}
.banner_box_organization a{ color:#FFFFFF; background:url(../images/index_bannner_organization_bg.png) 25px center no-repeat;display:block; height:45px; font-weight:bold;line-height:45px}
.banner_box_organization a:hover{ background-color:#ffa200; display:block; height:45px; background-image:url(../images/index_bannner_organization_bg.png); background-position:25px center;font-weight:bold;line-height:45px}

.en_banner_box_organization{ width:160px; float:left; border-right:1px dotted #FFFFFF; height:45px;font-size:14px; color:#FFFFFF; line-height:43px; text-indent:45px}
.en_banner_box_organization a{ color:#FFFFFF; background:url(../images/index_bannner_organization_bg.png) 25px center no-repeat;display:block; height:45px; font-weight:bold;line-height:45px}
.en_banner_box_organization a:hover{ background-color:#ffa200; display:block; height:45px; background-image:url(../images/index_bannner_organization_bg.png); background-position:25px center;font-weight:bold;line-height:45px}


.banner_box_tel{ width:210px;border-right:1px dotted #FFFFFF; float:left;text-indent:35px ;font-size:14px;}
.banner_box_tel a{ color:#FFFFFF; background:url(../images/index_bannner_tel_bg.png.png) 25px center no-repeat;display:block; height:45px; font-weight:bold; line-height:45px}
.banner_box_tel a:hover{ background-color:#ffa200; display:block; height:45px; background-image:url(../images/index_bannner_tel_bg.png.png); background-position:25px center;font-weight:bold;line-height:45px}
.banner_box_tv{ width:210px;border-right:1px dotted #FFFFFF; float:left;text-indent:42px;font-size:14px; }
.banner_box_tv a{ color:#FFFFFF; background:url(../images/index_bannner_tv_bg.png.png) 25px 14px no-repeat;display:block; height:45px; font-weight:bold; line-height:45px}
.banner_box_tv a:hover{ background-color:#ffa200; display:block; height:45px; background-image:url(../images/index_bannner_tv_bg.png.png); background-position:25px 14px;font-weight:bold;line-height:45px}



.en_banner_box_tv{ width:210px;border-right:1px dotted #FFFFFF; float:left;text-indent:42px;font-size:14px; }
.en_banner_box_tv a{ color:#FFFFFF; background:url(../images/index_bannner_tv_bg.png.png) 25px 14px no-repeat;display:block; height:45px; font-weight:bold; line-height:45px}
.en_banner_box_tv a:hover{ background-color:#ffa200; display:block; height:45px; background-image:url(../images/index_bannner_tv_bg.png.png); background-position:25px 14px;font-weight:bold;line-height:45px}

.index_login{ float:right; width:148px; height:45px; line-height:45px; margin-right:10px}
.index_left{ float:left; background:url(../images/login.jpg) no-repeat; height:30px; width:72px; margin:0 auto; margin-top:8px}
.index_left input{ float:left; width:72px; height:30px; background:none; border:0; cursor:pointer}
.index_right{ float:left; margin-left:4px; background:url(../images/join.jpg) no-repeat; height:30px; width:72px;margin-top:8px}
.index_right input{ float:left; width:72px; height:30px; background:none; border:0; cursor:pointer}

/*首页4个广告*/
.index_adv{ margin:0 auto; margin-top:26px; width:940px; overflow:hidden}
.index_adv a{ color:#c94010; text-decoration:underline}
.index_adv ul li{ float:left; margin-right:8px; border:1px solid #d9dee3}
.index_adv #li{float:left; margin-right:0px}
.index_adv_first{ background:url(../images/index_adv_first.jpg) no-repeat; width:227px; height:253px}
.index_adv_first a span{ margin-left:16px; margin-top:75px; display:block; text-align:left}
.index_adv_second{ background:url(../images/index_adv_second.jpg) no-repeat; width:227px; height:253px}
.index_adv_second a span{margin-left:17px; margin-top:90px; display:block; text-align:left}
.index_adv_third{ background:url(../images/index_adv_third.jpg) no-repeat; width:227px; height:253px}
.index_adv_third a span{margin-left:17px; margin-top:110px; display:block; text-align:left}
.index_adv_fourth{ background:url(../images/index_adv_fourth.jpg) no-repeat; width:227px; height:253px}
.index_adv_fourth a span{margin-left:20px; margin-top:90px; display:block; text-align:left}

.chs_index_adv{ margin:0 auto; margin-top:26px; width:940px; overflow:hidden}
.chs_index_adv a{ color:#c94010; text-decoration:underline}
.chs_index_adv ul li{ float:left; margin-right:8px; border:1px solid #d9dee3}
.chs_index_adv #li{float:left; margin-right:0px}
.chs_index_adv_first{ background:url(../images/chs_index_adv_first.jpg) no-repeat; width:227px; height:253px}
.chs_index_adv_first a span{ margin-left:16px; margin-top:75px; display:block; text-align:left}
.chs_index_adv_second{ background:url(../images/chs_index_adv_second.jpg) no-repeat; width:227px; height:253px}
.chs_index_adv_second a span{margin-left:17px; margin-top:90px; display:block; text-align:left}
.chs_index_adv_third{ background:url(../images/chs_index_adv_third.jpg) no-repeat; width:227px; height:253px}
.chs_index_adv_third a span{margin-left:17px; margin-top:110px; display:block; text-align:left}
.chs_index_adv_fourth{ background:url(../images/chs_index_adv_fourth.jpg) no-repeat; width:227px; height:253px}
.chs_index_adv_fourth a span{margin-left:20px; margin-top:90px; display:block; text-align:left}

.en_index_adv{ margin:0 auto; margin-top:26px; width:940px; overflow:hidden}
.en_index_adv a{ color:#c94010; text-decoration:underline}
.en_index_adv ul li{ float:left; margin-right:8px; border:1px solid #d9dee3}
.en_index_adv #li{float:left; margin-right:0px}
.en_index_adv_first{ background:url(../images/en_index_adv_first.jpg) no-repeat; width:227px; height:253px}
.en_index_adv_first a span{ margin-left:15px; margin-top:90px; display:block; text-align:left}
.en_index_adv_second{ background:url(../images/en_index_adv_second.jpg) no-repeat; width:227px; height:253px}
.en_index_adv_second a span{margin-left:16px; margin-top:90px; display:block; text-align:left}
.en_index_adv_third{ background:url(../images/en_index_adv_third.jpg) no-repeat; width:227px; height:253px}
.en_index_adv_third a span{margin-left:15px; margin-top:120px; display:block; text-align:left}
.en_index_adv_fourth{ background:url(../images/en_index_adv_fourth.jpg) no-repeat; width:227px; height:253px}
.en_index_adv_fourth a span{margin-left:16px; margin-top:95px; display:block; text-align:left}