/* Version:1.0  Author: Amy
  Create Date:2017-09-05 
  Update Date:2017-09-11 
  Desc : bbPlan Reveal CSS */ 
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(5,5,15,.8);
		opacity:0.8;
		filter: alpha(opacity=80); 
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 16%; 
		left: 50%;
		margin-left: -33.38%;
		width: 66.7%;
		background: #fcfcfc /*url(modal-gloss.png) no-repeat -200px -80px*/;
		position: absolute;
		/*position:fixed;*/
		z-index: 101;
		padding: 35px 40px 30px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		.reveal-modal2 {
		top: 35%; 
		margin-left: -26%;
		width: 52%;
		text-align: center;
		}
		
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 


@media (min-width:768px) and (max-width:1000px) {
    .reveal-modal{top: 18%;  margin-left: -42.5%; width: 85%;}

}




