
.fixhead{padding-top: 9%;}
.d1{position: relative;}
.textBanner{position: absolute;top: 33%;left: 5%}
.textBanner .t1{font-size: 70px;color: white;font-family: pingfang light;}
.textBanner .t2{font-size: 32px;color: white;}
.where{max-width: 1620px;margin:2% auto;background: #ffffff }
.orange{width: 100%;height: 10px;background: #ff7f00; }
.change{max-width: 805px;margin: 2% auto}
.changes{width: 30%;font-family: pingfang light;font-size: 22px;color:#767676;display: inline-block;text-align: center;border: 1px solid #327fe8;line-height: 1.8}
.changes2{margin-left:4%;margin-right:4%  }
.shop{max-width: 1620px;margin:0 auto ;background-color:#f8f9f9 }
.shop .title{font-size: 36px;text-align: center;font-family: pingfang light;margin: 2%;}
.changeShop select{width: 100%;padding: 2%;font-size:18px }
.changeShop{margin: 2% auto;width: 38%;}
.shopx{width: 50%;float: left;margin-top: 5%}
.map{width: 50%;float: right;height:100%;background: red}
.shops{position: relative;}
