.bodyy{max-width: 1920px;position: relative;}
.f18{font-size: 18px}
.fixhead{padding-top: 9%;}
.d1{position: relative;}
.d1 img{width: 100%;}
.textBanner{position: absolute;top: 33%;left: 5%}
.textBanner .t1{font-size: 70px;color: white;}
.textBanner .t2{font-size: 32px;color: white;}
.where{width: 88.5%;margin:0 auto;background: #ffffff;position: relative;margin-top: 3%;margin-bottom: 1.5% }
.orange{width: 100%;height: 10px;background: #ff7f00; }
.change{width:48%;margin: 0 auto;margin-top:1.2% }
.changes{width: 32.5%;font-family: pingfang light;font-size: 22px;color:#767676;display: inline-block;text-align: center;border: 1px solid #327fe8;line-height: 180%;vertical-align:top;}
.changes2{margin-left:0.8%;margin-right:0.8%  }
.shop{width: 88.5%;margin:0 auto ;background-color:#f8f9f9 }
.shop .title{font-size: 36px;text-align: center;font-family: pingfang light;padding-top: 3%;color: #333333}
.shops{padding-bottom: 3%}
.backgroundColor{background-color:#f8f9f9}
.changeShop select{width: 100%;padding: 2%;font-size:18px;border:1px solid #333333; }
.changeShop{margin: 1.5% auto;width: 39%;}
.shopx{width: 50%;float: left;margin-top: 8.5%;padding-left: 5.4%}
.map{width: 50%;float: right;padding-top: 4%;height: 360px;padding-left: 4%;padding-right: 5%}
.shopname{font-size: 32px;margin-bottom:1.7%}
.address,.num,.time{margin-top: 1.1%}
.white{background: #ffffff}
.d2img{display: none}

@media (max-width:767px){
.d1img{display: none}
.d2img{display: block;}
.where{width: 100%}
.change{width: 91%;margin-top:2.6%;margin-bottom: 2.6% }
.shop{width: 100%}
.fixhead{padding-top: 9%;}
.textBanner{top: 11%;width: 100%;left: 0%;text-align: center;}
.textBanner .t1{font-size: 6vw;}
.textBanner .t2{margin-top:1%;font-size: 4vw; }
.changes{line-height: 250%;font-size:3vw }
.shop .title{padding-top: 7%;font-size:4.5vw}
.changeShop{margin-top: 3.9%;width: 61%;margin-bottom:0 }
.changeShop select{font-size: 3vw;color:#767676;margin-bottom:9%; }
.shopx{width: 100%;padding-top:8%;display: block;float: none;padding-left:0; }
.map{width: 100%;display: block;;float:none;padding-top: 6%;height: 360px;padding-left: 0;padding-right: 0}
.shops{width: 84%;text-align: center;margin: 0 auto}
.shopname{font-size: 4.1vw;text-align: center;margin-bottom:4.5% }
.address,.num,.time{text-align: left;font-size: 2.9vw;color: #808080;margin-top: 3.3%}
}