.aboutBanner{
    background:url("../../shared/images/about/companyBannerBg.jpg") top center no-repeat;
    background-size:cover;
}
.aboutTitle{
    color: white;
    font-weight: 600;
    padding-top: 9.5%;
    margin-bottom:0;
}
.aboutSubtitle {
    padding-top: 1%;
    font-weight: 300;
    color: white;
    line-height: 1.3;
    margin-bottom: 0;
    padding-bottom: 20%;
}
.aboutTopIcon{
    float:left;
    width:20%;
    padding-top: 14.5%;
}
.aboutTopIcon img{
    width:75%;
    margin-left:12.5%;
    opacity:0.9;
    cursor: pointer;
}
.aboutTopIconFirst{
    margin-left:10%;
}
.aboutTopOrg{
    display:none;
}
.aboutTextTitle{
    padding-top: 2%;
    color: #222222;
    margin-bottom: 0;
    font-weight: 500;
}
.aboutTextText{
    color: #444344;
    padding-bottom: 1%;
    padding-top:1%;
    margin-bottom: 0;
}
@keyframes rot {
    0%   { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}
.aboutTextLeftImg{
    float: left;
    width: 13%;
    cursor: pointer;
    margin-top: 2.5%;
}
.aboutTextLeftImg img{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
}
.divA{
    width: 100%;
    position: relative;
}
.divB, .divC, .divD{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../shared/images/about/textLeftIconBorder.png) top center no-repeat;
    background-size: cover;
}
.divB:hover, .divC:hover, .divD:hover{
    animation:rot 2s infinite;
    animation-delay:0s;
    animation-timing-function: linear;
}
.aboutTextRightText{
    float: left;
    width: 85%;
    padding-left: 5%;
    padding-top: 5%;
}
.rightTextTitle{
    font-weight:500;
}
.rightTextSubTitle{
    line-height:1.6;
}
.orangeBandLevel{
    border-top:5px solid #ff7f00;
}
.aboutContentTab{
    margin-top:2%;
}
.aboutSectionTab{
    float: left;
    width: 15.3%;
    margin-right: 0.6%;
}
.aboutSectionTab1 {
    margin-left: 26%;
}
.aboutSectionTabText{
    text-align: center;
    color: #222222;
    border: 1px solid #327fe8;
    font-weight: 500;
    padding: 3%;
    margin-top: 10%;
    cursor: pointer;
    text-shadow: none;
    box-shadow: inset 0 0 0 0 #327fe8;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.aboutSectionTabTextActive{
    background:#327fe8;
    color:white;
    border:1px solid #327fe8;
}
.aboutSectionTabText:hover {
    color: white;
    box-shadow: inset 300px 0 0 #327fe8;
    border:1px solid #327fe8;
}
#card img{
    width:100%;
}
.lastBg {
    background: url(../../shared/images/about/lastBg.jpg) bottom center no-repeat;
    background-size: 100%;
    padding-bottom: 7%;
}
.aboutNewsBanner1, .aboutNewsBanner2, .aboutNewsBanner3{
    width:33.3%;
    float:left;
    margin-right:0.05%;
    position:relative;
    border-bottom:5px solid #327fe8;
    overflow:hidden;
    cursor:pointer;
}
.aboutNewsBanner1 img:hover, .aboutNewsBanner2 img:hover, .aboutNewsBanner3 img:hover{
    transform: scale(1.2);
}
.aboutNewsBanner1 img, .aboutNewsBanner2 img, .aboutNewsBanner3 img{
    transition: all 1s;
}
.aboutNewsBanner2{
    border-bottom:5px solid #ff7f00;
}
.aboutNewsBanner3{
    margin-right:0;
}
.aboutNewsBannerText{
    background: black;
    opacity: 0.8;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 300;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 0;
    text-align: center;
}
.yearText{
    color: #222222;
    padding-left: 5%;
    margin-bottom: 0;
}
.yearContainer{
    width:28%;
    position:relative;
}
.yearSelect{
    width: 100%;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 1%;
    margin-top: 5%;
    cursor:pointer;
}
.yearSelectLeft{
    float:left;
    width:80%;
}
.yearSelectRight{
    width:20%;
    float:left;
}
.yearRightArrow{
    margin-bottom: 0;
    text-align: center;
    border-left: 1px solid #808080;
}
.otherYearText{
    color:#222222;
    text-align:center;
    margin-bottom:0;
    border: 1px solid #aaaaaa;
    cursor:pointer;
    background: rgba(255,255,255,0.9);
}
.otherYearText:hover{
    background:rgba(255,127,0,0.9);
    border:1px solid #ff7f00;
    color:white;
    transition:all, 0.5s;
}
.otherYear{
    position: absolute;
    width: 100%;
    display: block;
}
.year2017, .year2016, .year2015{
    transition: all, 0.5s;
}
.newsBlockLeft{
    float:left;
    padding-left: 3%;
    width:20%;
}
.newsBlockRight{
    float:left;
    width:80%;
}
.newsBlockLeftYear{
    color:#333333;
    margin-bottom:0;
}
.newsBlockLeftDate{
    color:#333333;
    font-size:90px;
    margin-bottom:0;
}
.newsBlock{
    margin-top: 8%;
    margin-bottom: 8%;
    cursor: pointer;
}
.fontAdjust{
    font-size: 32px;
    top: -30px;
    vertical-align: middle;
}
.newsBlockRightText{
    margin-bottom: 0;
    font-size: 21.6px;
    padding-top: 1%;
    line-height: 1.5;
}
.newsBlockRightTitle{
    margin-bottom:0;
    font-size:33px;
}
.wtf{
    display: inline-block;
    position: absolute;
    margin-top: -75px;
}
.deviderText{
    font-size:28px;
    text-align:center;
    color:#ff7f00;
    cursor:pointer;
}
.none{
    display:none;
}
.yo:last-of-type{
    margin-bottom:10%;
}
.floatImg{
    display:block;
    position: absolute;
    margin-top: -9.7%;
    right: 13%;
    width: 8%;
}
.formalVideoSection{
    padding-top:5%;
}
.formalVideoSection .aboutNewsBanner{
    margin-top:0.5%;
}
.mt0{
    margin-top:0;
}
#video0, #video1, #video2, #video3, #video4, #video5, #video6, #video7, #video8, #video9, #video10 {
    z-index: 3000;
    width: 50%;
    margin-left: 25%;
    position: fixed;
    margin-top: 10%;
    cursor:pointer;
}
.maskVideo{
    opacity: 0.8;
    background-color: black;
    z-index: 2000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    width: 100%;
}
.formalVideoSection .newsBanner1,
.formalVideoSection .newsBanner2,
.formalVideoSection .newsBanner3{
    cursor:pointer;
}
.companyLogoVideo{
    width:80%;
    margin-left:10%;
    cursor:pointer;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videoWrapper1 {
    position: relative;
    width:80%;
    margin-left:10%;
    padding-bottom: 45%; /* 16:9 */
    margin-top: 2%;
    height: 0;
}
.videoWrapper1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:1600px) {
    .container1520 {
        padding-left:3%;
        padding-right:3%;
    }
    .lastBg {
        background-size: 80%;
    }
}

@media (max-width:1500px) {
    .container1520 {
        padding-left:5%;
        padding-right:5%;
    }
}

@media (max-width:1300px) {
    .aboutTextRightText {
        padding-top: 4%;
    }
    .aboutSubtitle{
        padding-bottom:16%;
    }
}

@media (max-width: 1000px) and (min-width: 768px){
    .aboutSubtitle {
        padding-bottom: 12%;
    }
    .aboutTextLeftImg{
        width:20%;
    }
    .aboutTextRightText{
        width:80%;
    }
    .lastBg{
        background-size:100%;
    }
    .aboutSectionTab1 {
        margin-left: 17%;
    }
    .aboutSectionTab {
        width: 21.5%;
    }
    #video0, #video1, #video2, #video3, #video4, #video5, #video6, #video7, #video8, #video9, #video10 {
        width: 90%;
        margin-left: 5%;
        margin-top: 20%;
    }
}

@media (max-width:767px) {
    .aboutSectionTab1 {
        margin-left: 5%;
    }
    .aboutSectionTab {
        width: 29.5%;
        margin-right: 0;
    }
    .aboutTextText {
        padding-bottom: 2%;
        padding-top: 2%;
        line-height: 1.5;
    }
    .aboutTextLeftImg {
        width: 25%;
        float:left;
        margin-top: 5%;
    }
    .aboutTextRightText{
        width:75%;
    }
    .lastBg{
        background-size:100%;
    }
    .aboutSectionTab2 .aboutSectionTabText, .aboutSectionTab3 .aboutSectionTabText{
        border-left:none;
    }
    .companyLogoVideo{
        width:100%;
        margin-left: 0;
    }
    .titleLeftSpecial{
        padding-top:11%;
    }
    .aboutNewsBanner1, .aboutNewsBanner2, .aboutNewsBanner3 {
        width: 49.5%;
        margin-right: 0.5%;
    }
    .formalVideoSection .clear, .formalVideoSection .clearfix{
        display:none;
    }
    #video0, #video1, #video2, #video3, #video4, #video5, #video6, #video7, #video8, #video9, #video10 {
        width: 90%;
        margin-left: 5%;
        margin-top: 40%;
    }
    .videoWrapper1 {
        width:100%;
        margin-left:0;
        padding-bottom: 56.25%; /* 16:9 */
    }
}















