.aboutBanner{
    background:url("../../shared/images/about/companyBannerBg.jpg") top center no-repeat;
    background-size:cover;
}
.aboutTitle{
    color: white;
    font-weight: 600;
    padding-top: 9.5%;
    margin-bottom:0;
}
.aboutSubtitle {
    padding-top: 1%;
    font-weight: 500;
    color: white;
    line-height: 1.3;
    margin-bottom: 0;
    padding-bottom: 20%;
}
.aboutTopIcon{
    float:left;
    width:20%;
    padding-top: 14.5%;
}
.aboutTopIcon img{
    width:75%;
    margin-left:12.5%;
    opacity:0.9;
    cursor: pointer;
}
.aboutTopIconFirst{
    margin-left:10%;
}
.aboutTopOrg{
    display:none;
}
.aboutTextTitle{
    padding-top: 3%;
    color: #222222;
    margin-bottom: 0;
    font-weight: 600;
}
.aboutTextText{
    color: #444344;
    padding-bottom: 1%;
    padding-top:1%;
    margin-bottom: 0;
}
@keyframes rot {
    0%   { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}
.aboutTextLeftImg{
    float:left;
    width:15%;
    cursor:pointer;
    margin-top: 2%;
}
.aboutTextLeftImg img{
    width:100%;
}
.divA{
    width: 100%;
    position: relative;
}
.divB, .divC, .divD{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../shared/images/about/textLeftIconBorder.png) top center no-repeat;
    background-size: cover;
}
.divB:hover, .divC:hover, .divD:hover{
    animation:rot 2s infinite;
    animation-delay:0s;
    animation-timing-function: linear;
}
.aboutTextRightText{
    float: left;
    width: 85%;
    padding-left: 5%;
    padding-top: 5%;
}
.rightTextTitle{
    font-weight:600;
}
.rightTextSubTitle{
    line-height:1.6;
}
.orangeBandLevel{
    border-top:5px solid #ff7f00;
}
.aboutContentTab{
    margin-top:2%;
}
.aboutSectionTab{
    float:left;
    width:15%;
    margin-right:1%;
}
.aboutSectionTab1{
    margin-left:18%;
}
.aboutSectionTabText{
    text-align: center;
    color: #222222;
    border: 1px solid #222222;
    font-weight: 300;
    padding: 3%;
    margin-top: 10%;
    cursor: pointer;
    text-shadow: none;
    box-shadow: inset 0 0 0 0 #327fe8;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.aboutSectionTabTextActive{
    background:#327fe8;
    color:white;
    border:1px solid #327fe8;
}
.aboutSectionTabText:hover {
    color: white;
    box-shadow: inset 300px 0 0 #327fe8;
    border:1px solid #327fe8;
}
#card img{
    width:100%;
}
.lastBg{
    background:url("../../shared/images/about/lastBg.jpg") top center no-repeat;
    background-size:cover;
    padding-bottom: 5%;
}
.aboutNewsBanner1, .aboutNewsBanner2, .aboutNewsBanner3{
    width:33.3%;
    float:left;
    margin-right:0.05%;
    position:relative;
    border-bottom:5px solid #327fe8;
    overflow:hidden;
    cursor:pointer;
}
.aboutNewsBanner1 img:hover, .aboutNewsBanner2 img:hover, .aboutNewsBanner3 img:hover{
    transform: scale(1.2);
}
.aboutNewsBanner1 img, .aboutNewsBanner2 img, .aboutNewsBanner3 img{
    transition: all 1s;
}
.aboutNewsBanner2{
    border-bottom:5px solid #ff7f00;
}
.aboutNewsBanner3{
    margin-right:0;
}
.aboutNewsBannerText{
    background: black;
    opacity: 0.8;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 300;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 0;
    text-align: center;
}
.yearText{
    color: #222222;
    padding-left: 5%;
    margin-bottom: 0;
}
.yearContainer{
    width:28%;
    position:relative;
}
.yearSelect{
    width: 100%;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 1%;
    margin-top: 5%;
    cursor:pointer;
}
.yearSelectLeft{
    float:left;
    width:80%;
}
.yearSelectRight{
    width:20%;
    float:left;
}
.yearRightArrow{
    margin-bottom: 0;
    text-align: center;
    border-left: 1px solid #808080;
}
.otherYearText{
    color:#222222;
    text-align:center;
    margin-bottom:0;
    border: 1px solid #aaaaaa;
    cursor:pointer;
    background: rgba(255,255,255,0.9);
}
.otherYearText:hover{
    background:rgba(255,127,0,0.9);
    border:1px solid #ff7f00;
    color:white;
    transition:all, 0.5s;
}
.otherYear{
    position: absolute;
    width: 100%;
    display: block;
}