/* Version:1.0  Author: Amy
  Create Date:2017-10-09 
  Update Date:2017-10-25
  Desc : bundles-tv-phone CSS */ 
  
/* bundles banner begin */
.bdBanBox{/*font-family: Microsoft Yahei, sans-serif;*/}
.bdBanBox a,.bdBanBox a:link,.bdBanBox a:hover,.bdBanBox a:visited{color: #fff;}
.bdBannerCon{max-width: 1920px; text-align: center;padding-top: 4.5%;color: #fff; background: url(../images/support/sptBannerBg.jpg) no-repeat; background-size: 100%;}
.bdBanTitle{margin-bottom: .75%;}
.bdBanArrow{margin-top: 1.6%; background: url(../images/support/sptBannerArrow.png) no-repeat scroll center center; background-size: 1.8%;}
.bdBanCon{padding-bottom: 2.4%;}
.bdBanBox{margin: 0 auto; width: 76%;}
.bdBanBox .bdBanA{float: left; width: 33.3%; cursor: pointer; padding-top: 2.7%;}
.bdBanBox .bdBanA:hover,.bdBBTVMbanner .bdBanA1,.bdBBMbanner .bdBanA2,.bdBBTVbanner .bdBanA3{background: url(../images/support/sptBannerIconLight.png) no-repeat; background-size: 72%; background-position-x: 50%;background-position-y: -4%;}
.bdBanBox p{padding-top: 8%;}
.bdBanBox img{margin: 0 auto; width: 56%;}
/* bundles banner end*/

/*plan begin*/
ul.listNom{padding-left: 1%;}
ul.listNom li{list-style-type:decimal;}
.bdDisclaimer{margin-top: 5%; margin-bottom: 7%;}
.left{float: left;}
.right{float: right;}
.titleMgnBtm,.bundlesBox,.bundlesBoxOther,.bbTryout,.bbApp,.otherFuncBox{text-align: center;}
.tryoutCon > .left,.tryoutCon > .right{width: 50%;}
.textBox p,.planBtn p{margin-bottom: 0;}
.bundlesBox,.bundlesBoxOther{margin: 0 auto;padding: 0 12.8%;}
.bundlesBoxOther{margin-top: 4%;}
.bundlesBox{background: url(../images/phone/bbPlanBg01.jpg) no-repeat;}
.planTitleBig{ color: #fff; margin-bottom: 2.5%; padding-top: 3.5%}
.planBox .planCon,.planBox .planSpace{float: left;}
.planSpace{ width: 6.9%;position: relative;}
.planCompare{overflow:hidden; position:absolute; z-index:100; margin-left: -17%; margin-top: 18%; width: 146%; bottom: 0;}
.planCompare img{display: inline-block; width: 100%;}
.planFormCon{padding-bottom: 1.8%;}
.planCon{width: 46.55%; background: #fcfcfc;}
.titleBox{border-bottom:1px solid #222; padding: 0 15%;}
.titleBox p{padding:8% 0% 2% 22%; margin-bottom:-16.5%; background: #fcfcfc url(../images/phone/chs_bbPlanIconHot.png) no-repeat; background-size: 18%; background-position-x: 7%;background-position-y: 5%;}
.titleBox2 p{background: #fcfcfc;padding-left: 0;}
.titleBox3{padding: 0 36%;}
.titleBox3 p{background: #f8f8f8; padding-left: 0; padding-top: 6%; margin-bottom:-8%;}
.titleBox4 p{background: #fcfcfc;padding-left: 0;}
.planText{margin-top: 15%;}
.lineNotes{color: #888;}
.textBox{margin-top: 4%; padding-top: 2%; padding-bottom: 7%; padding-right: 1%;}
.textBox p{color: #ff7f00;}
.textBox p img{display: inline-block; width: 12.2%; padding-bottom: 4.5%;}
.planList{background: #f2f2f2;}
ul{padding-left: 0;}
ul.bundlesCon li{float: left; width: 50%; padding-right: 3%;}
ul.bundlesCon li.double{width: 100%;}
.double .Sharp{width: 3.4%;}
.double .textCon{ width: 96.5%;}
.Sharp,.textCon{float: left; display: block;}
.Sharp{vertical-align: top;width: 7%;}
.textCon{ width: 93%;}
.listCon{padding: 10% 6.5% 8% 10.5%; text-align: left;/* font-family: Microsoft Yahei, sans-serif;*/}
.listCon .hook{margin-bottom: 5%; padding-left: 6.5%; background: url(../images/icons/hookIconOrange.png) no-repeat; background-size: 4%; background-position-y: .2vw;}
.planBtn{float: left; width: 44%; background: #327fe8; margin-left: 28%; margin-top: -5%; padding-bottom: .2%; border-radius: 10px; cursor: pointer;}
.planBtn p{line-height: 1.8;}
.planBtn a{color: #fff;}
.planOtherBox{margin-bottom: 5%;}
.planRefund{margin-bottom: 4.5%;}
.planYearUp{background: #f8f8f8;  padding-bottom: 5.5%;}
.planYearUp .yearTextCenter{margin: 6% 0 0 37%;}
.planYearDown .planBtn{width: 22%; margin-left: 39%; margin-top: -2.5%;}
.planYearDown .listCon{padding: 5% 2% 0 5.1%;}
.planYearDown .listCon .hook{float: left; width: 46%; margin-bottom: 3%; margin-right: 4%; padding-left: 2.9%; background-size: 3.5%;}
.planYearDown .listCon .conRight{margin-right: 0;}

/*.lineSelectTitle{color:white; padding-top:1%; padding-bottom:2%; margin-bottom:0;}*/
.lineSelectText{
    text-align: center;
    color: white;
    background: #00afff;
    width: 14%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0;
    border-radius: 6px;
    float: left;
    margin-right: 3.2%;
    z-index: 10;
    cursor:pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: box-shadow ease 0.8s, padding-top 0s, padding-bottom 0s, margin-top 0s;
}
.lineSelectText:before{
     border-top: .25vw solid #00afff;
     content:"";
     margin: 0 auto; /* this centers the line to the full width specified */
     position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
     top: 50%; left: 0; right: 0; bottom: 0;
     padding-left:12.5%;
     padding-right:12.5%;
	 margin-top: -.7%;
     width: 95%;
     z-index: -1;
}
.line6 {margin-right: 0;}
.lineSelect{position: relative; text-align: center; margin-bottom: 3%; z-index: 0; width: 75%; margin-left: 12.5%;}
/*.crossBorder{border-top: 4px solid #00afff; width: 75%; margin-left: 12.5%; position: absolute; top: 50%;}*/
.lineSelectText:hover{color: white;
    box-shadow: inset 200px 0 10px #00afff;
    transition: box-shadow ease 0.8s, padding-top 0s, padding-bottom 0s, margin-top 0s;
}
.lineSelectSelected{background:#ff7f00; color:white; padding-top:2%; padding-bottom:2%; margin-top:-1%;}
.lineSelectSelected:hover{color: white;
    box-shadow: inset 200px 0 10px #ff7f00;
    transition: box-shadow ease 0.8s, padding-top 0s, padding-bottom 0s, margin-top 0s;
}
.chinaSimCard {
    background: url(../images/bundles/chinaCardIcon.png) no-repeat;
    background-size: 15%;
    padding-left: 23%;
    padding-top: 3%;
	padding-bottom: 3%;
    text-align: left;
    background-position-x: 5%;
	background-position-y: 50%;
}
.chinaSimCard p{margin-bottom: 0;}
#chinaSimCardCheckbox, #chinaSimCardCheckbox2, #chinaSimCardCheckbox3, #chinaSimCardCheckbox4{margin-top: 0;margin-left: 0%;}
.chinaSimCardCheckboxLabel, .chinaSimCardCheckboxLabel2, .chinaSimCardCheckboxLabel3, .chinaSimCardCheckboxLabel4{padding-left:2%;cursor:pointer;}
/*plan end*/

.bundlesBBMgnBtm{padding-bottom: 7%;}
.bundlesTV,.bundlesBB,.bundlesMobile{text-align: center;}
.bundlesTV,.bundlesMobile{margin-bottom: 7%;}
.bundlesMobile{margin-top: 5%;}
.bundlesText{margin-bottom: 1%;}
.mobileBanner{background: url(../images/bundles/bundlesMobilepic.png) no-repeat; background-size: 100%;}
.mBannerPic{max-width:1920px; margin: 0 auto; width: 83%; padding-top: 4.2%;}
.mBannerPic img,.tvBannerPic img,.bbBannerPic img{width: 100%;}
.tvBannerPic{margin-bottom: 2%;}
.bbBannerPic{margin-bottom: 4%;}
.dataSources{color: #fff; margin-bottom: 2.5%; padding-bottom: 3%; padding-right: 10%; text-align: right;}

.iconsBox{float: left; width: 30%; text-align: left;}
.iconsSpace{width: 5%;}
.iconsTitle{padding: 0 5.2%; padding-top: 39%; margin-bottom: 4%;text-align: center;}
.iconsTitle1{background:url(../images/bundles/bundlesIcons1.png)  no-repeat top; background-size: 31%;}
.iconsTitle2{background:url(../images/bundles/bundlesIcons2.png)  no-repeat top; background-size: 31%;}
.iconsTitle3{background:url(../images/bundles/bundlesIcons3.png)  no-repeat top; background-size: 31%;}
.iconsTitle4{background:url(../images/bundles/bundlesIcons4.png)  no-repeat top; background-size: 31%;}
.iconsTitle5{background:url(../images/bundles/bundlesIcons5.png)  no-repeat top; background-size: 31%;}
.iconsTitle6{background:url(../images/bundles/bundlesIcons6.png)  no-repeat top; background-size: 31%;}
.iconsList{text-align: left;}
.iconsList p{padding-left: 6.2%; background: url(../images/icons/hookIconOrange.png) no-repeat; background-size: 3.6%; background-position-y: .16vw;}
.iconsList p:last-child{margin-bottom: 0;}
.iconsCon2 .titleMgnBtm{text-align: left;}
.iconsCon2 .iconsBox{width: 46%;}
.iconsCon2 .iconsSpace{width: 8%;}
.iconsCon2 .iconsTitle{padding: 0 5.2%; padding-top: 28.8%; margin-bottom: 3%;text-align: center;}
.iconsCon2 .iconsTitle7{background:url(../images/bundles/bundlesIcons7.png)  no-repeat top; background-size: 23%;}
.iconsCon2 .iconsTitle8{background:url(../images/bundles/bundlesIcons8.png)  no-repeat top; background-size: 23%;}
.iconsCon2 .iconsTitle9{background:url(../images/bundles/bundlesIcons9.png)  no-repeat top; background-size: 23%;}
.iconsCon2 .iconsTitle10{background:url(../images/bundles/bundlesIcons10.png)  no-repeat top; background-size: 23%;}
.iconsCon2 .iconsList p{padding-left: 4.6%; background-size: 2.8%;}
.iconTop{margin-top: 3%;}

.numberSearch{margin-top: 4%;}
.numsearchImg,.numsearchBar,.numsearchBarLine,.numsearchButton{float: left; padding-top: 1.8%; padding-bottom: 1.8%; border: 1px solid #b1b1b1; line-height: 1.5; text-align: center;}
.numsearchImg{
	margin-left: 0%;
    width: 8%;
	font-weight: bold;
	border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	background: #fff url(../images/icons/phoneIconSmall.png) no-repeat scroll center center;
	background-size: 48%;
    background-position-x: 60%;
}
.numsearchBar,.numsearchBarLine{
    padding-left: 1%;    
    margin-bottom: 0.5%;
    width: 20%;
	color: #aaa;
	border-radius:0;
	border-left: none;
	border-right: none;    
}
.numsearchBarLine{width: 3%; padding-left: 0%; color: #b1b1b1;	background: #fff;}
.numsearchButton {   
    width: 24%;	
    font-weight: bold;
	color: #ff7f00;
    cursor: pointer;
	background: #fff;
	border-left-color: #ccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 0 0 0 #ff7f00;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    transition: all ease .8s;
}
.numsearchButton:hover{color: white; box-shadow: inset 200px 0 0 0 #ff7f00;}
.numsearchImg,.numsearchBar,.numsearchBarLine,.numsearchButton{line-height: 1.5}

@media  (min-width:768px) and (max-width:1000px){
    /* bundles banner begin*/
	.bdBanTitle{line-height: 1.4; padding: 0 5%;}
    .bdBannerCon{background: url(../images/support/ipadSptBannerBg.jpg) no-repeat; background-size: 100%;}	
	.bdBanCon{padding-bottom: 3.2%; padding-top: -7%;}
	.bdBanBox{width: 94%;}
	.sptHot{border-top: 1px solid #dedede; padding: 4.6% 0 3.8% 4%; width: 100%;}
	/* bundles banner end*/

    /*plan begin*/
	ul.listNom{padding-left: 2%;}
	.bdDisclaimer{margin-top: 4.5%; padding: 0 5%; margin-bottom: 6%;}
	.bundlesBox,.bundlesBoxOther{padding: 0 5%;} 
	.bundlesBoxOther{margin-top: 6%;}	
    .titleBox{padding: 0 12%;}
	.titleBox p{padding:8% 0% 2% 18%; margin-bottom:-19%; background-size: 16%; background-position-x: 5%;background-position-y: 20%;}
	.titleBox3{padding: 0 35%;}
	.titleBox3 p{padding-left: 0;}
	.titleBox4 p{background: #fcfcfc;padding-left: 0;}
	.planText{margin-top: 20%;}
	.priceBox{margin-top: 7.5%;}
	.priceBox1{margin-left: 28%;}
	.priceBox2{margin-left: 20.4%;}
	.textBox{padding-top: 4%;}
	.textBox p img{width: 17%;}
	.listCon{ padding: 9% 4% 6% 9%;}
	.listCon p{padding-left: 8%; background-size: 5%;background-position-y: .34vw;}
	.listCon .hook{background-position-y: .45vw;background-size: 4.5%;}
    .hook p{padding-left: 0;}
	.planBtn{width: 56%;  margin-left: 22%;  margin-top: -6%; padding-top: .1%;}
	.planBtn p{margin-bottom: 1.2%;line-height: 1.5;}	
    .planOtherBox{margin-bottom: 5.5%;}
	.planYearUp .yearTextCenter{margin: 7% 0 2% 35%;}
	.planYearDown .planBtn{width: 24%; margin-left: 38%;}
	.planYearDown .listCon{padding: 5% 1% 3.5% 4.1%;}
	.planYearDown .listCon .hook{width: 46.2%; padding-left: 3.5%; background-size: 4.1%; background-position-y: .4vw;}
	
	.lineSelectText:before{border-top: .35vw solid #00afff;}
	.chinaSimCard{background-size: 17%;padding-left: 25.5%; margin: 2% 0;}
	/*plan End*/ 	
	.bundlesBBMgnBtm{padding-bottom: 6%;}
	.bundlesMobile{margin-top: 7.2%;}
	.bundlesTV{margin-top: 10%; margin-bottom: 10%;}
	.bundlesText{margin-bottom: 2%;}
	.mobileBanner{background: url(../images/bundles/ipadBundlesMobilepic.png) no-repeat; background-size: 100%;}
    .mBannerPic{max-width:1000px; margin: 0 auto; width: 92%; padding-top: 5.2%; padding-bottom: 1%;}
    .mBannerPic img,.tvBannerPic img,.bbBannerPic img{width: 100%;}
    .dataSources{margin-bottom: 2.5%; padding-bottom: 6%; padding-right: 10%;}
	
	.iconsCon{padding: 0 5%;}
	.iconsList p{padding-left: 9%; background-size: 6%; background-position-y: .32vw;}
	.iconsCon2 .iconsList p{padding-left: 6%; background-size: 4%; background-position-y: .26vw;}
	.iconTop{margin-top: 5%;}
	
	.numsearchImg{width: 12%;}
	.numsearchBar{width: 18%;}
	.numsearchBarLine{width: 2%;}
	.numsearchButton{width: 30%;}	
	
}
@media (max-width:767px){
    /* bundles banner */
    .bdBannerCon{max-width: 767px;padding-top: 6.6%; background: url(../images/support/mSptBannerBg.jpg) no-repeat; background-size: 100%;}
	.bdBanTitle{line-height: 1.2; padding:0 5%;margin-bottom: 4%;}
	.bdBanArrow{background-size: 4%;margin-top: 3.2%;}
	.bdBanCon{margin-top: -2%;padding-bottom: 5%;}
	.bdBanBox{width: 100%;padding-left: 9%;}
	.bdBanBox .bdBanA{float: left; width: 45%;padding-top:4%; margin-right: 0%;}
	.bdBanBox .bdBanA1{margin-left: 22.5%;}
	.bdBanBox .bdBanA:hover,.bdBBTVMbanner .bdBanA1,.bdBBMbanner .bdBanA2,.bdBBTVbanner .bdBanA3{background-size: 76%; background-position-x: 50%;background-position-y: 2%;}
	.bdBanBox .mSptIconRight{margin-right: 9.8%;}
	.bdBanA img{width: 60%;}	
	/* bundles banner end*/
	
    /*plan begin*/
	ul.listNom{padding-left: 4%;}
	.bdDisclaimer{margin-top: 10.5%; padding: 0 5%; margin-bottom: 12%;}
	.bbTryout,.bbApp,.otherFuncBox{text-align: left;}
	.bundlesBox,.bundlesBoxOther{padding: 0;}
	.bundlesBoxOther{margin-top:7%;}
	.bundlesBox{background: url(../images/phone/mBBPlanBg01.jpg) no-repeat;background-size: 100%;}
	.planTitleBig{line-height: 2.2;}
	.planCon .titleBox{padding: 0 15%;}
	.planBox .planCon{background: none;}
	.planBox .planUpper{background: #fcfcfc;}	
	.titleBox p{padding:8% 0% 2% 18%; margin-bottom:-19%; background-size: 16%; background-position-x: 5%;background-position-y: 20%;}
	.titleBox2 p{background: #fcfcfc;padding-left: 0;}
	.titleBox4 p{background: #fcfcfc;padding-left: 0;}
	.planText{margin-top: 20%;}
	.textBox{padding-top: 4%;}
	.textBox p.textSpecial{margin: 8.4% 0;}
	.textBox p img{width: 17%;}
	.planList .listCon{ padding: 10% 6% 5% 8%;}
	.planList .listCon p{padding-left: 8%; background-size: 4.6%;background-position-y: 1vw;}
	.listCon .hook{background-position-y: .45vw;background-size: 5.2%;padding-left: 0;}
    ul.bundlesCon li.double p{padding-left: 4%;}
    ul.bundlesCon li{padding-right: 1%;} 
	.planBtn{width: 56%;  margin-left: 22%;  margin-top: -6%; padding-top: 1.1%; padding-bottom: 1.1%;}
	.planBtn p{margin-bottom: 1.2%;line-height: 1.5;}	
	.planOtherBox{margin-bottom: 6%;padding: 0 6%;}	
    .mSwiper-slide {padding: 0 10%;}
    .mSwiper-button-disabled {display:none;}
	
	.lineSelectTitle {padding-top: 3%; padding-bottom: 3%;}
    .lineSelectSelected {padding-top: 1%; padding-bottom: 1%; margin-toP: 0;}
    .lineSelectText:before{border-top: none;}
    .lineSelectText{width:30%; margin-right:5%; padding: 4%; border-radius:5px; margin-bottom:3%;}
    .line3,.line6{margin-right:0;}
	.chinaSimCard{margin:2% 0; background-position-y: 50%;}
	.checkboxText{margin-left: -3.5%;}
	/*plan End*/	
	.bundlesBBMgnBtm{padding-bottom: 12%;}
	.bundlesMobile {margin-top: 12%;}
	.bundlesTV{margin-top: 18%; margin-bottom: 20%;}
	.bundlesText{margin-bottom: 6%;}
	.mobileBanner{background: url(../images/bundles/mBundlesMobilepic.png) no-repeat; background-size: 100%;}
    .mBannerPic{max-width:1000px; margin: 0 auto; width: 78%; padding-top: 9%; padding-bottom: 1%;}
    .mBannerPic img,.tvBannerPic img,.bbBannerPic img{width: 100%;}
	.bbBannerPic{margin-bottom: 0%;}
    .dataSources{margin-bottom: 2%; padding-bottom: 6%; padding-right: 10%;}	
	.bundlesTV .iconsCon{margin-top: -5%;}
	
	.iconsCon{padding: 0 10%;}
	.iconsBox{float: none; width: 100%; padding-top: 11%;}
	.iconsTitle{ margin-bottom: 4%;}
	.iconsCon2 .iconsBox{width: 100%;}
    .iconsCon2 .iconsSpace{width: 8%;}
    .iconsCon2 .iconsTitle{padding: 0 5.2%; margin-bottom: 3%;text-align: center;}
    .iconsCon2 .iconsList p{padding-left: 4.8%; background-size: 2.8%;}
	.iconsTitle,.iconsCon2 .iconsTitle{background-size: 30%;padding-top: 35%;}
	.iconsList p,.iconsCon2 .iconsList p{padding-left: 6.5%;background-size: 4%;background-position-y: .6vw;}
	.iconTop{margin-top: 0;}
	.numsearchImg{width: 10%;}
	.numsearchBar{width: 18%;}
	.numsearchBarLine{width: 3%;}
	.numsearchButton{width: 30%;}
   		
}

@media (max-width:511px){	
	
}