/* Version:1.0  Author: Hounan，Amy
  Create Date:2017-09-13 
  Update Date:2017-11-10
  Desc : chinese-tv-plans common CSS */ 

label{font-weight: 500}
		a{color:#333333;}
		a:hover{color:#333333;}
		.bodyy{margin-top: 9%;background-color: white}
		.bannerAll1{background: url(../images/tv/tvPlanBannerBg.jpg) no-repeat; background-size: 100%;}
		.bannerAll2{background: url(../images/tv/newInterfaceBg.jpg) no-repeat; background-size: 100%;height: 41vw}
		.bannerAll3{background: url(../images/tv/installBg.jpg) no-repeat; background-size: 100%;height: 35vw}
		.bannerAll2{color: #444444;padding-top: 4%}
		.bannerAll3{color: #444444;padding-top: 4%}
		.banner2txt{width: 35%}

		
		.plan{margin-top: 3% }
		.bbPlanLimitedBig, .planLimitedBig { margin: 0 auto;width: 89.5%;}
		.planTitleBig {color: #fff;margin-bottom: 1.8%;padding-top: 2.6%;text-align: center;}
		.use{width: 74.1%;margin: 0 auto;background-color: white;}
		.useBtnBox a{cursor: pointer;}
		.user{display: inline-block;width: 50%;text-align: center;color:#222222;border-bottom: 1px solid #b4b4b4;}
		.useradd{color:white;border-bottom: 1px solid #ff7f00;background: #ff7f00}
		.picmb{display: none;}
		.picpaid{display: none}
		.md1,.md3{display: inline-block;width: 37%;vertical-align: top}
		.md2{display: inline-block;width: 25%;padding-left: 5%}	
		.md2a{font-family: avenir;line-height: 1;float: left;}
		.md2b{font-family: avenir;line-height: 0.9;float: left;letter-spacing: -5px;}
		.md2c{font-family: avenir;line-height: 1; margin-left: 2%; float: left;}
		.md2d{line-height: 1; margin-left: 5%; float: left;}
		.cir,.optxt{display: inline-block;vertical-align: top}
		.cir{width: 4%;line-height: 1.5;border:1px solid black;border-radius: 100%;margin-top: 2.9% }
		.cir:hover{cursor:pointer;}
		.optxt{width: 92%;margin-left: 3%;line-height: 2}
		.ciradd{border-color:#ff7f00;box-shadow: 0px 0px 0px 0.15vw #ff7f00;}
		.opt2{margin-top: 2%}
		.md1tit{color:#ff7f00;}
		.cont1{margin-left: 39%;}
		.cont2{width: 75%;margin-left:12%;}
		.middle{padding-top: 6.5%;padding-bottom: 6%}
		.midButton{position: absolute;width: 12.5%;background-color: #327fe8;color: white;left: 44%;margin-top: -1.3%;text-align: center;line-height: 2;border-radius: 10px;}
		.bannerAd1{margin-bottom: 3.8%;}
		.tvshow{background-color: black; padding-bottom: 1%;}
		.showtit1{color: white;text-align: center;padding-top:3.2%;}
		.showtit2{color: white;text-align: center;margin-bottom:3.5%;}
		.bannerAd1tit{text-align: center;    padding-top: 4%; }
		.textAd1{text-align: center;margin: 0 auto;width: 63%;}

		.icons{width: 78.5%;margin: 0 auto}
		.icons{margin-top: 4.8%;margin-bottom: 4.8%}
		.icons1{width: 50%;float: left;}
		.icons2{width: 50%;float: right;}
		.icons3{ width: 50%;float: right;margin-top: 6%}
		.icons4{ width: 50%;float: left;margin-top: 6%;}
		.icontit{text-align: center;margin-top: 5%;}
		.icons1 img,.icons2 img,.icons3 img,.icons4 img{width: 26.2%;margin:0 auto;}
		.icontext{width: 81%;margin: 0 auto;}
		.bannerAd1Pic{background:url(../images/tv/exclusivePic.jpg) center center  no-repeat;background-size: 100% 100% }
		.bg{background:url(../images/phone/bbPlanBg01.jpg ) center center  no-repeat;background-size: cover}
		.listBox{padding-top: 5.2%; padding-left: 8%; padding-bottom: 3.5%;width: 74.2%;margin: 0 auto;background-color: #f2f2f2;}
		.listBox p{float: left; width:25%; padding-left: 2.5%; background: url(../images/icons/hookIconOrange.png) no-repeat; background-size: 6%; background-position-y: 50%;}
		/*.bottom{width: 74.2%;margin: 0 auto;background-color: #f2f2f2;padding-left: 8%}
		.bottom ul li{display: inline-block;width: 25%} 
		.bottom ul{padding:8% 0;}
		.bimg,.btxt{display: inline-block;vertical-align: top}
		.bimg{margin-right: 5%;width: 7%;}
		.bimg img{width: 100%}
		.btxt{width: 87%}*/
		.lia{margin-bottom: 4.5%}
		#wrap{ position: relative;width: 100%;overflow: hidden;}
		#roll{position: absolute;left: 0;width: 9999px;}
		#roll img{float: left;}
		.old{text-decoration: line-through;margin-top: 15%;display:none;color: red}
		.refund{text-align: center; margin-top: 3.5%;}
		.balance{margin-bottom: 6%}
		.compare{width: 83.8%;margin:0 auto;}
		.putong,.gaoqing{width: 49.5%;display: inline-block;}
		.putong img,.gaoqing img{width: 100%;-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(85%, transparent) , to(rgba(250, 250, 250, 0.2)));}
		.putong{margin-right: 0.5%}
		.bannerAd1tit2{text-align: center; }
	
		.textAd2{text-align: center;margin: 0 auto;width: 63%;margin-bottom: 1.5%;}
		.textLink{color:#ff7f00}


		@media screen and (min-width: 1600px) and (max-width: 1700px) {
    .title140{font-size: 130px}
}

@media (max-width:1000px){
		.banner2txt{width: 50%}
		.planLimitedBig,.bbPlanLimitedBig{width: 100%}
   		.md2{width: 29%}
   		.use{width: 89.6%}
		.listBox{width: 90%; padding-top: 7%; padding-bottom: 3.5%;}
		.listBox p{padding-left: 3%; background-size: 8%; background-position-y: 50%;}
   		.cont2,.cont1{width: 100%}
   		.cont1{margin-left: 20%}
   		.cont2{margin-left: 0}
   		.md1, .md3{width: 35%}
   		.midButton{margin-top: -2%;width: 24%;left: 38%}
   		.ciradd{border-color:#ff7f00;box-shadow: 0px 0px 0px 0.15vw #ff7f00;}
   		.middle{padding-top:4% }
   		/*.bottom{padding-left:3% }
   		.btxt{line-height: 1}*/
   		.bannerAd3 .text1{top: 17%}
   		.old{margin-top: 20%}
		.refund{margin-top: 5%;}
   		.cont1{font-size:2.3vw }
   		.bottom ul li .btxt{line-height: 1.8}
   		.textAd1{width: 89.6%; text-align: left;}
		.textAd2{width: 89.6%; text-align: left; margin-bottom: 3%;}
   		.bimg{margin-top: 2%}
   		.icons{width: 100%}
   		.icontext{width: 80%}
   		.icons4,.icons3{margin-top:4% }
   		.showtit2{ width: 89.6%;margin: 0 auto;margin-bottom: 3%; text-align: left;}
   		.bannerAll1{background: url(../images/tv/ipadTVPlanBannerBg.jpg) no-repeat; background-size: 100%;}
		.bannerAll2{background: url(../images/tv/ipadNewInterfaceBg.jpg) no-repeat; background-size: 100%;height: 53vw}
		.bannerAll3{background: url(../images/tv/ipadInstallBg.jpg) no-repeat; background-size: 100%;height: 50vw}
		.compare{width: 90%}
		}

@media screen and (min-width: 767px) and (max-width: 785px) {
   .bannerAd1Pic{background-size: cover}
}

@media (max-width:767px){
	.icontext{width:100% }
	.bannerAll1{background: url(../images/tv/mTVPlanBannerBg.jpg) no-repeat; background-size: 100%;}
	.bannerAll2{background: url(../images/tv/mNewInterfaceBg.jpg) no-repeat; background-size: 100%;height: 106vw; padding-top: 6%;}
	.bannerAll3{background: url(../images/tv/mInstallBg.jpg) no-repeat; background-size: 100%;height: 91vw; padding-top: 6%;}
	.banner2txt{width: 100%; text-align: left}
	.bg{background: url(../images/phone/mBBPlanBg01.jpg) no-repeat;background-size: 100%;}
	.compare{width: 100%}
	.putong img,.gaoqing img{-webkit-box-reflect: none}
	.putong,.gaoqing{width: 100%;display: block;}
	.textAd2{width: 89%;margin-bottom: 4%; text-align: left;}

	.bodyy{margin-top: 14%}
	.picpc{display: none;}
	.picmb{display: block;}
	.plan{width: 100%}
	.use{width: 80%;}
	a.left{border: 2px}
	a.right{border:2px;}
	.md1,.md2,.md3{display: block;width: 100%}
	.md1{text-align: center;}
	.cont1{width: 100%;margin-left: 0}
	.cont2{width:80%;margin: 0 auto}
	.md1tit,.mid1txt{display: inline-block;}
	.text{padding-top: 6%}
	.bannertext1{margin-top: 2%}
	.plan{margin-top: 5%}
	.planTitleBig{padding-top: 5.6%;margin-bottom: 5.5%}


	.middle{padding-top: 7%;padding-bottom: 10%}
	.md2{width: 45%;margin: 0 auto;margin-top: 5%}
	.text{padding-bottom: 1%}
	.md2a{font-size: 7vw}
	.md2b{font-size: 18vw}
	.md2c{font-size: 8vw;margin-top: 2%}
	.md2d{font-size: 5vw;margin-top:3% }
	.md3{margin-top: 30%}
	.ciradd{border-color:#ff7f00;box-shadow: 0px 0px 0px 0.3vw #ff7f00;}
	.cir{margin-top: 2%}
	.listBox{width: 80%;padding-top: 13%; padding-left: 9%; padding-bottom: 7%;background-color: #f2f2f2;}
	.listBox p{float: none; width: 100%; padding-left: 7%; background-size: 4.5%; background-position-y: 50%;}
	
	/*.bottom{width: 80%}
	.bottom ul li{display:block;width: 100%;} 
	.bimg{width: 4%;margin-top: 2%}
	.bimg img{width: 100%}
	.bottom ul{padding: 10% 0}
	.bottom ul li{margin-bottom:2.7%;background: url(../images/icons/hookIconOrange.png) no-repeat; background-size: 4%; background-position-y: .2vw;}
	.bottom{padding-left: 8%}
	.bottom ul {padding: 10% 0 5% 0;}*/
	.midButton{width: 40%;left: 30%;margin-top: -3.5%}
	.textAd1{width: 88%; text-align: left;}
	.textAd2{text-align: left;}
	.bannerAd1{margin-top: 8%}
	.bannerAd2,.bannerAd1Pic,.bannerAd3{background-size:cover;}
	.bannerAd3{background-size: 170%;    background-position: 85% 90%;}
	.showtit1{padding-top: 7%;}
	.showtit2{margin-bottom: 6%; text-align: left;}
	.icons1,.icons2,.icons3,.icons4{float: none;width: 89.4%;border-bottom:1px solid #aaaaaa;margin:0 auto;padding: 10% 0}
	.icons4{border-bottom:none;padding-bottom: 0}
	
	.icons1 img,.icons2 img,.icons3 img,.icons4 img{width: 36%}
	.icons{margin-bottom: 13%; margin-top: 0%;}
	.icontit{margin-top:6% }

	.wei,.wei2,.wei3{width: 100%;left: 0}
	.wei2{top: 7%}
	.wei{top: 9.5%}
	.wei3{top: 9%}
	.bannerAdtit{text-align: center;width: 100%;left:0 }
	.wei2 .text1 {line-height: 1.8;width: 89.6%; margin: 0 auto;text-align: center;margin-top: 1%}
	.wei3 .text1 {line-height: 1.8;width: 89.6%; margin: 0 auto;text-align: center;margin-top: 1%}

	.bannertit{width: 100%;text-align: center;left: 0;top: 8%;}
	.bannertext{width: 100%;text-align: center;left: 0}
	.bannertext {top: 20%;}
	.bannertex2 {top: 25%;}
	.old{text-align: center;margin-top: 0}
	.cont1{font-size:4.17vw }
	.refund{width: 80%;margin: 0 auto;margin-top:8% }
	.balance{margin-bottom: 0}
	}