.bannerAll {
    background: url(../images/mobile/mobile_product_banner.jpg) no-repeat;
    background-size: 100%;
}
.iconsBox .iconCon1 {
    background:none;
}
.iconsBox .iconCon2 {
    background:none;
}
.iconsBox .iconCon7 {
    background:none;
}
.iconsBox .iconCon8 {
    background:none;
}
.planOtherBox {
    margin-bottom: 3%;
}
.planRefund {
    margin-bottom: 3%;
}
.dataComparisonTitle{
    color:#222222;
    padding-top:3%;
    margin-bottom:0;
    text-align:center;
}
.dataComparisonSubTitle{
    color:#222222;
    padding-top:0.5%;
    margin-bottom:0;
    text-align:center;
}
.dataComparison{
    background: url(../images/mobile/data_comparison_background.jpg) no-repeat top center;
    background-size:cover;
}
.dataComparisonLeft, .dataComparisonRight{
    float:left;
    width:50%;
    padding-top:2%;
    padding-bottom:2%;
}
.dataComparisonLeft img{
    width:64%;
    margin-left:29%;
    margin-right:7%;
}
.dataComparisonRight img{
    width:64%;
    margin-left:7%;
    margin-right:29%;
}
.dataComparisonComments {
    text-align: right;
    padding-right: 25%;
    margin-bottom: 0;
    padding-bottom: 3%;
}
.twoCountriesPlanLeft, .twoCountriesPlanRight{
    float:left;
    width:50%;
    padding-top: 3%;
    padding-bottom: 1%;
}
.twoCountriesPlanLeft{
    padding-left:9%;
    padding-right:1%;
}
.twoCountriesPlanRight{
    padding-right:9%;
    padding-left:1%;
}
.twoCountriesPlanTitle{
    color:#222222;
    padding-top:4%;
    margin-bottom:0;
    text-align:center;
}
.twoCountriesPlanSubTitle{
    color:#222222;
    padding-top:0.5%;
    margin-bottom:0;
    text-align:center;
}
.inUSTitle{
    text-align:center;
    padding-top:1%;
    margin-bottom:2%;
}
.inUSTitleList {
    background: url(../images/icons/hookIconOrange.png) no-repeat top left;
    margin-top: 2%;
    margin-bottom: 2%;
    background-size: 2.9%;
    padding-left: 5%;
}
.multipleCountriesSubTitle{
    color:#222222;
    padding-top:0.5%;
    margin-bottom:0;
    text-align:center;
    line-height:1.8;
}
.countryCheck {
    background: url(../images/icons/hookIconOrange.png) no-repeat top left;
    background-size: 6%;
    padding-left: 1.5%;
}
.countryCheck2 {
    background: url(../images/icons/hookIconOrange.png) no-repeat top left;
    background-size: 3.6%;
    padding-left: 1.5%;
}
.multipleCountriesPhone{
    text-align: center;
    padding-top: 1%;
    margin-bottom: 0;
}
.countriesImgMap{
    width:90%;
    margin-left:5%;
}
.unlimitedTextTalkBanner{
    background:url("../images/mobile/unlimited_text_talk_background.jpg") no-repeat top center;
    background-size:cover;
}
.unlimitedTextTalkTitle {
    color: white;
    padding-toP: 18%;
    padding-left: 60%;
}
.unlimitedTextTalkSubTitle{
    color: white;
    padding-left: 60%;
    padding-bottom: 19%;
}
.mobileDisclaimerText{
    color:#222222;
}
.mobileDisclaimerText {
    color: #222222;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 1.8;
    font-size: 12px;
    font-weight: bold;
}
.mt0{
    margin-top:0;
}















