/* Version:1.0  Author: Amy
  Create Date:2017-09-14 
  Update Date:2017-09-14 
  Desc : refer a friend CSS */ 
  
/* bannerAll begin */
.bannerAll{background: url(../images/refer/referBannerBg.jpg) no-repeat; background-size: 100%;}
/* bannerAll end */

/* refer banner begin */
.CloOrange{color: #ff7f00;}
.referTitleBig{ color: #fff; margin-bottom: 2.5%; padding-top: 3.5%; line-height: 1.6;}
.referTitleBig span{color: #ff7f00;}
.referBannerBox{margin: 0 auto;margin-bottom: 6%; padding: 0 12.8%;text-align: center;background: #000 url(../images/bb/bbPlanBg01.jpg) no-repeat bottom;background-size: 100%;}
.rewardCon{background: #fcfcfc; padding: 3.5% 0;}
.rewardBox{float: left; width: 50%;}
.rewardBox1{padding-right: 5%;}
.rewardBox2{padding-left: 5%;border-left: 1px solid #ccc;}

.titleBox{border-bottom:1px solid #222; padding: 0 18%;}
.titleBox p{background: #fcfcfc; margin-bottom: -7%;}
.rewardText{margin-top: 14%;}
.textBox{margin-top: 4%; padding-right: 1%;}
.textBox p{color: #ff7f00; margin-bottom: 0;}
.priceBox1{margin-left: 34%;}
/* refer banner end */

/* refer main begin */
.gradient{background: -moz-linear-gradient(top, #ffffff 80%, #eeeeee 100%);
          background: -webkit-gradient(linear, top, bottom, color-stop(80%,#ffffff), color-stop(100%,#eeeeee));
          background: -webkit-linear-gradient(top, #ffffff 80%,#eeeeee 100%);
          background: -o-linear-gradient(top, #ffffff 80%,#eeeeee 100%);
          background: -ms-linear-gradient(top, #ffffff 80%,#eeeeee 100%);
          background: linear-gradient(to bottom, #ffffff 80%,#eeeeee 100%);}

.menuBox{margin-top: -5.2%;}
.menuBtn{background: #fff;}
.referAfriend{background:#f2f2f2 url(../images/refer/referPeopleBg.png) no-repeat bottom; background-size: 29%; background-position-x: 16%;background-position-y: 100%;}
.referCon{margin-top: 2%;}
.referStepTitle{text-align: center; padding-left: 1.2%;margin-bottom: 2.5%;}
.referStepCon{ padding-left: 47%;margin-right: 10%; padding-bottom: 2%;}
.referStepBox{border-left: .2vw solid #ff7f00;}
.stepBox{padding: 2.3% 0; margin: 3% 0;margin-left: -5.25%;}
.stepBox1{background: url(../images/refer/referStep1.png) no-repeat; background-size: 9.5%;background-position-y: 50%;}
.stepBox2{background: url(../images/refer/referStep2.png) no-repeat; background-size: 9.5%;background-position-y: 50%;}
.stepBox3{background: url(../images/refer/referStep3.png) no-repeat; background-size: 9.5%;background-position-y: 50%;}
.stepTitle,.searchText{margin-left: 12%;}
.email{margin-bottom: 2%; margin-top: -2%;}
.stepQRcode{margin-left: 5%; width: 19.5%;}
.stepQRcode,.foldBox,.searchText,.searchBar,.searchButton{float: left;}
.searchText,.searchBar,.searchButton{line-height: 1.5; padding-top: 1.6%; padding-bottom: 1.6%;}
.searchBar,.searchButton{border: 1px solid #b1b1b1;}
.searchBar{width: 54%; margin-left: 1%; padding-left: 2.5%; color: #999;border-top-left-radius: 10px;border-bottom-left-radius: 10px;}
.searchButton {width: 15.5%; text-align: center; color: #ff7f00; cursor: pointer;font-weight: bold; background: #fff;border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 0 0 0 #ff7f00;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    transition: all ease .8s;}
.searchButton:hover{color: #fff; box-shadow: inset 200px 0 0 0 #ff7f00;}
.foldBox{margin-left: 4%; margin-top: .2%; width: 46%;}
.foldText{padding: 8% 8%; border-radius: 3px; border: #c2c2c2 1px solid;}
.bubbleAngle{float: left; transform:rotate(45deg);width:.8vw; height:.8vw; border-color:#c2c2c2; margin-left: -1.8%; margin-top: 18%; background: #f2f2f2;}
.foldText,.searchBar,.searchButton{background: none;}
/* refer main end */

/* refer lower begin */
.left{float: left;}
.right{float: right;}
.referLower{margin-top: 4%; text-align: center;}
.referLower > .left,.referLower > .right{width: 50%;}
.referLower > .left{padding-right: 10%;}
.referLower > .right{padding-left: 10%; border-left: 1px solid #cacaca;}
/*  refer lower end */

/* begin*/
@media  (min-width:1801px) and (max-width:1880px){
    .priceBox1{margin-left: 33%;}
	
}
@media  (min-width:1701px) and (max-width:1800px){
    .priceBox1{margin-left: 32.6%;}
	.foldText{padding: 7% 8%;}
}
@media  (min-width:1601px) and (max-width:1700px){
    .priceBox1{margin-left: 32%;}
	.foldText{padding: 6% 8%;}
}
@media  (min-width:1501px) and (max-width:1600px){
    .priceBox1{margin-left: 33.2%;}
	.foldText{padding: 7.5% 8%;}
}
@media  (min-width:1401px) and (max-width:1500px){
    .priceBox1{margin-left: 32.8%;}
	.foldText{padding: 6.2% 8%;}
}
@media  (min-width:1301px) and (max-width:1400px){
    .priceBox1{margin-left: 33.5%;}
	.foldText{padding: 6% 8%;}
}
@media  (min-width:1001px) and (max-width:1300px){
	.foldText{padding: 6% 8%;}
}
/* end*/

@media  (min-width:768px) and (max-width:1000px){
    /* bannerAll begin */
    .bannerAll{padding-top: 14%; background: url(../images/refer/ipadReferBannerBg.jpg) no-repeat; background-size: 100%;}
	/* bannerAll end */
	
	/* refer banner begin */
    .referBannerBox{padding: 0 5%;} 
	.titleBox{padding: 0 15%;}	
	.priceBox1{margin-left: 30%;}
    /* refer banner end */  
	
	/* refer main begin */
	.menuCon{padding-top: 0;}
	.menuBox{margin-top: 0%;}
	.referAfriend{background-size: 40%; background-position-x: 7%;}
	.referStepTitle{margin-top: 3%; margin-bottom: 3%;}
	.referStepCon{padding-left: 50%; margin-right: 5%; padding-bottom: 1%;}
	.searchBar{width: 45%;}
	.searchButton{width: 13%;}
	.stepQRcode{margin-left: 7%; width: 19.5%;}
	.stepTitle,.searchText{margin-left: 16%; padding-top: 1.6%;}
	.stepTitle{font-size: 1.8vw;}
	.searchText{font-size: 1.6vw;}	
	.referStepBox{border-left: .3vw solid #ff7f00;}
	.stepBox{margin-left: -7.2%; background-size: 13%;background-position-y: 50%;}		
	.foldBox{margin-left: 3%; width: 36.2%;}
	.foldText{padding: 5% 8%;}
	.foldText p{font-size: 1.6vw;}
	/* refer main end */
	
	/* refer lower begin */
	.referLower{margin-top: 6%;}
    .referLower > .left,.referLower > .right{padding:0 5%;}
    /*  refer lower end */
	
}
@media (max-width:767px){
    /* bannerAll begin */
    .bannerAll{background: url(../images/refer/mReferBannerBg.jpg) no-repeat; background-size: 100%;}
	/* bannerAll end */
	
	/* refer banner begin */
    .referTitleBig{line-height: 2.2;padding-top: 4.5%;}
	.referBannerBox{padding: 0 5%;}
	.referBannerBox{background: url(../images/bb/mBBPlanBg01.jpg) no-repeat;background-size: 100%;}
	.rewardCon{padding: 5% 0;}
	.rewardBox1,.rewardBox2{padding:0 4%;}
	.titleBox{padding: 0 5%;}
	.titleBox p{margin-bottom: 4%;}
	.titleBig1{line-height: 1.5; padding: 0 10%;}
	.priceBox1{margin-left: 16%;}
    /* refer banner end */
	
	/* refer main begin */
	.menuCon{padding-top: 0;}
	.menuBox{margin-top: 0%;}
	.referAfriend{background: #f2f2f2;}
	.referStepTitle{padding: 0 5.2%; margin-top: 5%; margin-bottom: 3%;}
    .referStepCon{padding-left:11.5%; margin-right: 5%; padding-bottom: 1%;}
	.searchBar{width: 43%;}
	.searchButton{width: 14.5%;}
	.stepQRcode{margin-left: 7%; width: 19.5%;}
	.stepTitle,.searchText{margin-left: 18%; padding-top: 1.2%;}	
	.referStepBox{border-left: .6vw solid #ff7f00;}
	.stepBox{padding: 3.2% 0; margin-left: -7.8%; background-size: 14%;background-position-y: 50%;}	
	.foldBox{margin-left: 3%; width: 35.4%;}
	.foldText{padding: 5% 8%;}
	.bubbleAngle{width:1.5vw; height:1.5vw;margin-left: -1.8%; margin-top: 25%;}
	/* refer main end */
	
	/* refer lower begin */
	.referLower{margin-top: 12%;}
    .referLower > .left,.referLower > .right{padding:0 5%; float: none; width: 100%;}
	.referLower > .right{border-left: none;}
    /*  refer lower end */
	
}

@media (max-width:511px){	
	
}