/* Version:1.0  Author: Amy
  Create Date:2017-09-14 
  Update Date:2017-09-14 
  Desc : refer a friend CSS */ 
  
/* bannerAll begin */
.bannerAll{background: url(../images/refer/referBannerBg.jpg) no-repeat; background-size: 100%;}
/* bannerAll end */

/* refer banner begin */
.referTitleBig{ color: #fff; margin-bottom: 2.5%; padding-top: 3.5%; line-height: 1.6;}
.referTitleBig span{color: #ff7f00;}
.referBannerBox{margin: 0 auto;padding: 0 12.8%;text-align: center;}
.referBannerBox{background: url(../images/bb/bbPlanBg01.jpg) no-repeat;box-shadow:2px 2px 3px #aaaaaa;}
.bannerCon{background: #fcfcfc;}
.rewardCon{float: left; width: 50%; padding-top: 2vw;}
.rewardBox{}
.rewardBox1{padding-right: 10%; border-right: 1px solid #ccc;}
.rewardBox2{padding-left: 10%;}

.titleBox{border-bottom:1px solid #222; padding: 0 21%;}
.titleBox p{padding:-10% 0% 2% 24%; margin-bottom: -8%;  background: #fcfcfc url(../images/bb/chs_bbPlanIconHot.png) no-repeat; background-size: 19%; background-position-x: 10%;background-position-y: 50%;}
.titleBox2 p{background: #fcfcfc;padding-left: 0;}
.rewardText{margin-top: 14%;}
.textBox{margin-top: 4%; padding-bottom: 5%; padding-right: 1%;}
.textBox p{color: #ff7f00;}
.textBox p img{display: inline-block; width: 12.2%;}
/* refer banner end */



@media  (min-width:768px) and (max-width:1000px){
    /* bannerAll begin */
    .bannerAll{padding-top: 14%; background: url(../images/refer/ipadReferBannerBg.jpg) no-repeat; background-size: 100%;}
	/* bannerAll end */
	
	/* refer banner begin */
    .referBannerBox{padding: 0 5%;} 
	.titleBox{padding: 0 15%;}
	.titleBox p{padding:8% 0% 2% 21%; margin-bottom:-9.5%; background-size: 18%; background-position-x: 9.5%;background-position-y: 50%;}
	.rewardText{margin-top: 10%;}
	.priceBox{margin-top: 7.5%;}
	.priceBox1{margin-left: 28%;}
	.priceBox2{margin-left: 20.4%;}
	.textBox p img{width: 17%;}
    /* refer banner end */   
}
@media (max-width:767px){
    /* bannerAll begin */
    .bannerAll{background: url(../images/refer/mReferBannerBg.jpg) no-repeat; background-size: 100%;}
	/* bannerAll end */
	
	/* refer banner begin */
    .referTitleBig{line-height: 2.2;}
	.referBannerBox{padding: 0;}
	.referBannerBox{background: url(../images/bb/mBBPlanBg01.jpg) no-repeat;background-size: 100%;}
	.rewardCon .titleBox{padding: 0 15%;}
	.bannerCon .rewardCon{background: none;}
	.bannerCon .rewardBox{background: #fcfcfc;}
	.titleBox p{padding:8% 0% 2% 21%; margin-bottom:-9.5%; background-size: 18.5%; background-position-x: 9.5%;background-position-y: 50%;}
	.titleBox2 p{background: #fcfcfc;padding-left: 0;}
	.rewardText{margin-top: 11%;}
	.textBox p.textSpecial{margin: 8.4% 0;}
	.textBox p img{width: 17%;}
    /* refer banner end */
	
    
}

@media (max-width:511px){	
	
}