/* support banner start */
/* Amy制作 */
.sptBanner{margin: 0 auto; padding: 0;max-width: 1920px; text-align: center; background: url(../images/support/sptBannerBg.jpg) no-repeat;background-size: 100%;}
.sptBanPart1{padding-top: 5%; color: #fff;}
.sptBanArrow{background: url(../images/support/sptBannerArrow.png) no-repeat scroll center center;background-size: 1.8%; margin-top: 1%;}
.sptBanPart2{margin: 0 auto; position: relative; bottom: 0; padding-bottom: 2.5vw;}
.sptBanIcon{margin: 0 auto; width: 72%;}
.IconBox{width: 105%;}
.IconBox a{float: left; width: 20%; margin-right: 5%; text-align: center; cursor: pointer;color: #fff; padding-top: 1.8%;}
.IconBox a:hover{background: url(../images/support/sptBannerIconLight.png) no-repeat;background-size: 98%; background-position-x: 45%;background-position-y: -6%;color: #fff;}
.IconBox p{padding-top: 10%;}
.sptBanA img{margin: 0 auto; width: 80%;}

/* support others start */
.sptHot{background: #f0f0f0;border-top: 1px solid #dedede; padding: 1.3% 0 1.5% 8%; width: 100%;}
.sptHot .hot1{padding-left: 2.5%;float: left;background: url(../images/support/supportHot.png) no-repeat; background-size: 9%; background-position-x: 10%;background-position-y: 2%;}
.sptHot .hot2{margin-left: 14%;padding-left: 2.5%;float: left;background: url(../images/support/supportHot.png) no-repeat; background-size: 9%; background-position-x: 10%;background-position-y: 2%;}

@media  (min-width:768px) and (max-width:1000px){
    .mainLimited{width: 100%;}
	.sptBanner{max-width: 1000px; background: url(../images/support/ipadSptBannerBg.jpg) no-repeat;background-size: 100%;}
	
	.sptHot{background: #f0f0f0;border-top: 1px solid #dedede; padding: 4.6% 0 3.8% 4%; width: 100%;}
	.sptHot .hot1{padding-left: 4%;float: left;background: url(../images/support/supportHot.png) no-repeat; }
    .sptHot .hot2{margin-left: 14%;padding-left: 4.2%;float: left;background: url(../images/support/supportHot.png) no-repeat;}
	.sptHot .hot1,.sptHot .hot2{background-size: 8%; background-position-x: 10%;background-position-y: 1%;}
}

@media (max-width:767px){    
	.sptBanner{max-width: 767px; background: url(../images/support/mSptBannerBg.jpg) no-repeat;background-size: 100%; padding-top: 2%;}
	.sptBanArrow{background-size: 4%;margin-top: 2%;}
	.sptBanPart2{margin-top: -4%;}
	.sptBanIcon{width: 82%;}
	.IconBox{width: 100%;}
	.IconBox a{width: 45%;padding-top:4%; margin-right: 0%;}
	.IconBox a:hover{background-size: 76%; background-position-x: 50%;background-position-y: 2%;}
	.IconBox a.mSptIconRight{margin-right: 9.8%;}
	.sptBanA img{width: 60%;}
	.sptHot{ padding: 6% 0 5% 0;}
	.sptHot .hot1,.sptHot .hot2{width: 100%; overflow: hidden; float: none; margin: 0; padding: 0; text-align: center;line-height: 2; padding-bottom: 5%;background: url(../images/support/supportHot.png) no-repeat; background-size: 2.4%; background-position-x: 38%;background-position-y: 4%;}	
}
@media (max-width:511px){
    .sptBanArrow{margin-top: .5%;}
    .sptBanPart2{margin-top: -8%;}
}
