/* support All css */
body{margin: 0;padding:0;overflow: hidden;background-color: #fff; text-align:justify}
	a.textLink, a.textLink:hover, a.textLink:focus{color: #ff7f00; text-decoration: underline;}
	.foldingBlock{background: #fff; padding: 1.8% 2.5%; border-radius: 10px; border: #ddd 1px solid; margin-top: 2%;}
	.lineOrange{margin-bottom: 1.2%;}	
	.titFirst{margin-bottom: 1.5%;}
    .titMgnTop,.imgTitle{margin-top: 3%;}	
	.imgCnt{margin: 0 auto; width: 66%;/*border-bottom: 1px solid #e6e6e6*/}
	.imgCnt img{width: 100%; margin: 3% 0;}	
	.imgLeft img{width: 100%; margin: 5% 0;}
	.imgTitle{text-align: center; margin-bottom: -2%;}
	.imgTitRgt18{background: url(../images/support/doubleArrowOrange.png) no-repeat scroll left center;background-size:100%; margin-left:2%;}
	.imgTitRgt30{background: url(../images/support/doubleArrowOrange.png) no-repeat scroll left center;background-size:60%; margin-left:1%;}
	.bgMgn{padding:3.5% 0;}
	.gradient{
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);    
	}	
	.sptBBMenu{margin: 0 auto;width: 54%;}
	.sptBBMenu p:first-child{margin-left: 0;}
	.bbMenuBtn2{float: left; width: 32.6%; margin-left: 1.1%; text-align: center;border: 1px solid #327fe8;line-height: 220%;cursor: pointer; box-shadow: inset 0 0 0 0 #327fe8; -webkit-transition: all ease .9s;  -moz-transition: all ease .9s;}
	a.bbMenuBtn2{text-decoration: none;float: left; width: 32.6%; margin-left: 1.1%; text-align: center;border: 1px solid #327fe8;line-height: 220%;cursor: pointer; box-shadow: inset 0 0 0 0 #327fe8; -webkit-transition: all ease .9s;  -moz-transition: all ease .9s;}
	.bbMenuBtn{float: left; width: 32.6%; margin-left: 1.1%; text-align: center;border: 1px solid #327fe8;line-height: 220%;cursor: pointer; box-shadow: inset 0 0 0 0 #327fe8; -webkit-transition: all ease .9s;  -moz-transition: all ease .9s;}
	.bbMenuBtn:hover,.selected{color:white;box-shadow: inset 300px 0 0 #327fe8;}
	
	.partAll{width: 100%; padding-right: 17.2%;}
	.hService>li{list-style-type: none;}
	ul{padding: 0;}
	ul li{margin-left: 1.6%; line-height: 2}
	ul.listNom li{list-style-type:decimal;}
	ul.listNom li p:first-child{margin-top: 1%}
	ul.listNom li p:last-child{margin-bottom: 1%;}
	ul.listNom li div.pMgn{margin-bottom: 1.2%;}
	ul.listDot li{float: left;width: 28%; list-style-type: disc;}
	.Sharp,.textCon{float: left; display: block;}
	.Sharp{vertical-align: top;width: 2%;}
	.textCon{ width: 95%;}
	.onlyText{margin-left: 0;}
	
	.appQRcode{margin: 1.5% 0;}
	.QRcode p{float: left; width: 20%;margin-right: 4%; cursor: pointer;}
	.QRcode p:first-child{margin-top: 0;}
	.QRcode p img{width: 100%; display: block;}
	.QRcode p img:first-child{margin-bottom: 6%;}
	
@media  (min-width:1500px) and (max-width:1700px){
	.Sharp{width: 1.9%;}	
}
	
@media  (min-width:1300px) and (max-width:1500px){
	.Sharp{width: 1.8%;}	
}
	
@media  (min-width:1000px) and (max-width:1300px){
	.Sharp{width: 1.6%;}	
}

@media  (min-width:1001px){
	.mainBothEnds{margin: 0 auto;width: 79.2%;}	
}

@media  (min-width:768px) and (max-width:1000px){
	.partMgnTop{margin-top: 0;}
	.partAll{padding:0 6%;}
	.Sharp{width: 2.5%;}
	.sptBBMenu{width: 100%; margin-top: 2%;}
}

@media (max-width:767px){
	.mainLayout{padding-bottom: 5%;}
    .mainLimited{width: 100%}
	.lineGray{border-bottom: 1px solid #e6e6e6;}
	.sptBBMenu{width: 100%; margin-top: 3%;}	
	.bgMgn{padding: 6% 0;}
	.noBgMgnbtm{padding: 6% 0 0 0;}
    .partAll{width: 100%;padding: 0 5.5%;}
	ul.listNom li{margin-left: 6.5%;line-height: 1.61}
	ul.listDot li{width: 48%;}
	.titMgnTop{margin-top: 7%;}
	.Sharp{width: 5%;}
	.imgTitle{margin-top: 3%;}
	.imgTitRgt18{background-size: 70%; background-position-y: 50%; font-size: 3.65vw; margin-left: 2.5%;}
	.imgTitRgt30{background-size:70%;}
    .imgCnt{width: 100%;}
	.imgCnt img{margin: 8.8% 0;}
	.imgLeft{width: 100%;}
	.imgLeft img{width: 100%;}
	.QRcode p{width: 100%; padding:0 22.5% 0 16%; margin: 6% 0;}
	.QRcode p:first-child{margin-top: 8%;}
	.QRcode p:last-child{margin-bottom: 8%;}
	.QRcode p img:first-child{margin-bottom: 12%;}
	.QRcode p span{text-align: center; margin-top: 2%;}
	.sptLeft{background: none;
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);}
	.imgBox img{margin: 8.5% 0;}
    }	