<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>iTalkBB蜻蜓公司简介</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../shared/images/header/logo_bookmark.jpg"/>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="apple-itunes-app" content="app-id=514896649">

	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="../shared/css/bootstrap.min.css">
    <link rel="stylesheet" href="../shared/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/zh_common.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/zh_about.css">
    <!--这里继续添加子页面的Css引用文件-->

    <script src="../shared/js/jquery-1.12.4.min.js"></script>
    <script src="../shared/js/angular-1.6.4.min.js"></script>
    <script src="../shared/js/bootstrap.min.js"></script>
    <script src="../shared/js/imageMapResizer.js"></script>
    <script src="../shared/js/common.js"></script>
    <script src="../shared/js/aboutNews.js"></script>
    <!--这里继续添加子页面的Js引用文件-->
</head>


<body ng-app="myApp" ng-controller="myCtrl" style="background:white;">
    <!--Carson制作-->

    <div ng-include="'header.html'"></div>

    <div class="container1920">
        <div class="mainLayout">
            <section class="aboutNewsBanner">
                <div class="container1920">
                    <div class="aboutNewsBanner1">
                        <img src="../shared/images/about/aboutNewsBanner1.jpg" class="img w100" alt="">
                        <div class="aboutNewsBannerText title30 pin" style="display:none;">
                            <span class="sans">iTalkBB</span>化蜻蜓，沟通全球华人显决心
                        </div>
                    </div>
                    <div class="aboutNewsBanner2">
                        <img src="../shared/images/about/aboutNewsBanner2.jpg" class="img w100" alt="">
                        <div class="aboutNewsBannerText title30 pin" style="display:none;">
                            <span class="sans">iTalkBB</span>化蜻蜓，沟通全球华人显决心
                        </div>
                    </div>
                    <div class="aboutNewsBanner3">
                        <img src="../shared/images/about/aboutNewsBanner3.jpg" class="img w100" alt="">
                        <div class="aboutNewsBannerText title30 pin" style="display:none;">
                            <span class="sans">iTalkBB</span>化蜻蜓，沟通全球华人显决心
                        </div>
                    </div>
                    <div class="clear clearfix"></div>
                </div>
                <div class="clear clearfix"></div>
            </section>

            <!--关于我们系列页面 tab 公共部分，每页的active不同-->
            <div ng-include="'aboutTab.html'"></div>
            <!--结束-->

            <div class="container1520">
                <div class="yearContainer">
                    <div class="yearSelect">
                        <div class="yearSelectLeft">
                            <p class="yearText sans title30">{{year}}</p>
                        </div>
                        <div class="yearSelectRight">
                            <p class="org title30 sans yearRightArrow">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="clear clearfix"></div>
                    </div>
                    <div class="otherYear" style="display:none;">
                        <div class="otherYearAll" ng-click="yearAll()">
                            <p class="otherYearText sans title28">全部新闻</p>
                        </div>
                        <div class="otherYear2017" ng-click="year2017()">
                            <p class="otherYearText sans title28">2017</p>
                        </div>
                        <div class="otherYear2016" ng-click="year2016()">
                            <p class="otherYearText sans title28">2016</p>
                        </div>
                        <div class="otherYear2015" ng-click="year2015()">
                            <p class="otherYearText sans title28">2015</p>
                        </div>
                    </div>
                </div>

                <div class="yearAll">
                    <div class="year2017" ng-show="newsContent2017">
                        2017
                    </div>
                    <div class="year2016" ng-show="newsContent2016">
                        2016
                    </div>
                    <div class="year2015" ng-show="newsContent2015">
                        2015
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="lineBlue"></div>
    
    <div ng-include="'footer.html'"></div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.year='全部新闻';
            $scope.newsContent2017=true;
            $scope.newsContent2016=true;
            $scope.newsContent2015=true;
            $scope.yearAll = function(){
                $scope.year = '全部新闻';
                $scope.newsContent2017 = true;
                $scope.newsContent2016 = true;
                $scope.newsContent2015 = true;
            };
            $scope.year2017 = function(){
                $scope.year = '2017';
                $scope.newsContent2017 = true;
                $scope.newsContent2016 = false;
                $scope.newsContent2015 = false;
            };
            $scope.year2016 = function(){
                $scope.year = '2016';
                $scope.newsContent2017 = false;
                $scope.newsContent2016 = true;
                $scope.newsContent2015 = false;
            };
            $scope.year2015 = function(){
                $scope.year = '2015';
                $scope.newsContent2017 = false;
                $scope.newsContent2016 = false;
                $scope.newsContent2015 = true;
            };
        });
    </script>
</body>
</html>