<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>iTalkBB蜻蜓-套餐优惠-移动+电视+电话</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../shared/images/header/logo_bookmark.jpg"/>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="apple-itunes-app" content="app-id=514896649">

    <link rel="stylesheet" type="text/css"  href="../shared/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/zh_common.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/zh_bundles.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/swiper.min.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/reveal.css">

    <script src="../shared/js/jquery-1.12.4.min.js"></script>
    <script src="../shared/js/jquery-1.7.2.min.js"></script>
    <script src="../shared/js/jquery.reveal.js"></script>
    <script src="../shared/js/angular-1.6.4.min.js"></script>
    <script src="../shared/js/bootstrap.min.js"></script>
    <script src="../shared/js/imageMapResizer.js"></script>
    <script src="../shared/js/common.js"></script>
    <script src="../shared/js/bundlesPlanPriceDisplay.js"></script>
    <script src="../shared/js/italkbb.tools.js"></script>
    <script src="../shared/js/colorbox.js"></script>
    <style>
  #CheckPhoneNumberA{display: block;}
  .content_search_box_tel_none{display: none}
  .input_small{text-align: center;}
@media (min-width:768px) and (max-width:1000px){ 
  
	}
@media (max-width:767px){ 
   .mSwiper-button-next,.mSwiper-button-prev{top:15%;}
	}
    </style>
</head>
<body  ng-app="mobilePlanApp" ng-controller="mobilePlanController">
   <!-- Author: Amy --> 
   <div id="header"></div>     
   <!--main content begin-->  
   <div class="mainLayout">      
       <section class="bdBBTVMbanner"> 
         <div id="bundlesBanner"></div>    	    	   
       </section>       
       <section class="mainMgnTop">
      	  <div class="mainMgn100">
      	  	<div class="lineOrange"></div>
      	  </div>
      	  <div class="mainMgn100"> 
      	    <!-- bundlesBBTVM PC begin-->       	         	      	        	 
        	<div class="bundlesBox hideM" id="planPoint">
      	      <div class="planLine" id="tit">
       	      <p class="planTitleBig title30 mTitle38">选择手机线数</p>
              
       	       <div id="choseline">
                    <div class="lineSelect title18 mTitle26 clearfix">
                        <p class="lineSelectText line1 lineSelectSelected" ng-click="line1()"><span class="sans">1</span>条线</p>
                        <p class="lineSelectText line2" ng-click="line2()"><span class="sans">2</span>条线</p>
                        <p class="lineSelectText line3" ng-click="line3()"><span class="sans">3</span>条线</p>
                        <p class="lineSelectText line4" ng-click="line4()"><span class="sans">4</span>条线</p>
                        <p class="lineSelectText line5" ng-click="line5()"><span class="sans">5</span>条线</p>
                        <p class="lineSelectText line6" ng-click="line6()"><span class="sans">6</span>条线</p>          
                    </div>
                </div>
               </div>
       	      
        	  <div class="planBox clearfix">
        	  	<div class="planCon">
                   <div class="planUpper" id="up1">
        	  		  <div class="titleBox clearfix">
        	  		     <p class="title36 mTitle44">移动+电视+电话<span class="title24 org" style="display: block">1G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			<div class="priceBox priceBox2 avenir clearfix">
                     <p class="dollar title60 mTitle68">$</p>
                     <p class="priceBig title140 mTitle162">{{plan1_int}}</p>
                     <p class="priceSmall title70 mTitle78">
                       <span class="smallNom">{{plan1_dec}}</span>
                       <span class="smallSub title36 mTitle44">/月<sup><sup class="sans">1</sup></sup></span>
                     </p>                                	  			 	
        	  			</div>
        	  			<div class="lineNotes">
        	  			   <p class="text14 mText18">{{plan1_tex}}</p>
        	  			</div>
        	  			<div class="textBox">      	  			       
       	  			       <p class="title18 mTitle26">
       	  			        <span><img src="../shared/images/bb/chs_bbPlanIconSale.png"/></span>
        	  			    <span class="textHot">首月免费，返月费</span>
        	  			   </p>
        	  			</div>
        	  		  </div>
                   </div>
        	  	   <div class="planList" id="down1">
        	  		    <div class="planBtn">
						   <a href=""><p class="button title30 mTitle38">立即订购</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
       	  			    <div class="list1">
        	  			<div class="listCon">
        	  			   <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓移动（1G@4G LTE）</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">
     	  			           <li class="double">
     	  			           	<div class="chinaSimCard">
                                  <input type="checkbox" id="chinaSimCardCheckbox" ng-click="checkChinaSimEx()">
                                  <label for="chinaSimCardCheckbox" class="chinaSimCardCheckboxLabel" ng-click="checkChinaSimEx()">中国卡<sup class="sans">2</sup><span class="org">&nbsp;&nbsp;$1.00/线/月</span></label>
                                  <p>落地中国可直接使用、无需注册。让您在中国享受一样的无限通话和流量。</p>
        	  			        </div>
     	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">无限流量<sup class="sans">3</sup>, 短信和通话</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">高速手机流量： <span class="bl">1G@4G LTE</span></span>
								  </p>
      	  			           </li>
      	  			           <li class="double">
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">送免费100分钟国际通话</span>
								  </p>
      	  			           </li>      	  			           
       	  			        </ul>  
        	  			   </div>
        	  			   <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓电视</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">2017年独家正版院线大片</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">最新综艺，电视剧</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">高清中港台直播频道</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">支持72小时回放</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">海量影视剧点播</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">无合约，无设备费</span>
								  </p>
      	  			           </li>
       	  			        </ul>  
        	  			   </div>
        	  			   <div class="hook">
        	  				<p class="title18 mTitile26">蜻蜓电话</p>
       	  			        <ul class="bundlesCon text14 mTitle22 clearfix">
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">接听免费</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">免费保留原号码</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">赠送手机App</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">赠送<span class="bl">6个月</span>中美双号</span>
								  </p>
      	  			           </li>
      	  			           <li class="double">
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">拨打<a class="linkOrange" href="home-phone-rates.html#countrys" target="_blank">全球29个国家和地区</a>美/加/中/港/台仅需<span class="bl">$0.02</span>/分钟，其他地区<a class="linkOrange" href="home-phone-rates.html#rates" target="_blank">超低费率</a> </span>
								  </p>
      	  			           </li>
       	  			        </ul>  
        	  			   </div>
        	  			</div>
        	  			</div>   	  			
        	  	   </div>
        	  	</div>
        	  	<div class="planSpace hideM">
    	  	       <div class="planCompare"></div>  	  	       
       	  	    </div>
        	  	<div class="planCon plan2">
                   <div class="planUpper" id="up2">
					  <div class="titleBox titleBox4 clearfix">
        	  			<p class="title36 mTitle44">移动+电视+电话<span class="title24 org" style="display: block">5G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			 <div class="priceBox priceBox2 avenir clearfix">
                     <p class="dollar title60 mTitle68">$</p>
                     <p class="priceBig title140 mTitle162">{{plan2_int}}</p>
                     <p class="priceSmall title70 mTitle78">
                       <span class="smallNom">{{plan2_dec}}</span>
                       <span class="smallSub title36 mTitle44">/月<sup><sup class="sans">1</sup></sup></span>
                     </p>         	  			 	
        	  			 </div>
        	  			 <div class="lineNotes">
        	  			    <p class="text14 mTitle22">{{plan1_tex}}</p>
        	  			 </div>
        	  			 <div class="textBox">
       	  			       <p class="title18 mTitle26">
       	  			        <span><img src="../shared/images/bb/chs_bbPlanIconSale.png"/></span>
        	  			    <span class="textHot">首月免费，返月费</span>
        	  			   </p>
        	  			 </div>
        	  		  </div>
                   </div>
        	  	   <div class="planList planList2" id="down2">
        	  		    <div class="planBtn">
						   <a href=""><p class="button title30 mTitle38">立即订购</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
       	  			    <div class="list2">
        	  			<div class="listCon">
       	  			       <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓移动（5G@4G LTE）</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">
     	  			           <li class="double">
     	  			           	<div class="chinaSimCard">
                                  <input type="checkbox" id="chinaSimCardCheckbox2" ng-click="checkChinaSimEx()">
                                  <label for="chinaSimCardCheckbox2" class=" chinaSimCardCheckboxLabel2" ng-click="checkChinaSimEx()">中国卡<sup class="sans">2</sup><span class="org">&nbsp;&nbsp;$1.00/线/月</span></label>
                                  <p>落地中国可直接使用、无需注册。让您在中国享受一样的无限通话和流量。</p>
        	  			        </div>
     	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">无限流量<sup class="sans">3</sup>, 短信和通话</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">高速手机流量： <span class="bl">5G@4G LTE</span></span>
								  </p>
      	  			           </li>
      	  			           <li class="double">
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">送免费100分钟国际通话</span>
								  </p>
      	  			           </li>      	  			           
       	  			        </ul>  
        	  			   </div>
        	  			   <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓电视</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">     	  			           
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">2017年独家正版院线大片</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">最新综艺，电视剧</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">高清中港台直播频道</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">支持72小时回放</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">海量影视剧点播</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">无合约，无设备费</span>
								  </p>
      	  			           </li>
       	  			        </ul>  
        	  			   </div>
       	  			    <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓电话</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">接听免费</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">免费保留原号码</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">赠送手机App</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">赠送<span class="bl">12个月</span>中美双号</span>
								  </p>
      	  			           </li>
      	  			           <li class="double">
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">座机：<span class="bl">免费无限拨打</span>美/加/中/港/台等<a class="linkOrange" href="home-phone-rates.html#countrys" target="_blank">全球29个国家和地区</a></span>
								  </p>
      	  			           </li>
      	  			           <li class="double">
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">手机：<span class="bl">免费无限拨打</span>国际长途</span>
								  </p>
      	  			           </li>
       	  			        </ul>  
        	  			   </div>
        	  			</div>
						</div>
        	  	   </div>
        	  	</div>
        	  </div>
             
        	</div>
        	<!-- bundlesBBTVM PC End-->  
        	 
        	<!-- bundlesBBTVM Phone begin-->   
        	<div class="bundlesBox showM">
      	      <div class="planLine" id="titphone">
       	         <p class="planTitleBig title30 mTitle38">选择手机线数</p>
       	         <div id="choselinephone">
                    <div class="lineSelect title18 mTitle26 clearfix">
                        <p class="lineSelectText line1 lineSelectSelected" ng-click="line1()"><span class="sans">1</span>条线</p>
                        <p class="lineSelectText line2" ng-click="line2()"><span class="sans">2</span>条线</p>
                        <p class="lineSelectText line3" ng-click="line3()"><span class="sans">3</span>条线</p>
                        <p class="lineSelectText line4" ng-click="line4()"><span class="sans">4</span>条线</p>
                        <p class="lineSelectText line5" ng-click="line5()"><span class="sans">5</span>条线</p>
                        <p class="lineSelectText line6" ng-click="line6()"><span class="sans">6</span>条线</p>          
                    </div>
                </div>
       	      </div>
       	      <div class="mSwiperBox mNewswiper2">
        	  <div class="planBox mSwiper-wrapper clearfix">
        	  	<div class="planCon plan1 mSwiper-slide" >
                   <div class="planUpper" id="up1phone">
        	  		  <div class="titleBox clearfix">
        	  			 <p class="title36 mTitle44">移动+电视+电话<span class="title24 mTitle32 org" style="display: block">1G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			<div class="priceBox priceBox2 avenir clearfix">
                     <p class="dollar title60 mTitle68">$</p>
                     <p class="priceBig title140 mTitle162">{{plan1_int}}</p>
                     <p class="priceSmall title70 mTitle78">
                       <span class="smallNom">{{plan1_dec}}</span>
                       <span class="smallSub title36 mTitle44">/月<sup><sup class="sans">1</sup></sup></span>
                     </p>       	  			 	
        	  			</div>
        	  			<div class="lineNotes">
        	  			   <p class="text14 mText18">{{plan1_tex}}</p>
        	  			</div>
        	  			<div class="textBox">
       	  			       <p class="title18 mTitle26">
       	  			        <span><img src="../shared/images/bb/chs_bbPlanIconSale.png"/></span>
        	  			    <span class="textHot">首月免费，返月费</span>
        	  			   </p>
        	  			</div>
        	  		  </div>
                   </div>
        	  	   <div class="planList">
        	  		    <div class="planBtn">
						   <a href=""><p class="button title30 mTitle38">立即订购</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
       	  			    <div class="list1">
        	  			<div class="listCon">
       	  			       <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓移动（1G@4G LTE）</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">
     	  			           <li class="double">
     	  			           	<div class="chinaSimCard">
                                  <input type="checkbox" id="chinaSimCardCheckbox3" ng-click="checkChinaSimEx()">
                                  <label for="chinaSimCardCheckbox3" class=" chinaSimCardCheckboxLabel3" ng-click="checkChinaSimEx()">中国卡<sup class="sans">2</sup><span class="org">&nbsp;&nbsp;$1.00/线/月</span></label>
                                  <p class="checkboxText">落地中国可直接使用、无需注册。让您在中国享受一样的无限通话和流量。</p>
        	  			        </div>
     	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">无限流量<sup class="sans">3</sup>, 短信和通话</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">送免费100分钟国际通话</span>
								  </p>
      	  			           </li>
      	  			           <li class="double">
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">高速手机流量： <span class="bl">1G@4G LTE</span></span>
								  </p>
      	  			           </li>      	  			           
       	  			        </ul>  
        	  			   </div>
        	  			   <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓电视</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">2017年独家正版院线大片</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">最新综艺，电视剧</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">高清中港台直播频道</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">支持72小时回放</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">海量影视剧点播</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">无合约，无设备费</span>
								  </p>
      	  			           </li>
       	  			        </ul>  
        	  			   </div>
        	  			   <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓电话</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">接听免费</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">免费保留原号码</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">赠送手机App</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">赠送<span class="bl">6个月</span>中美双号</span>
								  </p>
      	  			           </li>
      	  			           <li class="double">
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">拨打<a class="linkOrange" href="home-phone-rates.html#countrys" target="_blank">全球29个国家和地区</a>美/加/中/港/台仅需<span class="bl">$0.02</span>/分钟，其他地区<a class="linkOrange" href="home-phone-rates.html#rates" target="_blank">超低费率</a></span>
								  </p>
      	  			           </li>
       	  			        </ul>  
        	  			   </div>
        	  			</div>
        	  			</div>   	  			
        	  	   </div>
        	  	</div>
        	  	<div class="planCon plan2 mSwiper-slide">
                   <div class="planUpper">
        	  		  <div class="titleBox titleBox4 clearfix">
        	  			 <p class="title36 mTitle44">移动+电视+电话<span class="title24 mTitle32 org" style="display: block">5G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			<div class="priceBox priceBox2 avenir clearfix">
                           <p class="dollar title60 mTitle68">$</p>
                           <p class="priceBig title140 mTitle162">{{plan2_int}}</p>
                           <p class="priceSmall title70 mTitle78">
                              <span class="smallNom">{{plan2_dec}}</span>
                              <span class="smallSub title36 mTitle44">/月<sup><sup class="sans">1</sup></sup></span>
                           </p>       	  			 	
        	  			</div>
        	  			<div class="lineNotes">
        	  			   <p class="text14 mText18">{{plan1_tex}}</p>
        	  			</div>
        	  			<div class="textBox">
       	  			       <p class="title18 mTitle26">
       	  			        <span><img src="../shared/images/bb/chs_bbPlanIconSale.png"/></span>
        	  			    <span class="textHot">首月免费，返月费</span>
        	  			   </p>
        	  			</div>
        	  		  </div>
                   </div>
        	  	   <div class="planList planList2">
        	  		    <div class="planBtn">
						   <a href=""><p class="button title30 mTitle38">立即订购</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
       	  			    <div class="list2">
        	  			<div class="listCon">
       	  			       <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓移动（5G@4G LTE）</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">
     	  			           <li class="double">
     	  			           	<div class="chinaSimCard">
                                  <input type="checkbox" id="chinaSimCardCheckbox4" ng-click="checkChinaSimEx()">
                                  <label for="chinaSimCardCheckbox4" class=" chinaSimCardCheckboxLabel4" ng-click="checkChinaSimEx()">中国卡<sup class="sans">2</sup><span class="org">&nbsp;&nbsp;$1.00/线/月</span></label>
                                  <p class="checkboxText">落地中国可直接使用、无需注册。让您在中国享受一样的无限通话和流量。</p>
        	  			        </div>
     	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">无限流量<sup class="sans">3</sup> , 短信和通话</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">送免费100分钟国际通话</span>									 
								  </p>
      	  			           </li>
      	  			           <li class="double">
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">高速手机流量： <span class="bl">5G@4G LTE</span></span>
								  </p>
      	  			           </li>      	  			           
       	  			        </ul>  
        	  			   </div>
        	  			   <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓电视</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">2017年独家正版院线大片</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">最新综艺，电视剧</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">高清中港台直播频道</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">支持72小时回放</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">海量影视剧点播</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">无合约，无设备费</span>
								  </p>
      	  			           </li>
       	  			        </ul>  
        	  			   </div>
       	  			    <div class="hook">
        	  				<p class="title18 mTitle26">蜻蜓电话</p>
       	  			        <ul class="bundlesCon text14 mText18 clearfix">
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">接听免费</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">免费保留原号码</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">赠送手机App</span>
								  </p>
      	  			           </li>
      	  			           <li>
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">赠送<span class="bl">12个月</span>中美双号</span>
								  </p>
      	  			           </li>
      	  			           <li class="double">
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">座机：<span class="bl">免费无限拨打</span>美/加/中/港/台等<a class="linkOrange" href="home-phone-rates.html#countrys" target="_blank">全球29个国家和地区</a></span>
								  </p>
      	  			           </li>
      	  			           <li class="double">
      	  			           	  <p class="clearfix">
      	  			           	     <span class="Sharp">&gt;</span>
									 <span class="textCon">手机：<span class="bl">免费无限拨打</span>国际长途</span>
								  </p>
      	  			           </li>
       	  			        </ul>  
        	  			   </div>
        	  			</div>
						</div>
        	  	   </div>
        	  	</div>        	  	
        	  </div>
              <!-- Add Arrows -->
              <div class="mSwiper-button-next mSwiper-button-next2"></div>
              <div class="mSwiper-button-prev mSwiper-button-prev2"></div>
             </div>
        	</div>
        	<!--  bundlesBBTVM Phone End--> 	
		  </div>           	      	
       </section> 
       
       <!-- bundlesTV & bundlesBB & bundlesMobile Begin-->  
       <section>
       	  <div class="bundlesMobile clearfix">
	   	     <div class="bundlesText">
	   	     	<p class="titleMgnBtm title36 mTitle44 fwb">蜻蜓移动</p>
	   	     	<p class="title30 mTitle38">一个手机计划，美国中国都能用</p>
	   	     </div>	
	   	     <div class="iconsCon iconsCon2 mainMgn200 clearfix">
	   	        <div class="iconsBox text18 mText26">
	   	        	<p class="titleMgnBtm iconsTitle iconsTitle7 title30 mTitle38 fwb">美国卡</p>
	   	        	<p class="titleMgnBtm">蜻蜓移动为您提供美国卡和中国卡<sup class="sans">4</sup>。美国卡供您在美国境内使用，中国卡供您在中国境内使用，两张SIM卡共用一个手机计划。</p>
	   	        	<p class="titleMgnBtm title20 mTitle28 fwb">在美国</p>
	   	        	<div class="iconsList">
	   	        		<p>享受美国本地无限通话、无限短信、高速流量。</p>
	   	        		<p>接收来自中国卡的电话：中国亲友拨打您中国的手机号，将自动转接到您美国的手机上，而您中国的亲友只需支付中国本地话费。</p>
	   	        		<p><span class="fwb bl">独家功能：</span>接收来自中国的短信和验证码！注册银行账号、 网上账户、淘宝购物轻松搞定！</p>
	   	        	</div>
	   	        </div>
	   	        <div class="iconsBox iconsSpace hideM">&nbsp;</div>
	   	        <div class="iconsBox text18 mText26">
	   	        	<p class="titleMgnBtm iconsTitle iconsTitle8 title30 mTitle38 fwb">中国卡</p>
	   	        	<p class="titleMgnBtm">蜻蜓移动为您提供美国卡和中国卡<sup class="sans">4</sup>。中国卡供您在中国境内使用。</p>
	   	        	<p class="titleMgnBtm title20 mTitle28 fwb">在中国</p>
	   	        	<div class="iconsList">
	   	        		<p>享受中国本地无限通话、无限短信、高速流量。</p>
	   	        		<p>当您在中国使用中国卡，可以接收来自美国卡的电话。美国的亲友拨打您美国的手机号将自动转接到您中国的手机上，双方不会产生额外费用。</p>
	   	        	</div>
	   	        </div>
	   	     </div>
	   	     <div class="iconsCon iconsCon2 iconTop mainMgn200 clearfix">
	   	        <div class="iconsBox text18 mText26">
	   	        	<p class="titleMgnBtm iconsTitle iconsTitle9 title30 mTitle38 fwb">无限流量<sup class="sans">3</sup>/通话/短信</p>
	   	        	<div class="iconsList">
	   	        		<p>蜻蜓移动为您提供高速流量，最多高达5G高速流量！</p>
	   	        		<p>不论您在美国还是中国，都可以享受无限流量、本地通话和短信！</p>
	   	        	</div>
	   	        </div>
	   	        <div class="iconsBox iconsSpace hideM">&nbsp;</div>
	   	        <div class="iconsBox text18 mText26">
	   	        	<p class="titleMgnBtm iconsTitle iconsTitle10 title30 mTitle38 fwb">国际通话</p>
	   	        	<p class="titleMgnBtm">iTalkBB蜻蜓移动提供国际通话服务，让您可以免费拨打<a class="linkOrange" href="home-phone-rates.html#countrys" target="_blank">全球29个国家和地区</a>！</p>
	   	        	<div class="iconsList">
	   	        		<p>蜻蜓老用户将免费享受国际通话功能<sup class="sans">5</sup>。</p>
	   	        		<p>新用户只需购买或升级到带有国际通话功能的套餐，也可以轻松畅打全球！</p>
	   	        		<p style="background: none;">想要国际通话服务？请立即拨打1-855-482-5566，立即升级！</p>
	   	        	</div>
	   	        </div>
	   	     </div>
	   	  </div>
       </section>
	   <section class="mainMgn100">
	   	  <div class="bundlesTV clearfix">
	   	     <div class="bundlesText">
	   	     	<p class="titleMgnBtm title36 mTitle44 fwb">蜻蜓电视</p>
	   	     	<p class="title30 mTitle38">海外华人首选中文电视</p>
	   	     </div>	
	   	     <div class="iconsCon clearfix">
	   	        <div class="iconsBox text18 mText26">
	   	        	<p class="titleMgnBtm iconsTitle iconsTitle1 title30 mTitle38 fwb">2017独家院线新片</p>
	   	        	<div class="iconsList">
	   	        		<p>iTalkBB蜻蜓电视购买了多部2017最新正版院线大片，让您在家就可以看到时下最火华语电影，免费点播，高清画质。</p>
	   	        		<p>iTalkBB蜻蜓电视采用最尖端图像处理技术，以呈现高清画质，让您体验完美视听享受。</p>
	   	        	</div>
	   	        </div>
	   	        <div class="iconsBox iconsSpace hideM">&nbsp;</div>
	   	        <div class="iconsBox text18 mText26">
	   	        	<p class="titleMgnBtm iconsTitle iconsTitle2 title30 mTitle38 fwb">海量影视剧同步更新，随时点播</p>
	   	        	<div class="iconsList">
	   	        		<p>与国内同步更新最受欢迎的电视剧、人气综艺和票房大片。</p>
	   	        		<p>点播功能让您随时随地想怎么看就怎么看。</p>
	   	        	</div>
	   	        </div>
	   	        <div class="iconsBox iconsSpace hideM">&nbsp;</div>
	   	        <div class="iconsBox text18 mText26">
	   	        	<p class="titleMgnBtm iconsTitle iconsTitle3 title30 mTitle38 fwb">高清中/港/台直播</p>
	   	        	<div class="iconsList">
	   	        		<p>iTalkBB蜻蜓电视提供中/港/台六十多个热门频道实时直播，让您和家人观看内地、香港、台湾和海外频道的即时节目。</p>
	   	        		<p>在iTalkBB蜻蜓电视上，新闻、综艺、访谈、电视剧应用尽有，让您第一时间获得最新资讯。</p>
	   	        	</div>
	   	        </div>
	   	     </div>
	   	  </div>
	   	  
	   	  <div class="bundlesBB">
	   	     <div class="bundlesText">
	   	     	<p class="titleMgnBtm title36 mTitle44 fwb">蜻蜓电话</p>
	   	     	<p class="title30 mTitle38">海外华人市场NO.1家庭电话品牌</p>
	   	     </div>	
	   	     <div class="iconsCon clearfix">
	   	        <div class="iconsBox clearfix">
	   	        	<p class="titleMgnBtm iconsTitle iconsTitle4 title30 mTitle38 fwb">免费保留原号码</p>
	   	        	<div class="iconsList text18 mText26">
	   	        		<p>轻松将您原本电话号码转到您的iTalkBB蜻蜓电话上。</p>
	   	        		<p>输入您的号码，查看是否符合转号需要。</p>
	   	        	</div>
	   	        	<div class="numberSearch">
      	  	   	 	   <p class="numsearchImg text18 mText26">&nbsp;</p>
      	  	   	 	   <input class="numsearchBar input_small text18 mText26" name="txtnpa" id="txtnpa" type="text" maxlength="3" onkeyup="autotab(txtnpa, txtnxx, 3);" onfocus="inputFocus(this);" onblur="inputUnfocus(this);">
      	  	   	 	   <p class="numsearchBarLine text18 mText26">—</p> 
        	           <input class="numsearchBar input_small text18 mText26" name="txtnxx" id="txtnxx" type="text" maxlength="3" onkeyup="autotab(txtnxx, txtlast, 3);" onfocus="inputFocus(this);" onblur="inputUnfocus(this);" > 
        	           <p class="numsearchBarLine text18 mText26">—</p>
        	           <input class="numsearchBar input_small text18 mText26" name="txtlast" id="txtlast" maxlength="4" type="text" onfocus="inputFocus(this);" onblur="inputUnfocus(this);">         	        
        	           <a class="big-link" data-reveal-id="reservationNom"> 
        	           <p class="numsearchButton text18 mText26"  id="js_rates_sch_btn"  onclick="CheckPhoneNumber(this,'US')" value="">
                         <span>保留号码</span>
                       </p>
                       </a>
      	  	   	    </div>
      	  	   	    
      	  	   	<!-- reservation number from begin -->
      	  	   	<div class="planForm">
                    <div id="reservationNom" class="reveal-modal reveal-modal2">
                       <div class="nomberCon">
                       <!--CheckPhoneNumberA--> 
                       <div id="CheckPhoneNumberA" class="content_search_box_tel_none text18 mText26">
					      <p>很抱歉，电话号码不能为空！</p>
                          <p><a href="javascript:void(0);" class="linkOrange ccclose"><span onclick="RetCheckPhoneNumber()">请输入您的电话号码</span></a></p>
                       </div>
                       <!--可以转显示下面的 CheckPhoneNumberB--> 
                       <div id="CheckPhoneNumberB" class="content_search_box_tel_none">
					      <p class="text18 mText26">恭喜！您现有的电话号码可以被保留！</p>
                          <p class="text18 mText26"><a href="javascript:void(0);" class="linkOrange ccclose"><span onclick="RetCheckPhoneNumber()">试试另一个号码</span></a> ; <!--回到检查号码是否可以转的页面--><a href="../chs/bundles-mobile-tv-phone.html#planPoint" class="linkOrange"><span class="ccclose">看看有哪些计划</span></a><!--链接是多语言的，要替换enu为chs和chs--></p>
                       </div>
                       <!--不能转显示下面的 CheckPhoneNumberC-->
                       <div id="CheckPhoneNumberC" class="content_search_box_tel_none">
					      <p class="text18 mText26">很遗憾，您现有的电话号码不能被保留。选一个新号码吧！</p> 
                          <p  class="text18 mText26"><a href="javascript:void(0);" class="linkOrange ccclose"><span onclick="RetCheckPhoneNumber()">试试另一个号码</span></a><!--回到检查号码是否可以转的页面--> ; <a href="https://www2.iTalkBB.com/USBBSignup/US_zh-CHS.aspx" target="_blank" class="linkOrange"> <span>选择计划和一个新号码</span></a><!--根据语言参数显示3个语言的注册链接--></p>
					   </div>
                      <a class="close-reveal-modal ccclose" style="text-decoration:none">&#215;</a>
                      </div>																												
                   </div>                                   
                </div>       	  	     
                <!-- reservation number from end -->      	  	   	    
	   	        </div>
	   	        <div class="iconsBox iconsSpace hideM">&nbsp;</div>
	   	        <div class="iconsBox clearfix">
	   	        	<p class="titleMgnBtm iconsTitle iconsTitle5 title30 mTitle38 fwb">接听免费</p>
	   	        	<div class="iconsList text18 mText26">
	   	        		<p>免费接听美国本地电话。</p>
	   	        		<p>免费接听国际电话。</p>
	   	        	</div>
	   	        </div>
	   	        <div class="iconsBox iconsSpace hideM">&nbsp;</div>
	   	        <div class="iconsBox clearfix">
	   	        	<p class="titleMgnBtm iconsTitle iconsTitle6 title30 mTitle38 fwb">网内免费通话</p>
	   	        	<div class="iconsList text18 mText26">
	   	        		<p>如果您的好友也是我们蜻蜓电话的用户，那么您直拨他们的899号码就能免费通话。</p>
	   	        	</div>
	   	        </div>
	   	     </div>
	   	  </div>
	   </section>
       <!-- bundlesTV & bundlesBB & bundlesMobile End--> 
       <section class="bdDisclaimer mainMgn100">
          <ul class="listNom text14 mText18">
		   	<li>
		   		<p>价格不包括开通费，税费和附加费。</p>
		   	</li>
		   	<li>
		   		<p>中国卡由iTalk Global Communications, Inc.出售，您可在之后的注册过程中额外购买。在中国：享受美国卡上的套餐计划而无需支付任何额外费用；在美国：免费接收来自中国的电话/短信/验证码。中国卡服务费$1.00/线/月，一次性卡费$10/卡。</p>
		   	</li>
		   	<li>
		   		<p>本月高速流量用完后用户将被降速至月账单结束，仅限美国市场。</p>
		   	</li>
		   	<li>
		   		<p>美国手机卡服务由iTalk Mobile Corporation提供；中国手机卡服务由iTalk Global Communication, Inc.提供。</p>
		   	</li>
		   	<li>
		   		<p>根据您现有iTalkBB蜻蜓电话服务的不同，我们会赠送您不同的国际通话分钟数：现$4.99套餐用户获得100分钟/线/月国际通话分钟数，现$24.99套餐用户获得无限国际通话分钟数/线/月。</p>
		   	</li>
		  </ul>
       </section>
                   
  </div>
  <!--main content end--> 
  
  <div class="lineBlue"></div>
  <div id="footer"></div>
    <script>
	   $('#header').load('header.html');	   
	   $('#bundlesBanner').load('bundlesBanner.html');
       $('#footer').load('footer.html');
    </script>
  
<!-- Swiper JS begin-->
  <script src="../shared/js/swiper.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
        var swiper = new Swiper('.mNewswiper2', {
            pagination: '.mSwiper-pagination2',
            paginationClickable: '.mSwiper-pagination2',
            nextButton: '.mSwiper-button-next2',
            prevButton: '.mSwiper-button-prev2',
            spaceBetween: 0
        });
  </script>
<!-- Swiper JS end-->
  
</body>
<script> 
$(window).resize(function(){
var screenWidth = $(window).width();
    if(screenWidth<767){              
      var u = $("#titphone").height();
       var f =$('#choselinephone').width()*0.03; 
        var a = $("#up1phone").height();  
         var k = u+f+a;
          $(".bundlesBox").css({"background-size":"100% "+k+'px'});    
          
        }
    if(screenWidth>=767){
          var a = $("#up1").height();
                  var u = $("#tit").height();                   
                  // 标题高
                  var f =$('#choseline').width()*0.03;
                  var k = u+f+a;
            $(".bundlesBox").css({"background-size":"100% "+k+'px'});

      $(".planSpace").css({"height":k});
      
    var i = $("#up1").height();
    $("#up2").css({"height":i});
    var o = $("#down1").height();
    $("#down2").css({"height":o});    
    
        }
});

$(function(){
var screenWidth = $(window).width();
    if(screenWidth<767){       
      var u = $("#titphone").height();
       var f =$('#choselinephone').width()*0.03; 
        var a = $("#up1phone").height();  
         var k = u+f+a;
          $(".bundlesBox").css({"background-size":"100% "+k+'px'});       

        }
    if(screenWidth>=767){
          var a = $("#up1").height();
                  var u = $("#tit").height();                   
                  // 标题高
                  var f =$('#choseline').width()*0.03;
                  var k = u+f+a;
      $(".bundlesBox").css({"background-size":"100% "+k+'px'});
			$(".planSpace").css({"height":a});
			
		var i = $("#up1").height();
		$("#up2").css({"height":i});
    var o = $("#down1").height();
    $("#down2").css({"height":o});  	
		
        }
});
</script>
</html>