<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>iTalkBB蜻蜓移动-产品计划</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../shared/images/header/logo_bookmark.jpg"/>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="apple-itunes-app" content="app-id=514896649">

    <link rel="stylesheet" type="text/css"  href="../shared/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/zh_common.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/zh_bbPlan.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/swiper.min.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/reveal.css">
	<link rel="stylesheet" type="text/css"  href="../shared/css/zh_mobilePlan.css">

    <script src="../shared/js/jquery-1.12.4.min.js"></script>
    <script src="../shared/js/jquery-1.7.2.min.js"></script>
    <script src="../shared/js/jquery.reveal.js"></script>
    <script src="../shared/js/angular-1.6.4.min.js"></script>
    <script src="../shared/js/bootstrap.min.js"></script>
    <script src="../shared/js/imageMapResizer.js"></script>
    <script src="../shared/js/common.js"></script>
    <script src="../shared/js/mobilePlanPriceDisplay.js"></script>
    <style>
  .content_search_box_tel_none{display: none}
  .orange a{color: #ff7f00}
  .input_small{text-align: center;}
  
  .titleBox{padding: 0 27%;}
  .titleBox p{padding:8% 0% 2% 26%; margin-bottom:-23%;background-size: 22%; background-position-x: 13.5%;background-position-y: 5%;}
  .titleBox2 p{background: #fcfcfc;padding-left: 0;}
  .titleBox3 {padding: 0 36%;}
  .titleBox3 p{background: #f8f8f8; padding-left: 0; padding-top: 6%; margin-bottom:-8%;}
  .planText{margin-top: 15%;}
@media (min-width:768px) and (max-width:1000px){
  .titleBox{padding: 0 21%;}
  .titleBox p{padding:8% 0% 2% 26%; margin-bottom:-24%;background-size: 22%; background-position-x: 14%;background-position-y: 10%;}
  .titleBox2 p{background: #fcfcfc;padding-left: 0;}
  .titleBox3{padding: 0 35%;}
  .titleBox3 p{padding-left: 0;}
  .planText{margin-top: 18%;}
	}
@media (max-width:767px){
  .titleBox p{padding:8% 0% 2% 24%; margin-bottom:-20%;background-size: 18%; background-position-x: 15%;background-position-y: 10%;}
  .titleBox2 p{background: #fcfcfc;padding-left: 0;}
  .planText{margin-top: 19%;}
	}
    </style>
</head>

<body  ng-app="mobilePlanApp" ng-controller="mobilePlanController" >
   <!-- Author: Carson, Partially copied from Amy -->
   <div id="header"></div>

   <!--main content begin-->  
   <div class="mainLayout">      
       <section class="bannerAll">
     	    <div class="bannerText">
     	    	<p class="title60 mTitle60 pin fwb bannerTitle">蜻蜓移动</p>
     	    	<p class="title30 mTitle30 pin bannerSubTitle">
     	    	   <span>属于海外华人的手机计划</span>
     	    	   <span>为您打造无限 • 精彩 • 双国生活</span>
     	    	</p>
     	    </div>      	    	   
       </section>
       
       <section class="mainMgnTop">
           <div class="mainMgn100">
               <div class="lineOrange"></div>
           </div>
      	  <div class="mainMgn100"> 
      	    <!-- bbPlan PC begin-->       	         	      	        	 
        	<div class="bbPlan hideM" id="planPoint">
       	      <p class="planTitleBig title42 fwb" id="tit">蜻蜓移动产品计划</p>
                <div class="linex">
                <div class="ifCustomerLeft">
                    <p class="ifCustomerLeftText ifCustomerSelected pin title24 mTitle32 fwb" ng-click="isNotUser();">非用户</p>
                </div>
                <div class="ifCustomerRight">
                    <p class="ifCustomerRightText pin title24 mTitle32 fwb" ng-click="isUser();">用户</p>
                </div>
                <div class="clear clearfix"></div>
                <p class="lineSelectTitle title24 mTitle32">选择手机线数</p>
                <div id="choseline" style="position:relative;">
                    <div class="lineSelect title18 pin mTitle26">
                        <p class="lineSelectText line1 lineSelectSelected" ng-click="line1()"><span class="sans">1</span>条线</p>
                        <p class="lineSelectText line2" ng-click="line2()"><span class="sans">2</span>条线</p>
                        <p class="lineSelectText line3" ng-click="line3()"><span class="sans">3</span>条线</p>
                        <p class="lineSelectText line4" ng-click="line4()"><span class="sans">4</span>条线</p>
                        <p class="lineSelectText line5" ng-click="line5()"><span class="sans">5</span>条线</p>
                        <p class="lineSelectText line6" ng-click="line6()"><span class="sans">6</span>条线</p>
                        <div class="clear clearfix"></div>
                    </div>
                </div>
                </div>
       	      
        	  <div class="planBox clearfix">
        	  	<div class="planCon">
                   <div class="planUpper" id="up1">
        	  		  <div class="titleBox clearfix">
        	  		     <p class="title36 fwb">超值计划<span class="title24 org fwb" style="display: block">1G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			<div class="priceBox priceBox1 avenir clearfix">
        	  			   <p class="dollar title60">$</p>
        	  			   <p class="priceBig title140">{{plan1_int}}</p>
        	  			   <p class="priceSmall title70">
        	  			     <span class="smallNom"><span class="trans">.00</span>{{plan1_dec}}</span>
        	  			     <span class="smallSub title36 pin">/月<sup><sup class="sans">1</sup></sup></span>
        	  			   </p>       	  			 	
        	  			</div>
        	  			<div class="textBox">
       	  			       <p class="title18">
       	  			        <span><img src="../shared/images/bb/chs_bbPlanIconSale.png"/></span>
        	  			    <span class="textHot">首月免费，返月费</span>
        	  			   </p>
        	  			</div>
        	  		  </div>
                   </div>
        	  	   <div class="planList" id="down1">
        	  		    <div class="planBtn">
						   <a class="down1x" href=""><p class="button title30">立即订购</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
       	  			    <div class="list1 chinaSimCard">
                            <p class="title22 fwb">蜻蜓移动中国卡<sup class="sans">2</sup>
                                <input type="checkbox" id="chinaSimCardCheckbox" ng-click="checkChinaSimEx()">
                                <label for="chinaSimCardCheckbox" class="org title18 chinaSimCardCheckboxLabel" ng-click="checkChinaSimEx()">$1.00/线/月</label>
                            </p>
                            <p class="title16 ">落地中国可直接使用、无需注册。让您在中国享受一样的无限通话和流量。</p>

        	  			</div>
                       <p class="chinaSimLastFeatures title18">
                           <span class="countryCheck3">无限流量<sup class="sans">3</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <span class="countryCheck3">无限通话<sup>&nbsp;</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <span class="countryCheck3">无限短信<sup>&nbsp;</sup></span>
                       </p>
        	  	   </div>
        	  	</div>
        	  	<div class="planSpace hideM"></div>
        	  	<div class="planCon plan2">
                   <div class="planUpper" id="up2">
					  <div class="titleBox titleBox2 clearfix">
        	  			<p class="title36 fwb">畅享计划<span class="title24 org fwb" style="display: block">5G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			 <div class="priceBox priceBox2 avenir clearfix">
        	  			   <p class="dollar title60">$</p>
        	  			   <p class="priceBig title140">{{plan2_int}}</p>
        	  			   <p class="priceSmall title70">
        	  			     <span class="smallNom"><span class="trans">.00</span>{{plan2_dec}}</span>
                               <span class="smallSub title36 pin">/月<sup><sup class="sans">1</sup></sup></span>
        	  			   </p>       	  			 	
        	  			 </div>
        	  			 <div class="textBox">
       	  			       <p class="title18">
       	  			        <span><img src="../shared/images/bb/chs_bbPlanIconSale.png"/></span>
        	  			    <span class="textHot">首月免费，返月费</span>
        	  			   </p>
        	  			 </div>
        	  		  </div>
                   </div>
        	  	   <div class="planList planList2" id="down2">
        	  		    <div class="planBtn">
						   <a class="down2x" href=""><p class="button title30">立即订购</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
       	  			    <div class="list2 chinaSimCard">
                                <p class="title22 fwb pin">蜻蜓移动中国卡<sup class="sans">2</sup>
                                    <input type="checkbox" id="chinaSimCardCheckbox2" ng-click="checkChinaSimEx()">
                                    <label for="chinaSimCardCheckbox2" class="org title18 chinaSimCardCheckboxLabel2" ng-click="checkChinaSimEx()">$1.00/线/月</label>
                                </p>
                                <p class="title16 ">落地中国可直接使用、无需注册。让您在中国享受一样的无限通话和流量。</p>

                            </div>
                            <p class="chinaSimLastFeatures title18 pin">
                                <span class="countryCheck3">无限流量<sup class="sans">3</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="countryCheck3">无限通话<sup>&nbsp;</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="countryCheck3">无限短信<sup>&nbsp;</sup></span>
                            </p>
        	  	   </div>
        	  	</div>
        	  </div>
             
        	</div>
        	<!-- bbPlan PC End-->  
        	 
        	<!-- bbPlan Phone begin-->   
        <div class="bbPlan showM" id="planPointphone">
       	      <p class="planTitleBig title42 mTitle50 fwb" id="titphone">蜻蜓电话产品计划</p>
              <div class="linexphone">
				<div class="ifCustomerLeft">
					<p class="ifCustomerLeftText ifCustomerSelected pin title24 mTitle32 fwb" ng-click="isNotUser();">非用户</p>
				</div>
				<div class="ifCustomerRight">
					<p class="ifCustomerRightText pin title24 mTitle32 fwb" ng-click="isUser();">用户</p>
				</div>
				<div class="clear clearfix"></div>

				<p class="lineSelectTitle title24 mTitle32">选择手机线数</p>

				<div  id="choselinephone" style="position:relative;">
					<div class="lineSelect">
						<p class="title18 pin mTitle26 lineSelectText line1 lineSelectSelected" ng-click="line1()"><span class="sans">1</span>条线</p>
						<p class="title18 pin mTitle26 lineSelectText line2" ng-click="line2()"><span class="sans">2</span>条线</p>
						<p class="title18 pin mTitle26 lineSelectText line3" ng-click="line3()"><span class="sans">3</span>条线</p>
						<p class="title18 pin mTitle26 lineSelectText line4" ng-click="line4()"><span class="sans">4</span>条线</p>
						<p class="title18 pin mTitle26 lineSelectText line5" ng-click="line5()"><span class="sans">5</span>条线</p>
						<p class="title18 pin mTitle26 lineSelectText line6" ng-click="line6()"><span class="sans">6</span>条线</p>
						<div class="clear clearfix"></div>
					</div>
				</div>
        </div>






       	      <div class="mSwiperBox mNewswiper2">
        	  <div class="planBox mSwiper-wrapper clearfix">
        	  	<div class="planCon plan1 mSwiper-slide" >
                   <div class="planUpper" id="up1phone">
        	  		  <div class="titleBox clearfix">
        	  			 <p class="mTitle44 fwb">超值计划<span class="mTitle32 org fwb" style="display: block">1G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			<div class="priceBox priceBox1 avenir clearfix">
        	  			   <p class="dollar title60 mTitle68">$</p>
        	  			   <p class="priceBig title140 mTitle162">{{plan1_int}}</p>
        	  			   <p class="priceSmall title70 mTitle78">
        	  			     <span class="smallNom"><span class="trans">.00</span>{{plan1_dec}}</span>
        	  			     <span class="smallSub title36 mTitle44 pin">/月<sup><sup class="sans">1</sup></sup></span>
        	  			   </p>       	  			 	
        	  			</div>
        	  			<div class="textBox">
       	  			       <p class="title18 mTitle26">
       	  			        <span><img src="../shared/images/bb/chs_bbPlanIconSale.png"/></span>
        	  			    <span class="textHot">首月免费，返月费</span>
        	  			   </p>
        	  			</div>
        	  		  </div>
                   </div>
        	  	   <div class="planList">
        	  		    <div class="planBtn">
						   <a class="down1x" href=""><p class="button title30 mTitle38">立即订购</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
					   <div class="list1 chinaSimCard">
						   <p class="mTitle30 fwb pin">蜻蜓移动中国卡<sup class="sans">2</sup>
							   <input type="checkbox" id="chinaSimCardCheckbox3" ng-click="checkChinaSimEx()">
							   <label for="chinaSimCardCheckbox3" class="org mTitle26 chinaSimCardCheckboxLabel3" ng-click="checkChinaSimEx()">$1.00/线/月</label>
						   </p>
						   <p class="mTitle24">落地中国可直接使用、无需注册。让您在中国享受一样的无限通话和流量。</p>

					   </div>
					   <p class="chinaSimLastFeatures mTitle26 pin">
						   <span class="countryCheck3">无限流量<sup class="sans">3</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						   <span class="countryCheck3">无限通话<sup>&nbsp;</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						   <span class="countryCheck3">无限短信<sup>&nbsp;</sup></span>
					   </p>
        	  	   </div>
        	  	</div>
        	  	<div class="planCon plan2 mSwiper-slide">
                   <div class="planUpper">
        	  		  <div class="titleBox titleBox2 clearfix">
        	  			 <p class="title36 mTitle44 fwb">畅享计划<span class="mTitle32 org fwb" style="display: block">5G @ 4G LTE</span></p>
        	  		  </div>
        	  		  <div class="planText">
        	  			<div class="priceBox priceBox2 avenir clearfix">
        	  			   <p class="dollar title60 mTitle68">$</p>
        	  			   <p class="priceBig title140 mTitle162">{{plan2_int}}</p>
        	  			   <p class="priceSmall title70 mTitle78">
        	  			     <span class="smallNom"><span class="trans">.00</span>{{plan2_dec}}</span>
        	  			     <span class="smallSub title36 mTitle44 pin">/月<sup><sup class="sans">1</sup></sup></span>
        	  			   </p>       	  			 	
        	  			</div>
        	  			<div class="textBox">
       	  			       <p class="title18 mTitle26">
       	  			        <span><img src="../shared/images/bb/chs_bbPlanIconSale.png"/></span>
        	  			    <span class="textHot">前三个月免费，免开通费</span>
        	  			   </p>
        	  			</div>
        	  		  </div>
                   </div>
        	  	   <div class="planList planList2">
        	  		    <div class="planBtn">
						   <a class="down2x" href=""><p class="button title30 mTitle38">立即订购</p></a>
       	  			    </div>
       	  			    <div class="clear clearfix"></div>
					   <div class="list2 chinaSimCard">
						   <p class="mTitle30 fwb pin">蜻蜓移动中国卡<sup class="sans">2</sup>
							   <input type="checkbox" id="chinaSimCardCheckbox4" ng-click="checkChinaSimEx()">
							   <label for="chinaSimCardCheckbox4" class="org mTitle26 chinaSimCardCheckboxLabel4" ng-click="checkChinaSimEx()">$1.00/线/月</label>
						   </p>
						   <p class="mTitle24">落地中国可直接使用、无需注册。让您在中国享受一样的无限通话和流量。</p>

					   </div>
					   <p class="chinaSimLastFeatures mTitle26 pin">
						   <span class="countryCheck3">无限流量<sup class="sans">3</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						   <span class="countryCheck3">无限通话<sup>&nbsp;</sup></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						   <span class="countryCheck3">无限短信<sup>&nbsp;</sup></span>
					   </p>
        	  	   </div>
        	  	</div>
        	  </div>
              <!-- Add Arrows -->
              <div class="mSwiper-button-next mSwiper-button-next2"></div>
              <div class="mSwiper-button-prev mSwiper-button-prev2"></div>
             </div>
        	</div>
        	<!--  bbPlan Phone End-->  
        	 
        	<!--  bbPlan Others Begin-->  
        	<div class="bbPlanOther" style="">
       	      <div class="planOtherBox">
        	     <div class="planRefund">
                     <p class="title36 mTitle44 fwb">北美最大最可靠的<br class="showM"><span class="sans">4G LTE</span>网络</p>
			     </div>
       	      </div>
       	      <div class="planIcons">
       	       	   <div class="iconsBox clearfix">
             	      <div class="iconCon iconCon1">
             		     <p class="titleMgnBtm text16 mText22"></p>
             	      </div>
             	      <div class="iconCon iconCon2">
             		     <p class="titleMgnBtm text16 mText22"></p>
             	      </div>
             	      <div class="iconCon iconCon3">
             		     <p class="titleMgnBtm text16 mText22">无限流量<sup class="sans">3</sup></p>
             	      </div>
             	      <div class="iconCon iconCon4">
             		     <p class="titleMgnBtm text16 mText22">无限通话/短信</p>
             	      </div>
             	      <div class="iconCon iconCon5">
             		     <p class="titleMgnBtm text16 mText22">美国卡/中国卡</p>
             	      </div>
             	      <div class="iconCon iconCon6">
             		     <p class="titleMgnBtm text16 mText22">国际通话</p>
             	      </div>
             	      <div class="iconCon iconCon7">
             		     <p class="titleMgnBtm text16 mText22"></p>
             	      </div>
             	      <div class="iconCon iconCon8">
             		     <p class="titleMgnBtm text16 mText22"></p>
             	      </div>
				   </div>
      	        </div>
        	</div> 
        	<!-- bbPlan Others End-->    	
		  </div>           	      	
       </section>
       
    <section class="dataComparison">
        <p class="titleMgnBtm title36 mTitle44 fwb">移动生活，处处精彩</p>
        <p class="title18 mTitle26">蜻蜓移动为您提供高速流量，最多高达<span class="sans">5G</span>高速流量！</p>
        <div class="dataComparisonLeft">
            <img src="../shared/images/mobile/what_to_do_1G_data.png" class="img" alt="">
        </div>
        <div class="dataComparisonRight">
            <img src="../shared/images/mobile/what_to_do_5G_data.png" class="img" alt="">
        </div>
        <div class="clear clearfix"></div>
        <p class="title16 mTitle24 dataComparisonComments">数据来源：新华社</p>
    </section>
       
      <div class="twoCountriesPlan clearfix">
	   	     <div class="twoCardText">
	   	     	<p class="titleMgnBtm title36 mTitle44 fwb">美国卡&中国卡<sup><sup class="sans">4</sup></sup>：<br class="showM">一个手机计划 美国中国都能用</p>
	   	     	<p class="title18 mTitle26 mCardText">蜻蜓移动为您提供美国卡和中国卡。美国卡供您在美国境内使用，中国卡供您在中国大陆使用，两张<span class="sans">SIM</span>卡共用一个手机计划。不论您在美国还是中国，都能享受无线通话、无限短信、高速流量。</p>
	   	     </div>	
	   	     <div class="cardCon mainMgn200 clearfix">
	   	        <div class="cardBox text18 mText26">
	   	        	<p class="titleMgnBtm cardTitle cardTitle1 title30 mTitle38 fwb">在美国</p>
	   	        	<div class="cardList">
	   	        		<p>享受美国本地无限通话、无限短信、无限流量。</p>
	   	        		<p>接收来自中国卡的电话-中国亲友拨打您的中国手机号，将自动转接到您美国的手机上，而您中国的亲友只需支付中国本地话费。</p>
	   	        		<p><span class="fwb bl">独家功能：</span>接收来自中国的短信和验证码！注册银行账号、网上账户，淘宝购物轻松搞定！</p>
	   	        	</div>
	   	        </div>
	   	        <div class="cardBox cardSpace">&nbsp;</div>
	   	        <div class="cardBox text18 mText26">
	   	        	<p class="titleMgnBtm cardTitle cardTitle2 title30 mTitle38 fwb">在中国</p>
	   	        	<div class="cardList">
	   	        		<p>享受中国本地无限通话、无限短信、高速流量。</p>
	   	        		<p>接受来自美国卡的电话-美国亲友拨打您的美国手机号。</p>
	   	        	</div>
	   	        </div>
	   	     </div>
	   	  </div> 
	   	  
	   	  <div class="internationalCall clearfix">
	   	     <div class="callText">
	   	     	<p class="titleMgnBtm title36 mTitle44 fwb">国际通话，免费畅打<br class="showM">全球29个国家和地区</p>
	   	     	<p class="title18 mTitle26">想要畅打<a href="home-phone-rates.html#countrys" target="_blank" class="linkOrange">全球<span class="sans">29</span>个国家和地区</a>？</p>
	   	     </div>	
	   	     <div class="callCon cardCon mainMgn200 clearfix">
	   	        <div class="cardBox text18 mText26">
	   	        	<div class="cardList">
	   	        		<p>新用户只需购买或升级到带有国际通话功能的套餐，也可以轻松畅打全球。</p>
	   	        	</div>
	   	        </div>
	   	        <div class="cardBox cardSpace">&nbsp;</div>
	   	        <div class="cardBox text18 mText26">
	   	        	<div class="cardList">
	   	        		<p>iTalkBB蜻蜓电话用户将享受免费的国际通话功能<sup class="sans">5</sup>。</p>
	   	        	</div>
	   	        </div>
	   	     </div>
	   	     <p class="title30 mTitle38 pin multipleCountriesPhone">拨打<span class="sans">1-855-482-5566</span>，<br class="showM">立刻升级</p>
	   	  </div>

       <!--<section class="twoCountriesPlan">
		   <p class="titleMgnBtm title36 mTitle44 fwb">美国卡&中国卡<sup><sup class="sans">4</sup></sup>：<br class="showM">一个手机计划 美国中国都能用</p>
           <p class="title18 mTitle26">蜻蜓移动为您提供美国卡和中国卡。美国卡供您在美国境内使用，中国卡供您在中国大陆使用，两张<span class="sans">SIM</span>卡共用一个手机计划。不论您在美国还是中国，都能享受无线通话、无限短信、高速流量。</p>
           <div class="twoCountriesPlanLeft">
               <img src="../shared/images/mobile/US_sim_card_features.jpg" class="img w100" alt="">
               <p class="title24 mTitle32 pin fwb inUSTitle">在美国</p>
               <p class="title18 mTitle26 pin inUSTitleList">享受美国本地无限通话、无限短信、无限流量。</p>
               <p class="title18 mTitle26 inUSTitleList">接收来自中国卡的电话-中国亲友拨打您的中国手机号，将自动转接到您美国的手机上，而您中国的亲友只需支付中国本地话费。</p>
               <p class="title18 mTitle26 inUSTitleList"><b>独家功能：</b>接收来自中国的短信和验证码！注册银行账号、网上账户，淘宝购物轻松搞定！</p>
           </div>
           <div class="twoCountriesPlanRight">
               <img src="../shared/images/mobile/China_sim_card_features.jpg" class="img w100" alt="">
               <p class="title24 mTitle32 pin fwb inUSTitle">在中国</p>
               <p class="title18 mTitle26 pin inUSTitleList">享受中国本地无限通话、无限短信、高速流量。</p>
               <p class="title18 mTitle26 pin inUSTitleList">接受来自美国卡的电话-美国亲友拨打您的美国手机号。</p>
           </div>
           <div class="clear clearfix"></div>
           
       </section>

       <section class="multipleCountries">
           <p class="title36 mTitle44 pin twoCountriesPlanTitle fwb">国际通话，免费<br class="showM">畅打全球<span class="sans">29</span>个国家和地区</p>
           <p class="title18 mTitle26 pin multipleCountriesSubTitle">想要畅打<a href="bbRates.html#countrys" class="linkOrange">全球<span class="sans">29</span>个国家和地区</a>？<br>
			   <span class="countryCheck">iTalkBB蜻蜓电话用户将享受免费的国际通话功能<sup class="sans">5</sup>。</span>
               <span class="hideM">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
               <span class="countryCheck2">新用户只需购买或升级到带有国际通话功能的套餐，也可以轻松畅打全球。</span>
           </p>
           <p class="title24 mTitle32 pin multipleCountriesPhone">拨打<span class="sans">1-855-482-5566</span>，<br class="showM">立刻升级</p>
           <img src="../shared/images/mobile/countries_available_map.jpg" class="img countriesImgMap" alt="">

       </section>-->

        <section class="unlimitedTextTalkBanner">
            <p class="title36 mTitle44 unlimitedTextTalkTitle fwb">无限短信、通话</p>
            <p class="title18 mTitle26 unlimitedTextTalkSubTitle">免费无限拨打美国国内电话，免费无限收发<br class="showM">美国国内短信。</p>
        </section>

       <section class="mobileDisclaimer mainMgn200">
          <ul class="listNom text14 mText22">
		   	<li>
		   		<p>价格不包括开通费，税费和附加费。</p>
		   	</li>
		   	<li>
		   		<p>中国卡由iTalk Global Communications, Inc.出售，您可在之后的注册过程中额外购买。在中国：享受美国卡上的套餐计划而无需支付任何额外费用；在美国：免费接收来自中国的电话/短信/验证码。中国卡服务费$1.00/线/月，一次性卡费$10/卡。</p>
		   	</li>
		   	<li>
		   		<p>本月高速流量用完后用户将被降速至月账单结束，仅限美国市场。</p>
		   	</li>
		   	<li>
		   		<p>美国手机卡服务由iTalk Mobile Corporation提供；中国手机卡服务由iTalk Global Communication, Inc.提供。</p>
		   	</li>
		   	<li>
		   		<p>根据您现有iTalkBB蜻蜓电话服务的不同，我们会赠送您不同的国际通话分钟数：现$4.99套餐用户获得100分钟/线/月国际通话分钟数，现$24.99套餐用户获得无限国际通话分钟数/线/月。</p>
		   	</li>
		  </ul>
       </section>
  </div>
  <!--main content end-->  
    

  <div class="lineBlue mt0"></div>
  <div id="footer"></div>
    <script>
	   $('#header').load('header.html');
       $('#footer').load('footer.html');
    </script>

   <!-- Swiper JS begin-->
  <script src="../shared/js/swiper.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
        var swiper = new Swiper('.mNewswiper2', {
            pagination: '.mSwiper-pagination2',
            paginationClickable: '.mSwiper-pagination2',
            nextButton: '.mSwiper-button-next2',
            prevButton: '.mSwiper-button-prev2',
            spaceBetween: 0
        });
  </script>
<!-- Swiper JS end-->
  



</body>
<script> 
$(window).resize(function(){
var screenWidth = $(window).width();
console.log(screenWidth);
    if(screenWidth<767){
              
                  var a = $("#up1phone").height();
                  var c = $("#planPointphone").width();
                  var d = $("#titphone").height();
                  var u = $(".linexphone").height();                    
                  var b = c*0.035;
                  // 标题高
                  var p = d+b;
                  var f =$('#choselinephone').width()*0.03;
                  var k = p+a+u+f;
            $(".bbPlan").css({"background-size":"100% "+k+'px'}); 

        }
    if(screenWidth>=767){
          var a = $("#up1").height();
                  var c = $("#planPoint").width();
                  var d = $("#tit").height();
                  var u = $(".linex").height();                    
                  var b = c*0.035;
                  // 标题高
                  var p = d+b;
                  var f =$('#choseline').width()*0.03;
                  var k = p+a+u+f;
            $(".bbPlan").css({"background-size":"100% "+k+'px'});

      $(".planSpace").css({"height":k});
      
    var i = $("#up1").height();
    $("#up2").css({"height":i});
    var o = $("#down1").height();
    $("#down2").css({"height":o});    
    
        }
});

$(function(){
var screenWidth = $(window).width();



    if(screenWidth<767){
          
                  var a = $("#up1phone").height();
                  var c = $("#planPointphone").width();
                  var d = $("#titphone").height();
                  var u = $(".linexphone").height();                    
                  var b = c*0.035;
                  // 标题高
                  var p = d+b;
                  var f =$('#choselinephone').width()*0.03;
                  var k = p+a+u+f;
            $(".bbPlan").css({"background-size":"100% "+k+'px'}); 


        }
    if(screenWidth>=767){
          var a = $("#up1").height();
                  var c = $("#planPoint").width();
                  var d = $("#tit").height();
                  var u = $(".linex").height();                    
                  var b = c*0.035;
                  // 标题高
                  var p = d+b;
                  var f =$('#choseline').width()*0.03;
                  var k = p+a+u+f;
            $(".bbPlan").css({"background-size":"100% "+k+'px'});


			$(".planSpace").css({"height":a});
			
		var i = $("#up1").height();
		$("#up2").css({"height":i});
    var o = $("#down1").height();
    $("#down2").css({"height":o});  	
		
        }
});



</script>
</html>