<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>iTalkBB Company News</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../shared/images/header/logo_bookmark.jpg"/>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="apple-itunes-app" content="app-id=514896649">

	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="../shared/css/bootstrap.min.css">
    <link rel="stylesheet" href="../shared/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/zh_common.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/en_common.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/zh_about.css">
    <link rel="stylesheet" type="text/css"  href="../shared/css/en_about.css">
    <!--这里继续添加子页面的Css引用文件-->

    <script src="../shared/js/jquery-1.12.4.min.js"></script>
    <script src="../shared/js/angular-1.6.4.min.js"></script>
    <script src="../shared/js/bootstrap.min.js"></script>
    <script src="../shared/js/imageMapResizer.js"></script>
    <script src="../shared/js/common.js"></script>
    <script src="../shared/js/aboutNews.js"></script>
    <!--这里继续添加子页面的Js引用文件-->
</head>


<body ng-app="aboutNewsApp" ng-controller="aboutNewsController" style="background:white;">
    <!--Carson制作-->

    <div ng-include="'header.html'"></div>

    <div class="container1920">
        <div class="mainLayout">
            <div ng-include="'aboutNewsBanner.html'"></div>

            <!--关于我们系列页面 tab 公共部分，每页的active不同-->
            <div ng-include="'aboutTab.html'"></div>
            <!--结束-->

            <div class="container1520">
                <div class="newsContentBlock">
                    <div class="yearContainer">
                        <div class="yearSelect">
                            <div class="yearSelectLeft">
                                <p class="yearText sans title30 mTitle38">{{year}}</p>
                            </div>
                            <div class="yearSelectRight">
                                <p class="org title30 mTitle38 sans yearRightArrow">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                        <div class="otherYear" style="display:none;">
                            <div class="otherYearAll" ng-click="yearWhole()">
                                <p class="otherYearText sans title30 mTitle38">All News</p>
                            </div>
                            <div class="otherYear2016" ng-click="year2016()">
                                <p class="otherYearText sans title30 mTitle38">2016</p>
                            </div>
                            <div class="otherYear2014" ng-click="year2014()">
                                <p class="otherYearText sans title30 mTitle38">2014</p>
                            </div>
                            <div class="otherYear2010" ng-click="year2010()">
                                <p class="otherYearText sans title30 mTitle38">2010</p>
                            </div>
                            <div class="otherYear2008" ng-click="year2008()">
                                <p class="otherYearText sans title30 mTitle38">2008</p>
                            </div>
                            <div class="otherYear2007" ng-click="year2007()">
                                <p class="otherYearText sans title30 mTitle38">2007</p>
                            </div>
                            <div class="otherYear2006" ng-click="year2006()">
                                <p class="otherYearText sans title30 mTitle38">2006</p>
                            </div>
                            <div class="otherYear2005" ng-click="year2005()">
                                <p class="otherYearText sans title30 mTitle38">2005</p>
                            </div>
                            <div class="otherYear2004" ng-click="year2004()">
                                <p class="otherYearText sans title30 mTitle38">2004</p>
                            </div>
                            <div class="otherYearAll" ng-click="yearWhole()">
                                <p class="otherYearText sans title30 mTitle38">&nbsp;</p>
                            </div>
                        </div>
                    </div>


                    <a href="aboutNews07192016.html">
                    <div class="newsAll news2016 20160719" ng-show="newsAll||news2016">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2016</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">07 / </sup>19</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">iTalkBB Unveils Chinese Name and New Logo - An Effort to Better Serve Overseas Chinese Customers</p>
                                <p class="newsBlockRightText pin title20 mTitle28">iTalkBB, the world's leading Chinese telecommunication service provider, has announced its Chinese name and new logo, in an effort to better serve its overseas Chinese customers around the world. While retaining its English name, iTalkBB has added two Chinese characters "Qing Ting", which means dragonfly, to its brand name and logo.</p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div></a>

                    <div class="newsAll news2016 20160503" ng-show="newsAll||news2016">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2016</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">05 / </sup>03</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">ICNTV CEO and Management Team make a U.S. visit with iTalkBB to partner to improve Chinese TV overseas</p>
                                <p class="newsBlockRightText pin title20 mTitle28">CEO of ICNTV. Inc, Mr. Zhihui Xiong and his management team arrived in LA, USA on April 15th. They visited iTalkBB’s Arcadia store and had a meeting with Mr. Yuan Xiao, Group Vice President and Ms. Victoria Lei, Executive Vice President of iTalkBB, along with iTalkBB’s management team.</p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2014 20140805" ng-show="newsAll||news2014">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2014</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">08 / </sup>05</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">ICNTV CEO and Management Team make a U.S. visit with iTalkBB to partner to improve Chinese TV overseas</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    Here’s another milestone for iTalkBB! On July 18th, we successfully held the Grand Opening Ceremony for iTalkBB’s Flushing Flagship store, the 29th retail store of iTalkBB family and the 4th store in the great New York city area. New York, San Francisco, Los Angeles, Toronto, Vancouver, Sydney, Melbourne and Singapore, iTalkBB always has its presence in Chinese most concentrated areas, providing the most thoughtful service to our customers.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2010 20100414" ng-show="newsAll||news2010">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2010</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">04 / </sup>14</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">The Yao Ming Foundation and iTalkBB Set Up New Free Hotline to Directly Reach Qinghai Earthquake</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    April 12, 2010 - A rapid series of strong earthquakes hit a mountainous and impoverished area of China's Qinghai province early Wednesday, killing 589 people and injuring over ten thousands. The Yao Ming Foundation and iTalkBB quickly responded to this disaster by providing a FREE hotline for the overseas Chinese to contact their friends and relatives in Qinghai.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2008 20080815" ng-show="newsAll||news2008">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2008</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">08 / </sup>15</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">You can have a Taiwan Local Number in the US and Canada now!</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    Thank you for supporting iTalkBB, we will start to provide the Taiwan Local Number feature in the US and Canada on August 15th, 2008 for advancing your convenience of communication.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2007 20071224" ng-show="newsAll||news2007">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2007</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">12 / </sup>24</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">iTalkBB US rates change notification</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    Due to increasing cost, starting December 24, 2007, we have to change our international rate for 8 countries. Please see below list of these counties and their rates:
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2006 20060509" ng-show="newsAll||news2006">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2006</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">05 / </sup>09</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">iTalkBB Announces Company Expansion</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    iTalk Global Communications, Inc. (iTalkBB), the pioneer in the Voice over Internet Protocol (VoIP) industry announces results from their 10-month campaign to outreach to the global Chinese market in the United States and Canada. Sales have exceeded 1000% growth. iTalkBB attributes the success to offering unique services tailored for the Chinese market with competitive pricing structures. Customers replace their traditional phone service plans, without changing their phone equipment, or changing their current phone numbers.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2005 20050927" ng-show="newsAll||news2005">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2005</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">09 / </sup>27</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">iTalkBB Announces Affinity Partnership with Sina.com Online</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    iTalk Global Communications, Inc. (iTalkBB), the pioneer in the Voice over Internet Protocol (VoIP) industry announce their affinity partnership with Sina.Com Online, a subsidiary of SINA Corporation, operates in the United States with a Chinese-language web site at http://home.sina.com that provides, among other services, locally-tailored news, entertainment, and lifestyle content.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2005 20050919" ng-show="newsAll||news2005">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2005</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">09 / </sup>19</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">iTalkBB and its Employees Support Gulf Coast Relief Efforts</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    Hurricane Katrina has had a devastating effect on the US Gulf Coast region. In the wake of this disaster, the hearts, minds, energy, and talents of iTalkBB employees are intensely focused on assisting relief efforts.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2005 20050608" ng-show="newsAll||news2005">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2005</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">06 / </sup>08</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">iTalkBB Opens Second Customer Service Center in China Customer Growth</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    iTalk Global Communications, Inc.'s (iTalkBB) focus to serve the global Chinese population has placed a heavy demand on the customer service center in Tysons Corner, Virginia.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2005 20050515" ng-show="newsAll||news2005">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2005</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">05 / </sup>15</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">iTalkBB Offers Customers a Unique China Phone Number</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    2005 iTalk Global Communications, Inc. (iTalkBB) is finding success in their initial marketing of Voice over Internet Protocol (VoIP) services to the Chinese population in the United States. This population is one of the top five ethnic categories placing long distance and international calls in America.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2005 20050101" ng-show="newsAll||news2005">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2005</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">01 / </sup>01</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">iTalkBB Offers Competitive Pricing to Ethnic Markets</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    iTalk Global Communications, Inc. (iTalkBB) announce the company's marketing focus will be to serve the ethnic communities, with initial marketing efforts on the global Chinese population. As the multicultural communities grow around the world, the need for these communities to place calls to family, friends, and business associates in their native countries increases.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>

                    <div class="newsAll news2004 20040601" ng-show="newsAll||news2004">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title30 mTitle38">2004</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">06 / </sup>01</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38">iTalk Global Communications Opens Corporate Office in Virginia</p>
                                <p class="newsBlockRightText pin title20 mTitle28">
                                    iTalk Global Communications, Inc. is announcing the opening of a new subsidiary and its Corporate Office in Tysons Corner, Virginia. The new subsidiary, called iTalk Global Communications, Inc. (iTalkBB), will focus on providing Voice over Internet Protocol (VoIP) services directly to customers.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="lineBlue mt0"></div>
    
    <div ng-include="'footer.html'"></div>

    <script>
        var app = angular.module('aboutNewsApp', []);
        app.controller('aboutNewsController', function($scope) {
            $scope.year='All News';
            $scope.newsAll=true;
            $scope.news2016=false;
            $scope.news2014=false;
            $scope.news2010=false;
            $scope.news2008=false;
            $scope.news2007=false;
            $scope.news2006=false;
            $scope.news2005=false;
            $scope.news2004=false;
            $scope.yearWhole = function(){
                $scope.year='All News';
                $scope.newsAll=true;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2016 = function(){
                $scope.year='2016';
                $scope.newsAll=false;
                $scope.news2016=true;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2014 = function(){
                $scope.year='2014';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=true;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2010 = function(){
                $scope.year='2010';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=true;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2008 = function(){
                $scope.year='2008';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=true;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2007 = function(){
                $scope.year='2007';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=true;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2006 = function(){
                $scope.year='2006';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=true;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2005 = function(){
                $scope.year='2005';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=true;
                $scope.news2004=false;
            };
            $scope.year2004 = function(){
                $scope.year='2004';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=true;
            };
        });
    </script>


    <script src="../shared/js/scroll-reveal.js"></script>
    <script>
        window.sr = ScrollReveal();
        sr.reveal('.newsAll', {duration: 2000});
    </script>
</body>
</html>