<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="UTF-8">
<title>iTalkBB-news</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="copyright" content="iTalkBB">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../shared/images/header/logo_bookmark.jpg"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="apple-itunes-app" content="app-id=514896649">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css"  href="../shared/css/bootstrap.min.css">
<link rel="stylesheet" href="../shared/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"  href="../shared/css/zh_common.css">
<link rel="stylesheet" type="text/css"  href="../shared/css/zh_about.css">
<link rel="stylesheet" type="text/css"  href="../shared/css/swiper2.css"> 
<link rel="stylesheet" type="text/css"  href="../shared/css/en_common.css">  
<script src="../shared/js/jquery-1.12.4.min.js"></script>
<script src="../shared/js/angular-1.6.4.min.js"></script>
<script src="../shared/js/imageMapResizer.js"></script>
<script src="../shared/js/common.js"></script>
<script src="../shared/js/iTalkBB-news.js"></script> 
<script src="../shared/js/swiper.min2.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42957008-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-42957008-1');
</script>

</head>


<body ng-app="aboutNewsApp" ng-controller="aboutNewsController" style="background:white;">
    <!-- Author: carson -->
    <div id="header"></div>

    <div class="container1920">
        <div class="mainLayout">
            <!--banner & menu begin-->
            <div id="iTalkBB-news-banner"></div>            
            <div id="iTalkBB-news-menu"></div>
            <!--banner & menu end-->

            <div class="newsBox mainMgn200">
                <div class="newsContentBlock">
                    <div class="yearContainer">
                        <div class="yearSelect clearfix">
                            <div class="yearSelectLeft">
                                <p class="yearText sans title22 mTitle30 fwb">{{year}}</p>
                            </div>
                            <div class="yearSelectRight">
                                <p class="org sans title28 mTitle36 yearRightArrow fwb">&or;</p>
                            </div>
                            <!--<div class="clear clearfix"></div>-->
                        </div>
                        <div class="otherYear" style="display:none;">
                            <div class="otherYearAll" ng-click="yearWhole()">
                                <p class="otherYearText sans title24 mTitle32 fwb">All News</p>
                            </div>
                            <div class="otherYear2016" ng-click="year2016()">
                                <p class="otherYearText sans title24 mTitle32 fwb">2016</p>
                            </div>
                            <div class="otherYear2014" ng-click="year2014()">
                                <p class="otherYearText sans title24 mTitle32 fwb">2014</p>
                            </div>
                            <div class="otherYear2010" ng-click="year2010()">
                                <p class="otherYearText sans title24 mTitle32 fwb">2010</p>
                            </div>
                            <div class="otherYear2008" ng-click="year2008()">
                                <p class="otherYearText sans title24 mTitle32 fwb">2008</p>
                            </div>
                            <div class="otherYear2007" ng-click="year2007()">
                                <p class="otherYearText sans title24 mTitle32 fwb">2007</p>
                            </div>
                            <div class="otherYear2006" ng-click="year2006()">
                                <p class="otherYearText sans title24 mTitle32 fwb">2006</p>
                            </div>
                            <div class="otherYear2005" ng-click="year2005()">
                                <p class="otherYearText sans title24 mTitle32 fwb">2005</p>
                            </div>
                            <div class="otherYear2004" ng-click="year2004()">
                                <p class="otherYearText sans title24 mTitle32 fwb">2004</p>
                            </div>
                        </div>
                    </div>


                    <a href="zNews20160719.html">
                        <div class="newsAll news2016 20160719" ng-show="newsAll||news2016">
                            <div class="newsBlock">
                                <div class="newsBlockLeft sans">
                                    <p class="newsBlockLeftYear title28 mTitle36">2016</p>
                                    <p class="newsBlockLeftDate"><sup class="fontAdjust title28 mTitle36">07 / </sup>19</p>
                                </div>
                                <div class="newsBlockRight">
                                    <p class="titleMgnBtm newsBlockRightTitle title28 mTitle36 pin fwb">
                                     iTalkBB Unveils Chinese Name and New Logo
                                    </p>
                                    <p class="newsBlockRightText text16 mText24">iTalkBB, the world's leading Chinese telecommunication service provider, has announced its Chinese name and new logo. <span class="hideM">While retaining its English name, iTalkBB has added two Chinese characters "Qing Ting", which means dragonfly, to its brand name and logo.</span>
                                    </p>
                                </div>
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                    </a>

                    <a href="zNews20160503.html">
                        <div class="newsAll news2016 20160503" ng-show="newsAll||news2016">
                            <div class="newsBlock">
                                <div class="newsBlockLeft">
                                    <p class="newsBlockLeftYear sans title28 mTitle36">2016</p>
                                    <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">05 / </sup>03</p>
                                </div>
                                <div class="newsBlockRight">
                                    <p class="titleMgnBtm newsBlockRightTitle title28 mTitle36 pin fwb">
                                       ICNTV CEO and Management Team make a U.S. visit
                                    </p>
                                    <p class="newsBlockRightText text16 mText24">
                                        CEO of ICNTV. Inc, Mr. Zhihui Xiong and his management team arrived in LA, USA on April 15th. <span class="hideM">They visited iTalkBB’s Arcadia store and had a meeting with Mr. Yuan Xiao, Group Vice President and Ms. Victoria Lei, Executive Vice President of iTalkBB, along with iTalkBB’s management team.</span>
                                    </p>
                                </div>
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                    </a>
                   
                    <a href="zNews20140804.html">
                        <div class="newsAll news2014 20140804" ng-show="newsAll||news2014">
                            <div class="newsBlock">
                                <div class="newsBlockLeft">
                                    <p class="newsBlockLeftYear sans title28 mTitle36">2014</p>
                                    <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">08 / </sup>04</p>
                                </div>
                                <div class="newsBlockRight">
                                    <p class="titleMgnBtm newsBlockRightTitle title28 mTitle36 pin fwb">
                                      iTalkBB Flagship Store Grand Opening a Great Success
                                    </p>
                                    <p class="newsBlockRightText text16 mText24">
                                        Here’s another milestone for iTalkBB! On July 18th, we successfully held the Grand Opening Ceremony for iTalkBB’s Flushing Flagship store. <span class="hideM">iTalkBB always has its presence in Chinese most concentrated areas, providing the most thoughtful service to our customers.</span>
                                    </p>
                                </div>
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                    </a>

                    <a href="zNews20080815.html">
                        <div class="newsAll news2010 20100414" ng-show="newsAll||news2010">
                            <div class="newsBlock">
                                <div class="newsBlockLeft">
                                    <p class="newsBlockLeftYear sans title28 mTitle36">2010</p>
                                    <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">04 / </sup>14</p>
                                </div>
                                <div class="newsBlockRight">
                                    <p class="titleMgnBtm newsBlockRightTitle title28 mTitle36 pin fwb">
                                     The Yao Foundation and iTalkBB Set Up Free Hotline for Earthquake
                                    </p>
                                    <p class="newsBlockRightText text16 mText24">April 12, 2010 - A rapid series of strong earthquakes hit a mountainous and impoverished area of China's Qinghai province early Wednesday, <span class="hideM">killing 589 people and injuring over ten thousands. The Yao Ming Foundation and iTalkBB quickly responded to this disaster by providing a FREE hotline for the overseas Chinese to contact their friends and relatives in Qinghai.</span></p>
                                </div>
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="newsAll news2008 20080815" ng-show="newsAll||news2008">
                            <div class="newsBlock">
                                <div class="newsBlockLeft">
                                    <p class="newsBlockLeftYear sans title28 mTitle36">2008</p>
                                    <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">08 / </sup>15</p>
                                </div>
                                <div class="newsBlockRight">
                                    <p class="titleMgnBtm newsBlockRightTitle title28 mTitle36 pin fwb">
                                     You can have a Taiwan Local Number in the US and Canada now!
                                    </p>
                                    <p class="newsBlockRightText text16 mText24"> Thank you for supporting iTalkBB, we will start to provide the Taiwan Local Number feature in the US and Canada <span class="hideM">on August 15th, 2008 for advancing your convenience of communication.</span></p>
                                </div>
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="newsAll news2007 20071224" ng-show="newsAll||news2007">
                            <div class="newsBlock">
                                <div class="newsBlockLeft">
                                    <p class="newsBlockLeftYear sans title28 mTitle36">2007</p>
                                    <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">12 / </sup>24</p>
                                </div>
                                <div class="newsBlockRight">
                                    <p class="titleMgnBtm newsBlockRightTitle title28 mTitle36 pin fwb">
                                      iTalkBB US rates change notification
                                    </p>
                                    <p class="newsBlockRightText text16 mText24">Due to increasing cost, starting December 24, 2007, we have to change our international rate for 8 countries. <span class="hideM">Please see below list of these counties and their rates:</span>
                                    </p>
                                </div>
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                    </a>
                   
                    <a href="">
                        <div class="newsAll news2006 20060509" ng-show="newsAll||news2006">
                            <div class="newsBlock">
                                <div class="newsBlockLeft">
                                    <p class="newsBlockLeftYear sans title28 mTitle36">2006</p>
                                    <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">05 / </sup>09</p>
                                </div>
                                <div class="newsBlockRight">
                                    <p class="titleMgnBtm newsBlockRightTitle title28 mTitle36 pin fwb">
                                      iTalkBB Announces Company Expansion
                                    </p>
                                    <p class="newsBlockRightText text16 mText24">iTalkBB, the pioneer in VoIP industry announces results from their 10-month campaign to outreach to the global Chinese market in the United States and Canada. <span class="hideM">Sales have exceeded 1000% growth. iTalkBB attributes the success to offering unique services tailored for the Chinese market with competitive pricing structures.</span></p>
                                </div>
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                    </a>                   

                    <a href="">
                        <div class="newsAll news2005 20050927" ng-show="newsAll||news2005">
                            <div class="newsBlock">
                                <div class="newsBlockLeft">
                                    <p class="newsBlockLeftYear sans title28 mTitle36">2005</p>
                                    <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">09 / </sup>27</p>
                                </div>
                                <div class="newsBlockRight">
                                    <p class="titleMgnBtm newsBlockRightTitle title28 mTitle36 pin fwb">
                                      iTalkBB Announces Affinity Partnership with Sina.com
                                    </p>
                                    <p class="newsBlockRightText text16 mText24">iTalkBB, the pioneer in VoIP industry announce their affinity partnership with Sina.Com Online, a subsidiary of SINA Corporation<span class="hideM">, operates in the United States with a Chinese-language web site at http://home.sina.com that provides, among other services, locally-tailored news, entertainment, and lifestyle content</span>.</p>
                                </div>
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="aboutNews20050919.html">
                    <div class="newsAll news2005 20050919" ng-show="newsAll||news2005">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title28 mTitle36">2005</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">09 / </sup>19</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title28 mTitle36 fwb">iTalkBB and its Employees Support Gulf Coast Relief Efforts</p>
                                <p class="newsBlockRightText text16 mText24">
                                    Hurricane Katrina has had a devastating effect on the US Gulf Coast region. <span class="hideM">In the wake of this disaster, the hearts, minds, energy, and talents of iTalkBB employees are intensely focused on assisting relief efforts.</span>
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div></a>

                    <a href="aboutNews20050608.html">
                    <div class="newsAll news2005 20050608" ng-show="newsAll||news2005">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title28 mTitle36">2005</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">06 / </sup>08</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title28 mTitle36 fwb">iTalkBB Opens Second Customer Service Center in China Customer Growth</p>
                                <p class="newsBlockRightText text16 mText24">
                                    iTalkBB, focusing to serve the global Chinese population has placed a heavy demand on the customer service center in Tysons Corner, Virginia.
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div></a>

                    <a href="aboutNews20050515.html">
                    <div class="newsAll news2005 20050515" ng-show="newsAll||news2005">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title28 mTitle36">2005</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">05 / </sup>15</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title28 mTitle36 fwb">iTalkBB Offers Customers a Unique China Phone Number</p>
                                <p class="newsBlockRightText text16 mText24">
                                    iTalkBB is finding success in their initial marketing of VoIP services to the Chinese population in the United States. <span class="hideM">This population is one of the top five ethnic categories placing long distance and international calls in America.</span>
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div></a>

                    <a href="aboutNews20050101.html">
                    <div class="newsAll news2005 20050101" ng-show="newsAll||news2005">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title28 mTitle36">2005</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title28 mTitle36">01 / </sup>01</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title28 mTitle36 fwb">iTalkBB Offers Competitive Pricing to Ethnic Markets</p>
                                <p class="newsBlockRightText text16 mText24">
                                    iTalkBB announces the company's marketing focus will be to serve the ethnic communities, with initial marketing efforts on the global Chinese population. <span class="hideM">As the multicultural communities grow around the world, the need for these communities to place calls to family, friends, and business associates in their native countries increases.</span>
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>
                    </a>
                    
                    <a href="aboutNews20040601.html">
                    <div class="newsAll news2004 20040601" ng-show="newsAll||news2004">
                        <div class="newsBlock">
                            <div class="newsBlockLeft">
                                <p class="newsBlockLeftYear sans title28 mTitle36">2004</p>
                                <p class="newsBlockLeftDate sans"><sup class="fontAdjust title30 mTitle38">06 / </sup>01</p>
                            </div>
                            <div class="newsBlockRight">
                                <p class="newsBlockRightTitle pin title30 mTitle38 fwb">iTalk Global Communications Opens Corporate Office in Virginia</p>
                                <p class="newsBlockRightText pin text16 mText24">
                                    iTalk Global Communications, Inc. is announcing the opening of a new subsidiary and its Corporate Office in Tysons Corner, Virginia. <span class="hideM">The new subsidiary, called iTalk Global Communications, Inc. (iTalkBB), will focus on providing Voice over Internet Protocol (VoIP) services directly to customers.</span>
                                </p>
                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="lineBlue mt0"></div>
    
    <div id="footer"></div>    
    <script> 
	   $('#header').load('header.html');
	   $('#iTalkBB-news-banner').load('iTalkBB-news-banner.html');
	   $('#iTalkBB-news-menu').load('iTalkBB-news-menu.html');
	   $('#footer').load('footer.html');    
	</script>

    <script>
        var app = angular.module('aboutNewsApp', []);
        app.controller('aboutNewsController', function($scope) {
            $scope.year='All News';
            $scope.newsAll=true;
            $scope.news2016=false;
            $scope.news2014=false;
            $scope.news2010=false;
            $scope.news2008=false;
            $scope.news2007=false;
            $scope.news2006=false;
            $scope.news2005=false;
            $scope.news2004=false;
            $scope.yearWhole = function(){
                $scope.year='All News';
                $scope.newsAll=true;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2016 = function(){
                $scope.year='2016';
                $scope.newsAll=false;
                $scope.news2016=true;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2014 = function(){
                $scope.year='2014';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=true;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2010 = function(){
                $scope.year='2010';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=true;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2008 = function(){
                $scope.year='2008';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=true;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2007 = function(){
                $scope.year='2007';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=true;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2006 = function(){
                $scope.year='2006';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=true;
                $scope.news2005=false;
                $scope.news2004=false;
            };
            $scope.year2005 = function(){
                $scope.year='2005';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=true;
                $scope.news2004=false;
            };
            $scope.year2004 = function(){
                $scope.year='2004';
                $scope.newsAll=false;
                $scope.news2016=false;
                $scope.news2014=false;
                $scope.news2010=false;
                $scope.news2008=false;
                $scope.news2007=false;
                $scope.news2006=false;
                $scope.news2005=false;
                $scope.news2004=true;
            };
        });
    </script>


    <script src="../shared/js/scroll-reveal.js"></script>
    <script>
        window.sr = ScrollReveal();
        sr.reveal('.newsAll', {duration: 2000});
    </script>
</body>
</html>